TM.SaaS.OA/WF/SMT.Workflow/SMT.Workflow.Engine/SMT.Workflow.Engine.BLL/Service References/SMSService/SMSService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.SMS.Services.HL95" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.SMS.Services.HL95" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SendMessageResponse">
    <xs:sequence>
      <xs:element name="errmsgField" nillable="true" type="xs:string" />
      <xs:element name="groupidField" type="xs:int" />
      <xs:element name="stateField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendMessageResponse" nillable="true" type="tns:SendMessageResponse" />
</xs:schema>