TM.SaaS.OA/WF/SMT.Workflow/SMT.Workflow.Engine/SMT.Workflow.Engine.BLL/Service References/SMSService/SMSService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.30.50.83:8300/SmtOnline/Services/SMS/SMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.SMS.EFModel" />
  <xs:import schemaLocation="http://172.30.50.83:8300/SmtOnline/Services/SMS/SMSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.SMS.Services.HL95" />
  <xs:import schemaLocation="http://172.30.50.83:8300/SmtOnline/Services/SMS/SMSService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SendMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.SaaS.SMS.EFModel" minOccurs="0" name="entityList" nillable="true" type="q1:ArrayOfMessageEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMsgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMsgResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageByMessageEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT.SaaS.SMS.EFModel" minOccurs="0" name="entityList" nillable="true" type="q2:ArrayOfMessageEntity" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageByMessageEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMessageByMessageEntityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendContent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moiblelist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT.SaaS.SMS.Services.HL95" minOccurs="0" name="SendMessageResult" nillable="true" type="q3:SendMessageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGroupMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GroupMessage" nillable="true" type="q4:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGroupMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT.SaaS.SMS.Services.HL95" minOccurs="0" name="SendGroupMessageResult" nillable="true" type="q5:SendMessageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>