TM.SaaS.OA/WF/SMT.Workflow/SMT.Workflow.Engine/SMT.Workflow.Engine.BLL/Service References/SMSService/SMSService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SMSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.30.50.83:8300/SmtOnline/Services/SMS/SMSService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.30.50.83:8300/SmtOnline/Services/SMS/SMSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.30.50.83:8300/SmtOnline/Services/SMS/SMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.SMS.EFModel" />
      <xsd:import schemaLocation="http://172.30.50.83:8300/SmtOnline/Services/SMS/SMSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.SMS.Services.HL95" />
      <xsd:import schemaLocation="http://172.30.50.83:8300/SmtOnline/Services/SMS/SMSService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISMSService_SendMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMsg" />
  </wsdl:message>
  <wsdl:message name="ISMSService_SendMsg_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMsgResponse" />
  </wsdl:message>
  <wsdl:message name="ISMSService_SendMessageByMessageEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageByMessageEntity" />
  </wsdl:message>
  <wsdl:message name="ISMSService_SendMessageByMessageEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageByMessageEntityResponse" />
  </wsdl:message>
  <wsdl:message name="ISMSService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="ISMSService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ISMSService_SendGroupMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendGroupMessage" />
  </wsdl:message>
  <wsdl:message name="ISMSService_SendGroupMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendGroupMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="ISMSService">
    <wsdl:operation name="SendMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMSService/SendMsg" message="tns:ISMSService_SendMsg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMSService/SendMsgResponse" message="tns:ISMSService_SendMsg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageByMessageEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMSService/SendMessageByMessageEntity" message="tns:ISMSService_SendMessageByMessageEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMSService/SendMessageByMessageEntityResponse" message="tns:ISMSService_SendMessageByMessageEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMSService/SendMessage" message="tns:ISMSService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMSService/SendMessageResponse" message="tns:ISMSService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendGroupMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMSService/SendGroupMessage" message="tns:ISMSService_SendGroupMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMSService/SendGroupMessageResponse" message="tns:ISMSService_SendGroupMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISMSService" type="tns:ISMSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMsg">
      <soap:operation soapAction="http://tempuri.org/ISMSService/SendMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageByMessageEntity">
      <soap:operation soapAction="http://tempuri.org/ISMSService/SendMessageByMessageEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/ISMSService/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendGroupMessage">
      <soap:operation soapAction="http://tempuri.org/ISMSService/SendGroupMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSService">
    <wsdl:port name="BasicHttpBinding_ISMSService" binding="tns:BasicHttpBinding_ISMSService">
      <soap:address location="http://172.30.50.83:8300/SmtOnline/Services/SMS/SMSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>