TM.SaaS.OA/WF/SMT.Workflow/SMT.Workflow.Engine/SMT.Workflow.Engine.BLL/Service References/SMSService/SMSService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.SMS.EFModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.SMS.EFModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMessageEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageEntity" nillable="true" type="tns:MessageEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageEntity" nillable="true" type="tns:ArrayOfMessageEntity" />
  <xs:complexType name="MessageEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCOUNTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SENDMESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SENDTIME" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SMSTYPE" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageEntity" nillable="true" type="tns:MessageEntity" />
</xs:schema>