源码/SMT.SaaS.Permission/SMT.SaaS.Permission.BLL/Service References/HrInstantMessageWS/InstantMessagingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smtonlineserver/SmtOnline/Develop/Services/HR/InstantMessagingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT.HRM.BLL" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompany">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.HRM.BLL" minOccurs="0" name="GetAllCompanyResult" nillable="true" type="q1:ArrayOfCompanyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT.HRM.BLL" minOccurs="0" name="GetAllDepartmentResult" nillable="true" type="q2:ArrayOfDepartmentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT.HRM.BLL" minOccurs="0" name="GetAllEmployeeResult" nillable="true" type="q3:ArrayOfEmployeeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingelEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingelEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT.HRM.BLL" minOccurs="0" name="GetSingelEmployeeResult" nillable="true" type="q4:EmployeeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>