TM.SaaS.OA/FrameWork/SMT.Saas.Tools/Service References/PermissionWS/PermissionService20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.Permission.CustomerModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Permission.CustomerModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfV_RoleUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_RoleUserInfo" nillable="true" type="tns:V_RoleUserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_RoleUserInfo" nillable="true" type="tns:ArrayOfV_RoleUserInfo" />
  <xs:complexType name="V_RoleUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTMENTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEECNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEECODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEEENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEEPOSTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEESTATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FINGERPRINTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDNUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISAGENCY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OFFICEPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTLEVEL" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="POSTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEX" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_RoleUserInfo" nillable="true" type="tns:V_RoleUserInfo" />
  <xs:complexType name="ArrayOfT_SYS_ROLE_V">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_SYS_ROLE_V" nillable="true" type="tns:T_SYS_ROLE_V" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_SYS_ROLE_V" nillable="true" type="tns:ArrayOfT_SYS_ROLE_V" />
  <xs:complexType name="T_SYS_ROLE_V">
    <xs:sequence>
      <xs:element minOccurs="0" name="OWNERCOMPANYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERDEPARTMENTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROLEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROLENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYSTTMTYPENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_SYS_ROLE_V" nillable="true" type="tns:T_SYS_ROLE_V" />
  <xs:complexType name="ArrayOfFbMenuPermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FbMenuPermission" nillable="true" type="tns:FbMenuPermission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFbMenuPermission" nillable="true" type="tns:ArrayOfFbMenuPermission" />
  <xs:complexType name="FbMenuPermission">
    <xs:sequence>
      <xs:element minOccurs="0" name="menuID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="menuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="permissionText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="permissionVlaue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FbMenuPermission" nillable="true" type="tns:FbMenuPermission" />
  <xs:complexType name="ArrayOfV_SupperFbAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_SupperFbAdmin" nillable="true" type="tns:V_SupperFbAdmin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_SupperFbAdmin" nillable="true" type="tns:ArrayOfV_SupperFbAdmin" />
  <xs:complexType name="V_SupperFbAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanSetCompanyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SysUserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_SupperFbAdmin" nillable="true" type="tns:V_SupperFbAdmin" />
</xs:schema>