TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/EngineConfigWS/EngineWcfGlobalFunction1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfT_WF_AUDITSCOPE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_WF_AUDITSCOPE" nillable="true" type="tns:T_WF_AUDITSCOPE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_WF_AUDITSCOPE" nillable="true" type="tns:ArrayOfT_WF_AUDITSCOPE" />
  <xs:complexType name="T_WF_AUDITSCOPE">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATEUSER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCOPEID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_WF_AUDITSCOPE" nillable="true" type="tns:T_WF_AUDITSCOPE" />
</xs:schema>