TM.SaaS.OA/PM/SMT.SaaS.Permission.BLL/Service References/PersonalRecordWS/PersonalRecordService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://portal.smt-online.net/Services/Main/PersonalRecordService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" />
  <xs:import schemaLocation="http://portal.smt-online.net/Services/Main/PersonalRecordService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddPersonalRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="model" nillable="true" type="q1:T_PF_PERSONALRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonalRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPersonalRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonalRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="models" nillable="true" type="q2:ArrayOfT_PF_PERSONALRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonalRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPersonalRecordsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonalRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="model" nillable="true" type="q3:T_PF_PERSONALRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonalRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePersonalRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonalRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_personalrecordID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonalRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePersonalRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalRecordModelByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_personalrecordID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalRecordModelByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetPersonalRecordModelByIDResult" nillable="true" type="q4:T_PF_PERSONALRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalRecordModelByModelID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_sysType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_modelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_modelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_IsForward" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalRecordModelByModelIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetPersonalRecordModelByModelIDResult" nillable="true" type="q5:T_PF_PERSONALRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalRecordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q6:ArrayOfanyType" />
        <xs:element minOccurs="0" name="strCreateDateFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCreateDateTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="strCheckState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOwnerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalRecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetPersonalRecordListResult" nillable="true" type="q7:ArrayOfT_PF_PERSONALRECORD" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>