TM.SaaS.OA/PM/SMT.SaaS.Permission.BLL/Service References/PersonalRecordWS/PersonalRecordService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://portal.smt-online.net/Services/Main/PersonalRecordService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="T_PF_PERSONALRECORD">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CHECKSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONFIGINFO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ISFORWARD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISVIEW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODELCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODELDESCRIPTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODELID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PERSONALRECORDID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SYSTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_PF_PERSONALRECORD" nillable="true" type="tns:T_PF_PERSONALRECORD" />
  <xs:complexType name="ArrayOfT_PF_PERSONALRECORD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_PF_PERSONALRECORD" nillable="true" type="tns:T_PF_PERSONALRECORD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_PF_PERSONALRECORD" nillable="true" type="tns:ArrayOfT_PF_PERSONALRECORD" />
</xs:schema>