SMT.SaaS.OANew/SMT.SaaS.OA.UI/Service References/SmtOACommonOfficeService/SmtOACommonOffice95.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smtonlineserver/SmtOnline/Services/OA/SmtOACommonOffice.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
  <xs:complexType name="ArrayOfV_BumfCompanySendDoc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_BumfCompanySendDoc" nillable="true" type="tns:V_BumfCompanySendDoc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_BumfCompanySendDoc" nillable="true" type="tns:ArrayOfV_BumfCompanySendDoc" />
  <xs:complexType name="V_BumfCompanySendDoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guids" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="OACompanySendDoc" nillable="true" type="q1:T_OA_SENDDOC" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="doctype" nillable="true" type="q2:T_OA_SENDDOCTYPE" />
      <xs:element minOccurs="0" name="flowApp" nillable="true" type="tns:V_FlowAPP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_BumfCompanySendDoc" nillable="true" type="tns:V_BumfCompanySendDoc" />
  <xs:complexType name="V_FlowAPP">
    <xs:sequence>
      <xs:element minOccurs="0" name="EditUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_FlowAPP" nillable="true" type="tns:V_FlowAPP" />
  <xs:complexType name="ArrayOfV_MeetingRoomApp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_MeetingRoomApp" nillable="true" type="tns:V_MeetingRoomApp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_MeetingRoomApp" nillable="true" type="tns:ArrayOfV_MeetingRoomApp" />
  <xs:complexType name="V_MeetingRoomApp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guids" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowApp" nillable="true" type="tns:V_FlowAPP" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="room" nillable="true" type="q3:T_OA_MEETINGROOM" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="roomapp" nillable="true" type="q4:T_OA_MEETINGROOMAPP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_MeetingRoomApp" nillable="true" type="tns:V_MeetingRoomApp" />
  <xs:complexType name="ArrayOfV_MyMeetingInfosManagement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_MyMeetingInfosManagement" nillable="true" type="tns:V_MyMeetingInfosManagement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_MyMeetingInfosManagement" nillable="true" type="tns:ArrayOfV_MyMeetingInfosManagement" />
  <xs:complexType name="V_MyMeetingInfosManagement">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="OAMeetingContentT" nillable="true" type="q5:T_OA_MEETINGCONTENT" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="OAMeetingInfoT" nillable="true" type="q6:T_OA_MEETINGINFO" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="OAMeetingStaffT" nillable="true" type="q7:T_OA_MEETINGSTAFF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_MyMeetingInfosManagement" nillable="true" type="tns:V_MyMeetingInfosManagement" />
  <xs:complexType name="ArrayOfV_MeetingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_MeetingInfo" nillable="true" type="tns:V_MeetingInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_MeetingInfo" nillable="true" type="tns:ArrayOfV_MeetingInfo" />
  <xs:complexType name="V_MeetingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guids" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowApp" nillable="true" type="tns:V_FlowAPP" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="meetinginfo" nillable="true" type="q8:T_OA_MEETINGINFO" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="meetingroom" nillable="true" type="q9:T_OA_MEETINGROOM" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="meetingtype" nillable="true" type="q10:T_OA_MEETINGTYPE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_MeetingInfo" nillable="true" type="tns:V_MeetingInfo" />
</xs:schema>