SMT.SaaS.FrameWorkUI/SMT.Saas.Tools/Service References/OACommonAdminWS/SmtOACommonAdmin4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.1.57/New/Services/OA/SmtOACommonAdmin.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://172.16.1.57/New/Services/OA/SmtOACommonAdmin.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfT_OA_CONSERVATIONUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_CONSERVATION" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_CONSERVATIONUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_CONSERVATIONUlJdEHjk" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfT_OA_VEHICLEUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_VEHICLE" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_VEHICLEUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_VEHICLEUlJdEHjk" />
  <xs:complexType name="EntityReferenceOfT_OA_MAINTENANCEAPPUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_MAINTENANCEAPP" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_MAINTENANCEAPPUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_MAINTENANCEAPPUlJdEHjk" />
  <xs:complexType name="EntityReferenceOfT_OA_VEHICLEDISPATCHDETAILUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_VEHICLEDISPATCHDETAIL" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_VEHICLEDISPATCHDETAILUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_VEHICLEDISPATCHDETAILUlJdEHjk" />
  <xs:complexType name="EntityReferenceOfT_OA_VEHICLEDISPATCHUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_VEHICLEDISPATCH" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_VEHICLEDISPATCHUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_VEHICLEDISPATCHUlJdEHjk" />
  <xs:complexType name="EntityReferenceOfT_OA_VEHICLEUSEAPPUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_VEHICLEUSEAPP" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_VEHICLEUSEAPPUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_VEHICLEUSEAPPUlJdEHjk" />
  <xs:complexType name="EntityReferenceOfT_OA_HIREAPPUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_HIREAPP" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_HIREAPPUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_HIREAPPUlJdEHjk" />
  <xs:complexType name="EntityReferenceOfT_OA_HOUSELISTUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_HOUSELIST" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_HOUSELISTUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_HOUSELISTUlJdEHjk" />
  <xs:complexType name="EntityReferenceOfT_OA_HOUSEINFOISSUANCEUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_HOUSEINFOISSUANCE" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_HOUSEINFOISSUANCEUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_HOUSEINFOISSUANCEUlJdEHjk" />
  <xs:complexType name="EntityReferenceOfT_OA_HOUSEINFOUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_HOUSEINFO" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_HOUSEINFOUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_HOUSEINFOUlJdEHjk" />
  <xs:complexType name="EntityReferenceOfT_OA_SENDDOCTYPEUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_SENDDOCTYPE" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_SENDDOCTYPEUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_SENDDOCTYPEUlJdEHjk" />
</xs:schema>