TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/MailService/MailService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.1.23/services/MailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMTIM.Application.DataObjects" />
  <xs:element name="AddDept">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMTIM.Application.DataObjects" minOccurs="0" name="mailDept" nillable="true" type="q1:MailDept" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDeptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDept">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMTIM.Application.DataObjects" minOccurs="0" name="mailDept" nillable="true" type="q2:MailDept" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDeptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDept">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDeptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelDeptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMTIM.Application.DataObjects" minOccurs="0" name="mailUser" nillable="true" type="q3:MailUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMTIM.Application.DataObjects" minOccurs="0" name="mailUser" nillable="true" type="q4:MailUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mailBox" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDomainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDomainResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDomainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelDomainResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mailbox" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMailListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowMailMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mailbox" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowMailMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShowMailMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeptMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeptMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDeptMemberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDeptMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDeptMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelDeptMemberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMTIM.Application.DataObjects" minOccurs="0" name="list" nillable="true" type="q5:ArrayOfHREmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Freeze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="act" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FreezeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FreezeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>