TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/WPServicesWS/WPServices5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT.Portal.Communication" />
  <xs:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd4" namespace="SMT.QueryObjects" />
  <xs:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common.Query" />
  <xs:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" />
  <xs:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/SMT.Portal.Model" />
  <xs:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/SMT.WP.Model.Entities" />
  <xs:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/SMT.WP.Services" />
  <xs:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/SMT.WP.Model" />
  <xs:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/SMT.WP.Model.FeeModel" />
  <xs:element name="CallApplicationService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallWaitAppService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallWaitAppServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallWaitAppServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventTriggerProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="param" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.Portal.Communication" minOccurs="0" name="baseObject" nillable="true" type="q1:BaseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT.Portal.Communication" minOccurs="0" name="ExecuteResult" nillable="true" type="q2:ResultObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCheckState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EntityType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EntityKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EntityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CheckStates" type="xs:int" />
        <xs:element minOccurs="0" name="strXmlParams" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCheckStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCheckStateResult" type="xs:int" />
        <xs:element minOccurs="0" name="strOutMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="SMT.QueryObjects" minOccurs="0" name="expression" nillable="true" type="q3:QueryExpression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common.Query" minOccurs="0" name="QueryResult" nillable="true" type="q4:QueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" minOccurs="0" name="expression" nillable="true" type="q5:SaveExpression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" minOccurs="0" name="SaveResult" nillable="true" type="q6:SaveResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMT.Portal.Model" minOccurs="0" name="ListSubjectResult" nillable="true" type="q7:ArrayOfT_FB_SUBJECT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSubjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSubjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SMT.Portal.Model" minOccurs="0" name="ListSubjectsResult" nillable="true" type="q8:ArrayOfT_FB_SUBJECT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMT.WP.Model.Entities" minOccurs="0" name="GetQueryResult" nillable="true" type="q9:ArrayOfRunModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SMT.WP.Model.Entities" minOccurs="0" name="GetLastQueryResult" nillable="true" type="q10:ArrayOfQueryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SMT.WP.Services" minOccurs="0" name="reim" nillable="true" type="q11:ReimbursementEntity" />
        <xs:element minOccurs="0" name="strErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLoanCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strApplyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterTaskResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLoanCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strApplyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SMT.WP.Services" minOccurs="0" name="reim" nillable="true" type="q12:ReimbursementEntity" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SMT.WP.Services" minOccurs="0" name="status" type="q13:TaskStatus" />
        <xs:element minOccurs="0" name="strErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeStatusResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pempId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="GetPostEmpSummaryResult" nillable="true" type="q14:T_WP_POSTEMPSUMMARY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryByFormId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryByFormIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="GetPostEmpSummaryByFormIdResult" nillable="true" type="q15:T_WP_POSTEMPSUMMARY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pempId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="GetPostEmpSummaryPlanResult" nillable="true" type="q16:ArrayOfT_WP_POSTEMPSUMMARYPLAN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryPlanDetial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pempId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryPlanDetialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="GetPostEmpSummaryPlanDetialResult" nillable="true" type="q17:ArrayOfT_WP_POSTEMPSUMMARYPLANDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryPlanFix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pempId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryPlanFixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="GetPostEmpSummaryPlanFixResult" nillable="true" type="q18:ArrayOfT_WP_POSTEMPSUMMARYPLANFIX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryPlanIncome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pempId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryPlanIncomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="GetPostEmpSummaryPlanIncomeResult" nillable="true" type="q19:ArrayOfT_WP_POSTEMPSUMMARYPLANINCOME" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryExec">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pempId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryExecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="GetPostEmpSummaryExecResult" nillable="true" type="q20:ArrayOfT_WP_POSTEMPSUMMARYEXEC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryExecDetial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pempId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryExecDetialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="GetPostEmpSummaryExecDetialResult" nillable="true" type="q21:ArrayOfT_WP_POSTEMPSUMMARYEXECDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryExecFix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pempId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryExecFixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="GetPostEmpSummaryExecFixResult" nillable="true" type="q22:ArrayOfT_WP_POSTEMPSUMMARYEXECFIX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryExecIncome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pempId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostEmpSummaryExecIncomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="GetPostEmpSummaryExecIncomeResult" nillable="true" type="q23:ArrayOfT_WP_POSTEMPSUMMARYEXECINCOME" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertEntityToXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pempId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertEntityToXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertEntityToXmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostEmpSummaryPlanRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="postEmpSummary" nillable="true" type="q24:T_WP_POSTEMPSUMMARY" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostEmpSummaryPlanRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPostEmpSummaryPlanRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViewTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orgId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateRange" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="orgPostId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViewTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="GetViewTasksResult" nillable="true" type="q25:ArrayOfVIEW_MYTASKS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="employee" nillable="true" type="q26:VIEW_EMPLOYEE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeePlanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeePlanTimingTrigger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeePlanTimingTriggerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeCanPostChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeCanPostChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeCanPostChangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeePostChangeAuditPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromPostId" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="employee" nillable="true" type="q27:VIEW_EMPLOYEE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeePostChangeAuditPassResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FunsAllocated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSubmit" type="xs:boolean" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SMT.WP.Model.FeeModel" minOccurs="0" name="listFuns" nillable="true" type="q28:ArrayOfV_EmployeeFuns" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunsAllocatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunsAllocatedResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunsPaied">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SMT.WP.Model.FeeModel" minOccurs="0" name="funs" nillable="true" type="q29:EmployeeFuns" />
        <xs:element minOccurs="0" name="isSubmit" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunsPaiedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunsPaiedResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBussinessTripID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="GetTripSubjectResult" nillable="true" type="q30:ArrayOfBussinessTripBudget" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TripSubjectPaid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBussinessTripID" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="listTripBudget" nillable="true" type="q31:ArrayOfBussinessTripBudget" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TripSubjectPaidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TripSubjectPaidResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TripSubjectSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBussinessTripID" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SMT.WP.Model" minOccurs="0" name="listTripBudget" nillable="true" type="q32:ArrayOfBussinessTripBudget" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TripSubjectSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TripSubjectSaveResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>