TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/WPServicesWS/WPServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WPServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT.Portal.Communication" />
      <xsd:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd4" namespace="SMT.QueryObjects" />
      <xsd:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common.Query" />
      <xsd:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" />
      <xsd:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/SMT.Portal.Model" />
      <xsd:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/SMT.WP.Model.Entities" />
      <xsd:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/SMT.WP.Services" />
      <xsd:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/SMT.WP.Model" />
      <xsd:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/SMT.WP.Model.FeeModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationService_CallApplicationService_InputMessage">
    <wsdl:part name="parameters" element="tns:CallApplicationService" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CallWaitAppService_InputMessage">
    <wsdl:part name="parameters" element="tns:CallWaitAppService" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CallWaitAppService_OutputMessage">
    <wsdl:part name="parameters" element="tns:CallWaitAppServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IEventTriggerProcess_EventTriggerProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:EventTriggerProcess" />
  </wsdl:message>
  <wsdl:message name="IWPServices_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="IWPServices_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_UpdateCheckState_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCheckState" />
  </wsdl:message>
  <wsdl:message name="IWPServices_UpdateCheckState_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCheckStateResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IWPServices_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IWPServices_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_ListSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSubject" />
  </wsdl:message>
  <wsdl:message name="IWPServices_ListSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_ListSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSubjects" />
  </wsdl:message>
  <wsdl:message name="IWPServices_ListSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuery" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetLastQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastQuery" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetLastQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_RegisterTask_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTask" />
  </wsdl:message>
  <wsdl:message name="IWPServices_RegisterTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_ChangeStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatus" />
  </wsdl:message>
  <wsdl:message name="IWPServices_ChangeStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummary" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryByFormId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryByFormId" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryByFormId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryByFormIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryPlan" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryPlanDetial_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryPlanDetial" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryPlanDetial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryPlanDetialResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryPlanFix_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryPlanFix" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryPlanFix_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryPlanFixResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryPlanIncome_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryPlanIncome" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryPlanIncome_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryPlanIncomeResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryExec_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryExec" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryExec_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryExecResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryExecDetial_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryExecDetial" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryExecDetial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryExecDetialResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryExecFix_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryExecFix" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryExecFix_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryExecFixResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryExecIncome_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryExecIncome" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetPostEmpSummaryExecIncome_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostEmpSummaryExecIncomeResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_ConvertEntityToXml_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertEntityToXml" />
  </wsdl:message>
  <wsdl:message name="IWPServices_ConvertEntityToXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertEntityToXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_AddPostEmpSummaryPlanRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPostEmpSummaryPlanRecord" />
  </wsdl:message>
  <wsdl:message name="IWPServices_AddPostEmpSummaryPlanRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPostEmpSummaryPlanRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetViewTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetViewTasks" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetViewTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetViewTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_AddEmployeePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeePlan" />
  </wsdl:message>
  <wsdl:message name="IWPServices_AddEmployeePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeePlanResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_DeleteEmployeePlanTimingTrigger_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeePlanTimingTrigger" />
  </wsdl:message>
  <wsdl:message name="IWPServices_DeleteEmployeePlanTimingTrigger_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeePlanTimingTriggerResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_EmployeeCanPostChange_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeCanPostChange" />
  </wsdl:message>
  <wsdl:message name="IWPServices_EmployeeCanPostChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeCanPostChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_EmployeePostChangeAuditPass_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployeePostChangeAuditPass" />
  </wsdl:message>
  <wsdl:message name="IWPServices_EmployeePostChangeAuditPass_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeePostChangeAuditPassResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_FunsAllocated_InputMessage">
    <wsdl:part name="parameters" element="tns:FunsAllocated" />
  </wsdl:message>
  <wsdl:message name="IWPServices_FunsAllocated_OutputMessage">
    <wsdl:part name="parameters" element="tns:FunsAllocatedResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_FunsPaied_InputMessage">
    <wsdl:part name="parameters" element="tns:FunsPaied" />
  </wsdl:message>
  <wsdl:message name="IWPServices_FunsPaied_OutputMessage">
    <wsdl:part name="parameters" element="tns:FunsPaiedResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetTripSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTripSubject" />
  </wsdl:message>
  <wsdl:message name="IWPServices_GetTripSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTripSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_TripSubjectPaid_InputMessage">
    <wsdl:part name="parameters" element="tns:TripSubjectPaid" />
  </wsdl:message>
  <wsdl:message name="IWPServices_TripSubjectPaid_OutputMessage">
    <wsdl:part name="parameters" element="tns:TripSubjectPaidResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplicationService">
    <wsdl:operation name="CallApplicationService">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/CallApplicationService" message="tns:IApplicationService_CallApplicationService_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallWaitAppService">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/CallWaitAppService" message="tns:IApplicationService_CallWaitAppService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/CallWaitAppServiceResponse" message="tns:IApplicationService_CallWaitAppService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IEventTriggerProcess">
    <wsdl:operation name="EventTriggerProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventTriggerProcess/EventTriggerProcess" message="tns:IEventTriggerProcess_EventTriggerProcess_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IWPServices">
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/Execute" message="tns:IWPServices_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/ExecuteResponse" message="tns:IWPServices_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckState">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/UpdateCheckState" message="tns:IWPServices_UpdateCheckState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/UpdateCheckStateResponse" message="tns:IWPServices_UpdateCheckState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/Query" message="tns:IWPServices_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/QueryResponse" message="tns:IWPServices_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/Save" message="tns:IWPServices_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/SaveResponse" message="tns:IWPServices_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/ListSubject" message="tns:IWPServices_ListSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/ListSubjectResponse" message="tns:IWPServices_ListSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/ListSubjects" message="tns:IWPServices_ListSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/ListSubjectsResponse" message="tns:IWPServices_ListSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/GetQuery" message="tns:IWPServices_GetQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/GetQueryResponse" message="tns:IWPServices_GetQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/GetLastQuery" message="tns:IWPServices_GetLastQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/GetLastQueryResponse" message="tns:IWPServices_GetLastQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/RegisterTask" message="tns:IWPServices_RegisterTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/RegisterTaskResponse" message="tns:IWPServices_RegisterTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/ChangeStatus" message="tns:IWPServices_ChangeStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/ChangeStatusResponse" message="tns:IWPServices_ChangeStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummary" message="tns:IWPServices_GetPostEmpSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryResponse" message="tns:IWPServices_GetPostEmpSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryByFormId">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryByFormId" message="tns:IWPServices_GetPostEmpSummaryByFormId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryByFormIdResponse" message="tns:IWPServices_GetPostEmpSummaryByFormId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryPlan" message="tns:IWPServices_GetPostEmpSummaryPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryPlanResponse" message="tns:IWPServices_GetPostEmpSummaryPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryPlanDetial">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryPlanDetial" message="tns:IWPServices_GetPostEmpSummaryPlanDetial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryPlanDetialResponse" message="tns:IWPServices_GetPostEmpSummaryPlanDetial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryPlanFix">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryPlanFix" message="tns:IWPServices_GetPostEmpSummaryPlanFix_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryPlanFixResponse" message="tns:IWPServices_GetPostEmpSummaryPlanFix_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryPlanIncome">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryPlanIncome" message="tns:IWPServices_GetPostEmpSummaryPlanIncome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryPlanIncomeResponse" message="tns:IWPServices_GetPostEmpSummaryPlanIncome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryExec">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryExec" message="tns:IWPServices_GetPostEmpSummaryExec_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryExecResponse" message="tns:IWPServices_GetPostEmpSummaryExec_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryExecDetial">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryExecDetial" message="tns:IWPServices_GetPostEmpSummaryExecDetial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryExecDetialResponse" message="tns:IWPServices_GetPostEmpSummaryExecDetial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryExecFix">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryExecFix" message="tns:IWPServices_GetPostEmpSummaryExecFix_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryExecFixResponse" message="tns:IWPServices_GetPostEmpSummaryExecFix_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryExecIncome">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryExecIncome" message="tns:IWPServices_GetPostEmpSummaryExecIncome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/GetPostEmpSummaryExecIncomeResponse" message="tns:IWPServices_GetPostEmpSummaryExecIncome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertEntityToXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/ConvertEntityToXml" message="tns:IWPServices_ConvertEntityToXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/ConvertEntityToXmlResponse" message="tns:IWPServices_ConvertEntityToXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPostEmpSummaryPlanRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/AddPostEmpSummaryPlanRecord" message="tns:IWPServices_AddPostEmpSummaryPlanRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/AddPostEmpSummaryPlanRecordResponse" message="tns:IWPServices_AddPostEmpSummaryPlanRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetViewTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/GetViewTasks" message="tns:IWPServices_GetViewTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/GetViewTasksResponse" message="tns:IWPServices_GetViewTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployeePlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/AddEmployeePlan" message="tns:IWPServices_AddEmployeePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/AddEmployeePlanResponse" message="tns:IWPServices_AddEmployeePlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeePlanTimingTrigger">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/DeleteEmployeePlanTimingTrigger" message="tns:IWPServices_DeleteEmployeePlanTimingTrigger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/DeleteEmployeePlanTimingTriggerResponse" message="tns:IWPServices_DeleteEmployeePlanTimingTrigger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeCanPostChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/EmployeeCanPostChange" message="tns:IWPServices_EmployeeCanPostChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/EmployeeCanPostChangeResponse" message="tns:IWPServices_EmployeeCanPostChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmployeePostChangeAuditPass">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/EmployeePostChangeAuditPass" message="tns:IWPServices_EmployeePostChangeAuditPass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/EmployeePostChangeAuditPassResponse" message="tns:IWPServices_EmployeePostChangeAuditPass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FunsAllocated">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/FunsAllocated" message="tns:IWPServices_FunsAllocated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/FunsAllocatedResponse" message="tns:IWPServices_FunsAllocated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FunsPaied">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/FunsPaied" message="tns:IWPServices_FunsPaied_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/FunsPaiedResponse" message="tns:IWPServices_FunsPaied_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTripSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/GetTripSubject" message="tns:IWPServices_GetTripSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/GetTripSubjectResponse" message="tns:IWPServices_GetTripSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TripSubjectPaid">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/TripSubjectPaid" message="tns:IWPServices_TripSubjectPaid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/TripSubjectPaidResponse" message="tns:IWPServices_TripSubjectPaid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IApplicationService" type="tns:IApplicationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallApplicationService">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/CallApplicationService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CallWaitAppService">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/CallWaitAppService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IEventTriggerProcess" type="tns:IEventTriggerProcess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EventTriggerProcess">
      <soap:operation soapAction="http://tempuri.org/IEventTriggerProcess/EventTriggerProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IWPServices" type="tns:IWPServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/IWPServices/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckState">
      <soap:operation soapAction="http://tempuri.org/IWPServices/UpdateCheckState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IWPServices/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IWPServices/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSubject">
      <soap:operation soapAction="http://tempuri.org/IWPServices/ListSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSubjects">
      <soap:operation soapAction="http://tempuri.org/IWPServices/ListSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuery">
      <soap:operation soapAction="http://tempuri.org/IWPServices/GetQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastQuery">
      <soap:operation soapAction="http://tempuri.org/IWPServices/GetLastQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterTask">
      <soap:operation soapAction="http://tempuri.org/IWPServices/RegisterTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatus">
      <soap:operation soapAction="http://tempuri.org/IWPServices/ChangeStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummary">
      <soap:operation soapAction="http://tempuri.org/IWPServices/GetPostEmpSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryByFormId">
      <soap:operation soapAction="http://tempuri.org/IWPServices/GetPostEmpSummaryByFormId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryPlan">
      <soap:operation soapAction="http://tempuri.org/IWPServices/GetPostEmpSummaryPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryPlanDetial">
      <soap:operation soapAction="http://tempuri.org/IWPServices/GetPostEmpSummaryPlanDetial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryPlanFix">
      <soap:operation soapAction="http://tempuri.org/IWPServices/GetPostEmpSummaryPlanFix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryPlanIncome">
      <soap:operation soapAction="http://tempuri.org/IWPServices/GetPostEmpSummaryPlanIncome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryExec">
      <soap:operation soapAction="http://tempuri.org/IWPServices/GetPostEmpSummaryExec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryExecDetial">
      <soap:operation soapAction="http://tempuri.org/IWPServices/GetPostEmpSummaryExecDetial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryExecFix">
      <soap:operation soapAction="http://tempuri.org/IWPServices/GetPostEmpSummaryExecFix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostEmpSummaryExecIncome">
      <soap:operation soapAction="http://tempuri.org/IWPServices/GetPostEmpSummaryExecIncome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertEntityToXml">
      <soap:operation soapAction="http://tempuri.org/IWPServices/ConvertEntityToXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPostEmpSummaryPlanRecord">
      <soap:operation soapAction="http://tempuri.org/IWPServices/AddPostEmpSummaryPlanRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewTasks">
      <soap:operation soapAction="http://tempuri.org/IWPServices/GetViewTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployeePlan">
      <soap:operation soapAction="http://tempuri.org/IWPServices/AddEmployeePlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeePlanTimingTrigger">
      <soap:operation soapAction="http://tempuri.org/IWPServices/DeleteEmployeePlanTimingTrigger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeCanPostChange">
      <soap:operation soapAction="http://tempuri.org/IWPServices/EmployeeCanPostChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeePostChangeAuditPass">
      <soap:operation soapAction="http://tempuri.org/IWPServices/EmployeePostChangeAuditPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FunsAllocated">
      <soap:operation soapAction="http://tempuri.org/IWPServices/FunsAllocated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FunsPaied">
      <soap:operation soapAction="http://tempuri.org/IWPServices/FunsPaied" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTripSubject">
      <soap:operation soapAction="http://tempuri.org/IWPServices/GetTripSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TripSubjectPaid">
      <soap:operation soapAction="http://tempuri.org/IWPServices/TripSubjectPaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WPServices">
    <wsdl:port name="BasicHttpBinding_IApplicationService" binding="tns:BasicHttpBinding_IApplicationService">
      <soap:address location="http://10.10.0.92:8030/Services/WP/WPServices.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IEventTriggerProcess" binding="tns:BasicHttpBinding_IEventTriggerProcess">
      <soap:address location="http://10.10.0.92:8030/Services/WP/WPServices.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IWPServices" binding="tns:BasicHttpBinding_IWPServices">
      <soap:address location="http://10.10.0.92:8030/Services/WP/WPServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>