TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/WPServicesWS/WPServices7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.WP.Model.FeeModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.WP.Model.FeeModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfV_EmployeeFuns">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_EmployeeFuns" nillable="true" type="tns:V_EmployeeFuns" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_EmployeeFuns" nillable="true" type="tns:ArrayOfV_EmployeeFuns" />
  <xs:complexType name="V_EmployeeFuns">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATTENDREMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTMENTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYECNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEESTATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISAGENCY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEEDATTENDDAYS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NEEDSUM" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="POSTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REALATTENDDAYS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="REALSUM" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_EmployeeFuns" nillable="true" type="tns:V_EmployeeFuns" />
  <xs:complexType name="EmployeeFuns">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplyDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaidMoney" type="xs:decimal" />
      <xs:element minOccurs="0" name="PostID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeFuns" nillable="true" type="tns:EmployeeFuns" />
</xs:schema>