TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/WPServicesWS/WPServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WPServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://smtdev.smt-online.net/New/Services/WPServices/WPServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://smtdev.smt-online.net/New/Services/WPServices/WPServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://smtdev.smt-online.net/New/Services/WPServices/WPServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT.Portal.Communication" />
      <xsd:import schemaLocation="http://smtdev.smt-online.net/New/Services/WPServices/WPServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWPServices_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="IWPServices_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_UpdateCheckState_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCheckState" />
  </wsdl:message>
  <wsdl:message name="IWPServices_UpdateCheckState_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCheckStateResponse" />
  </wsdl:message>
  <wsdl:portType name="IWPServices">
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/Execute" message="tns:IWPServices_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/ExecuteResponse" message="tns:IWPServices_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckState">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/UpdateCheckState" message="tns:IWPServices_UpdateCheckState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/UpdateCheckStateResponse" message="tns:IWPServices_UpdateCheckState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWPServices" type="tns:IWPServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/IWPServices/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckState">
      <soap:operation soapAction="http://tempuri.org/IWPServices/UpdateCheckState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WPServices">
    <wsdl:port name="BasicHttpBinding_IWPServices" binding="tns:BasicHttpBinding_IWPServices">
      <soap:address location="http://smtdev.smt-online.net/New/Services/WPServices/WPServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>