SMT.SaaS.FrameWorkUI/SMT.SaaS.BLLCommonServices/Service References/VMServiceWS/VMServices42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common.Query" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common.Query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.10.0.12/Services/VM/VMServices.svc?xsd=xsd5" namespace="SMT.QueryObjects" />
  <xs:import schemaLocation="http://10.10.0.12/Services/VM/VMServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" />
  <xs:complexType name="QueryResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" base="q1:ResultBaseOfanyType">
        <xs:sequence>
          <xs:element xmlns:q2="SMT.QueryObjects" minOccurs="0" name="Pager" nillable="true" type="q2:QueryPager" />
          <xs:element minOccurs="0" name="State" type="q1:ResultState" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueryResult" nillable="true" type="tns:QueryResult" />
</xs:schema>