SMT.SaaS.FrameWorkUI/SMT.SaaS.BLLCommonServices/Service References/VMServiceWS/VMServices41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SaveExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBaseOfArrayOfanyTypeuHEDJ7Dj">
        <xs:sequence>
          <xs:element minOccurs="0" name="Action" type="tns:SaveAction" />
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveExpression" nillable="true" type="tns:SaveExpression" />
  <xs:complexType name="ResultBaseOfArrayOfanyTypeuHEDJ7Dj">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfanyType" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerResult" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultBaseOfArrayOfanyTypeuHEDJ7Dj" nillable="true" type="tns:ResultBaseOfArrayOfanyTypeuHEDJ7Dj" />
  <xs:simpleType name="SaveAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Save" />
      <xs:enumeration value="SaveAndSumbit" />
      <xs:enumeration value="Audit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SaveAction" nillable="true" type="tns:SaveAction" />
  <xs:complexType name="SaveResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SaveResultOfanyType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveResult" nillable="true" type="tns:SaveResult" />
  <xs:complexType name="SaveResultOfanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="SaveResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBaseOfanyType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" type="tns:SaveResultState" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveResultOfanyType" nillable="true" type="tns:SaveResultOfanyType" />
  <xs:complexType name="ResultBaseOfanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerResult" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultBaseOfanyType" nillable="true" type="tns:ResultBaseOfanyType" />
  <xs:simpleType name="SaveResultState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fail" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Exception" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SaveResultState" nillable="true" type="tns:SaveResultState" />
  <xs:simpleType name="ResultState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fail" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Exception" />
      <xs:enumeration value="TimeOut" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultState" nillable="true" type="tns:ResultState" />
</xs:schema>