SMT.SaaS.FrameWorkUI/SMT.SaaS.BLLCommonServices/Service References/BllCommonUserPermissionWS/BllCommonPermissionServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.Permission.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Permission.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfV_BllCommonUserPermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_BllCommonUserPermission" nillable="true" type="tns:V_BllCommonUserPermission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_BllCommonUserPermission" nillable="true" type="tns:ArrayOfV_BllCommonUserPermission" />
  <xs:complexType name="V_BllCommonUserPermission">
    <xs:sequence>
      <xs:element minOccurs="0" name="OwnerCompanyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerDepartmentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerPostID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionDataRange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleMenuPermissionValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_BllCommonUserPermission" nillable="true" type="tns:V_BllCommonUserPermission" />
</xs:schema>