TM.SaaS.OA/WF/SMT.SaaS.FlowSystem/SMTWFTest/Service References/OAWS/AgentServices85.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.HRM.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.HRM.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UploadFileModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="File" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadFileModel" nillable="true" type="tns:UploadFileModel" />
</xs:schema>