TM.SaaS.OA/FrameWork/SMT.Saas.Tools/Service References/NewFileUploadWS/FileUpLoad2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT_FU_EFModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT_FU_EFModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.10.0.93:8080/New/Services/FileUploadService/FileUpLoad.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfSMT_FILELIST">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMT_FILELIST" nillable="true" type="tns:SMT_FILELIST" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMT_FILELIST" nillable="true" type="tns:ArrayOfSMT_FILELIST" />
  <xs:complexType name="SMT_FILELIST">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="APPLICATIONID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPANYCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPANYNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATETIME" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FILENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FILESIZE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="FILETYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FILEURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FORMID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INDEXL" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MODELCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SMTFILELISTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SYSTEMCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="THUMBNAILURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATETIME" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SMT_FILELIST" nillable="true" type="tns:SMT_FILELIST" />
</xs:schema>