TM.SaaS.OA/WF/SMT.SaaS.FlowSystem/SMTWFTest/Service References/EngineWcf/EngineWcfGlobalFunction4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomUserMsg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomUserMsg" nillable="true" type="tns:CustomUserMsg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomUserMsg" nillable="true" type="tns:ArrayOfCustomUserMsg" />
  <xs:complexType name="CustomUserMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomUserMsg" nillable="true" type="tns:CustomUserMsg" />
  <xs:simpleType name="MsgType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Msg" />
      <xs:enumeration value="Task" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MsgType" nillable="true" type="tns:MsgType" />
</xs:schema>