TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/TKServicesWS/TKServices8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1800/TKServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT.Portal.Communication" />
  <xs:import schemaLocation="http://localhost:1800/TKServices.svc?xsd=xsd4" namespace="SMT.QueryObjects" />
  <xs:import schemaLocation="http://localhost:1800/TKServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common.Query" />
  <xs:import schemaLocation="http://localhost:1800/TKServices.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" />
  <xs:import schemaLocation="http://localhost:1800/TKServices.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/SMT.TK.Model" />
  <xs:import schemaLocation="http://localhost:1800/TKServices.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/SMT.TK.Services.MobileOperate" />
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.Portal.Communication" minOccurs="0" name="baseObject" nillable="true" type="q1:BaseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT.Portal.Communication" minOccurs="0" name="ExecuteResult" nillable="true" type="q2:ResultObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="SMT.QueryObjects" minOccurs="0" name="expression" nillable="true" type="q3:QueryExpression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common.Query" minOccurs="0" name="QueryResult" nillable="true" type="q4:QueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" minOccurs="0" name="expression" nillable="true" type="q5:SaveExpression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" minOccurs="0" name="SaveResult" nillable="true" type="q6:SaveResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCheckState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EntityType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EntityKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EntityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CheckState" type="xs:int" />
        <xs:element minOccurs="0" name="strXmlParams" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCheckStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCheckStateResult" type="xs:int" />
        <xs:element minOccurs="0" name="strOutMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCarryDownIncomeTask">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCarryDownIncomeTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCarryDownFunds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkStates" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cdKeyID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCarryDownFundsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMT.TK.Model" minOccurs="0" name="ListCarryDownFundsResult" nillable="true" type="q7:ArrayOfT_TASK_CARRYDOWNFUNDS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCarryDownFundsDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cdKeyID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCarryDownFundsDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SMT.TK.Model" minOccurs="0" name="ListCarryDownFundsDetailResult" nillable="true" type="q8:ArrayOfT_TASK_CARRYDOWNFUNDSDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskMainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMT.TK.Services.MobileOperate" minOccurs="0" name="GetTaskMainResult" nillable="true" type="q9:TaskMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskMainByTaskId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskMainByTaskIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SMT.TK.Services.MobileOperate" minOccurs="0" name="GetTaskMainByTaskIdResult" nillable="true" type="q10:TaskMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJoinUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJoinUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SMT.TK.Services.MobileOperate" minOccurs="0" name="GetJoinUserResult" nillable="true" type="q11:ArrayOfJoinDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskReplay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskReplayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SMT.TK.Services.MobileOperate" minOccurs="0" name="GetTaskReplayResult" nillable="true" type="q12:ArrayOfTaskReplay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskTobeCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskTobeCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SMT.TK.Services.MobileOperate" minOccurs="0" name="GetTaskTobeCostResult" nillable="true" type="q13:ArrayOfTaskTobeCost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReplay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SMT.TK.Services.MobileOperate" minOccurs="0" name="saveReplay" nillable="true" type="q14:SaveTaskReplay" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReplayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveReplayResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SMT.TK.Model" minOccurs="0" name="taskMain" nillable="true" type="q15:T_TASK_TASKMAIN" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SMT.TK.Model" minOccurs="0" name="joinMain" nillable="true" type="q16:T_TASK_JOINMAIN" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTaskResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgreeTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SMT.TK.Model" minOccurs="0" name="taskMainObj" nillable="true" type="q17:T_TASK_TASKMAIN" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgreeTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgreeTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecjectTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SMT.TK.Model" minOccurs="0" name="taskMainObj" nillable="true" type="q18:T_TASK_TASKMAIN" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecjectTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecjectTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallApplicationService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallWaitAppService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallWaitAppServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallWaitAppServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventTriggerProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="param" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>