TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/TKServicesWS/TKServices7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.TK.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.TK.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1800/TKServices.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" />
  <xs:complexType name="ArrayOfT_TASK_CARRYDOWNFUNDS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_TASK_CARRYDOWNFUNDS" nillable="true" type="tns:T_TASK_CARRYDOWNFUNDS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_TASK_CARRYDOWNFUNDS" nillable="true" type="tns:ArrayOfT_TASK_CARRYDOWNFUNDS" />
  <xs:complexType name="T_TASK_CARRYDOWNFUNDS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element name="_cDKEYID" nillable="true" type="xs:string" />
          <xs:element name="_cHECKSTATES" nillable="true" type="xs:string" />
          <xs:element name="_cREATEDATE" type="xs:dateTime" />
          <xs:element name="_cREATEUSERID" nillable="true" type="xs:string" />
          <xs:element name="_cREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element name="_eDITSTATE" nillable="true" type="xs:string" />
          <xs:element name="_iFREFUNDALREADY" nillable="true" type="xs:string" />
          <xs:element name="_iTEMINFO" nillable="true" type="xs:string" />
          <xs:element name="_nORMITEMID" nillable="true" type="xs:string" />
          <xs:element name="_nORMITEMNAME" nillable="true" type="xs:string" />
          <xs:element name="_oWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element name="_oWNERCOMPANYNAME" nillable="true" type="xs:string" />
          <xs:element name="_oWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element name="_oWNERDEPARTMENTNAME" nillable="true" type="xs:string" />
          <xs:element name="_oWNERID" nillable="true" type="xs:string" />
          <xs:element name="_oWNERNAME" nillable="true" type="xs:string" />
          <xs:element name="_oWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element name="_oWNERPOSTNAME" nillable="true" type="xs:string" />
          <xs:element name="_pEMPPID" nillable="true" type="xs:string" />
          <xs:element name="_pLANMONTH" nillable="true" type="xs:string" />
          <xs:element name="_pLANYEAR" nillable="true" type="xs:string" />
          <xs:element name="_rEFUNDMONEY" type="xs:double" />
          <xs:element name="_rESOLVEMONEY" type="xs:double" />
          <xs:element name="_sERIALNO" nillable="true" type="xs:string" />
          <xs:element name="_tASKCODE" nillable="true" type="xs:string" />
          <xs:element name="_tOTALMONEY" type="xs:double" />
          <xs:element name="_uPDATEDATE" type="xs:dateTime" />
          <xs:element name="_uPDATEUSERID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_TASK_CARRYDOWNFUNDS" nillable="true" type="tns:T_TASK_CARRYDOWNFUNDS" />
  <xs:complexType name="EntityBase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" name="_x003C_Action_x003E_k__BackingField" type="q1:EntityAction" />
      <xs:element name="_x003C_PrimaryKeyName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
  <xs:complexType name="ArrayOfT_TASK_CARRYDOWNFUNDSDETAIL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_TASK_CARRYDOWNFUNDSDETAIL" nillable="true" type="tns:T_TASK_CARRYDOWNFUNDSDETAIL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_TASK_CARRYDOWNFUNDSDETAIL" nillable="true" type="tns:ArrayOfT_TASK_CARRYDOWNFUNDSDETAIL" />
  <xs:complexType name="T_TASK_CARRYDOWNFUNDSDETAIL">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element name="_aLLOCATEDLIMIT" type="xs:double" />
          <xs:element name="_aLLOCATEDNORM" type="xs:double" />
          <xs:element name="_aSSESSPROMPT" nillable="true" type="xs:string" />
          <xs:element name="_cDDETAILID" nillable="true" type="xs:string" />
          <xs:element name="_cDKEYID" nillable="true" type="xs:string" />
          <xs:element name="_cREATEDATE" type="xs:dateTime" />
          <xs:element name="_cREATEUSERID" nillable="true" type="xs:string" />
          <xs:element name="_cREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element name="_cURRMONTHFUNDS" type="xs:double" />
          <xs:element name="_eDITSTATE" nillable="true" type="xs:string" />
          <xs:element name="_lASTREFUNDDATE" type="xs:dateTime" />
          <xs:element name="_nORMITEMID" nillable="true" type="xs:string" />
          <xs:element name="_nORMITEMNAME" nillable="true" type="xs:string" />
          <xs:element name="_rEFUNDMONEY" type="xs:double" />
          <xs:element name="_rEMARK" nillable="true" type="xs:string" />
          <xs:element name="_sHARECOMPANYID" nillable="true" type="xs:string" />
          <xs:element name="_sHARECOMPANYNAME" nillable="true" type="xs:string" />
          <xs:element name="_sHAREDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element name="_sHAREDEPARTMENTNAME" nillable="true" type="xs:string" />
          <xs:element name="_sHAREID" nillable="true" type="xs:string" />
          <xs:element name="_sHARENAME" nillable="true" type="xs:string" />
          <xs:element name="_sHAREPOSTID" nillable="true" type="xs:string" />
          <xs:element name="_sHAREPOSTNAME" nillable="true" type="xs:string" />
          <xs:element name="_sUMMARY" nillable="true" type="xs:string" />
          <xs:element name="_uPDATEDATE" type="xs:dateTime" />
          <xs:element name="_uPDATEUSERID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_TASK_CARRYDOWNFUNDSDETAIL" nillable="true" type="tns:T_TASK_CARRYDOWNFUNDSDETAIL" />
  <xs:complexType name="T_TASK_TASKMAIN">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element name="_AUDITSTATE" nillable="true" type="xs:string" />
          <xs:element name="_COMPLETIONCRITERIA" nillable="true" type="xs:string" />
          <xs:element name="_CONFIRMORCOMPANYID" nillable="true" type="xs:string" />
          <xs:element name="_CONFIRMORCOMPANYNAME" nillable="true" type="xs:string" />
          <xs:element name="_CONFIRMORDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element name="_CONFIRMORDEPARTMENTNAME" nillable="true" type="xs:string" />
          <xs:element name="_CONFIRMORFULLNAME" nillable="true" type="xs:string" />
          <xs:element name="_CONFIRMORID" nillable="true" type="xs:string" />
          <xs:element name="_CONFIRMORNAME" nillable="true" type="xs:string" />
          <xs:element name="_CONFIRMORPOSTID" nillable="true" type="xs:string" />
          <xs:element name="_CONFIRMORPOSTNAME" nillable="true" type="xs:string" />
          <xs:element name="_ISLEADERSHIPADD" nillable="true" type="xs:string" />
          <xs:element name="_aHEADTIME" type="xs:float" />
          <xs:element name="_aTTACHEDFILE" nillable="true" type="xs:string" />
          <xs:element name="_cATEGORY" nillable="true" type="xs:string" />
          <xs:element name="_cATEGORYNAME" nillable="true" type="xs:string" />
          <xs:element name="_cREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element name="_cREATEDATE" type="xs:dateTime" />
          <xs:element name="_cREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element name="_cREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element name="_cREATEUSERID" nillable="true" type="xs:string" />
          <xs:element name="_cREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element name="_cYCLEDESC" nillable="true" type="xs:string" />
          <xs:element name="_cYCLEENDDATE" nillable="true" type="xs:string" />
          <xs:element name="_cYCLESTARTDATE" nillable="true" type="xs:string" />
          <xs:element name="_cYCLESTATUS" nillable="true" type="xs:string" />
          <xs:element name="_dAYNO" nillable="true" type="xs:string" />
          <xs:element name="_eDITSTATE" nillable="true" type="xs:string" />
          <xs:element name="_eXAMTYPEID" nillable="true" type="xs:string" />
          <xs:element name="_eXAMTYPENAME" nillable="true" type="xs:string" />
          <xs:element name="_eXETIME" nillable="true" type="xs:string" />
          <xs:element name="_iNTERVAL" type="xs:short" />
          <xs:element name="_mODULEID" nillable="true" type="xs:string" />
          <xs:element name="_mODULENAME" nillable="true" type="xs:string" />
          <xs:element name="_mODULETRIGTYPE" nillable="true" type="xs:string" />
          <xs:element name="_mODULETRIGTYPENAME" nillable="true" type="xs:string" />
          <xs:element name="_mONTHOFYEAR" nillable="true" type="xs:string" />
          <xs:element name="_oWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element name="_oWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element name="_oWNERID" nillable="true" type="xs:string" />
          <xs:element name="_oWNERNAME" nillable="true" type="xs:string" />
          <xs:element name="_oWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element name="_pROMOTERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element name="_pROMOTERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element name="_pROMOTERID" nillable="true" type="xs:string" />
          <xs:element name="_pROMOTERNAME" nillable="true" type="xs:string" />
          <xs:element name="_pROMOTERPOSTID" nillable="true" type="xs:string" />
          <xs:element name="_rEQDAY" type="xs:float" />
          <xs:element name="_rEQENDTDATE" type="xs:dateTime" />
          <xs:element name="_rEQSTARTDATE" type="xs:dateTime" />
          <xs:element name="_rULETYPE" nillable="true" type="xs:string" />
          <xs:element name="_tASKFROMCODE" nillable="true" type="xs:string" />
          <xs:element name="_tASKFROMID" nillable="true" type="xs:string" />
          <xs:element name="_tASKFROMNAME" nillable="true" type="xs:string" />
          <xs:element name="_tASKFROMTYPE" nillable="true" type="xs:string" />
          <xs:element name="_tASKFROMTYPENAME" nillable="true" type="xs:string" />
          <xs:element name="_tASKID" nillable="true" type="xs:string" />
          <xs:element name="_tASKMULTITYPE" nillable="true" type="xs:string" />
          <xs:element name="_tASKMULTITYPENAME" nillable="true" type="xs:string" />
          <xs:element name="_tASKNAME" nillable="true" type="xs:string" />
          <xs:element name="_tASKOPINION" nillable="true" type="xs:string" />
          <xs:element name="_tASKREMARK" nillable="true" type="xs:string" />
          <xs:element name="_tASKTYPE" nillable="true" type="xs:string" />
          <xs:element name="_tOTALCOST" type="xs:double" />
          <xs:element name="_uPDATEDATE" type="xs:dateTime" />
          <xs:element name="_uPDATEUSERID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_TASK_TASKMAIN" nillable="true" type="tns:T_TASK_TASKMAIN" />
  <xs:complexType name="T_TASK_JOINMAIN">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element name="_cREATEDATE" type="xs:dateTime" />
          <xs:element name="_cREATEUSERID" nillable="true" type="xs:string" />
          <xs:element name="_eDITSTATE" nillable="true" type="xs:string" />
          <xs:element name="_jOINUSERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element name="_jOINUSERCOMPANYNAME" nillable="true" type="xs:string" />
          <xs:element name="_jOINUSERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element name="_jOINUSERDEPARTMENTNAME" nillable="true" type="xs:string" />
          <xs:element name="_jOINUSERID" nillable="true" type="xs:string" />
          <xs:element name="_jOINUSERNAME" nillable="true" type="xs:string" />
          <xs:element name="_jOINUSERPOSTID" nillable="true" type="xs:string" />
          <xs:element name="_jOINUSERPOSTNAME" nillable="true" type="xs:string" />
          <xs:element name="_mID" nillable="true" type="xs:string" />
          <xs:element name="_tASKID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_TASK_JOINMAIN" nillable="true" type="tns:T_TASK_JOINMAIN" />
</xs:schema>