TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/TKServicesWS/TKServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TKServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://smtdev.smt-online.net/Services/TK/TKServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://smtdev.smt-online.net/Services/TK/TKServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://smtdev.smt-online.net/Services/TK/TKServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT.Portal.Communication" />
      <xsd:import schemaLocation="http://smtdev.smt-online.net/Services/TK/TKServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITKServices_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="ITKServices_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="ITKServices_UpdateCheckState_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCheckState" />
  </wsdl:message>
  <wsdl:message name="ITKServices_UpdateCheckState_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCheckStateResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CallApplicationService_InputMessage">
    <wsdl:part name="parameters" element="tns:CallApplicationService" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CallWaitAppService_InputMessage">
    <wsdl:part name="parameters" element="tns:CallWaitAppService" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CallWaitAppService_OutputMessage">
    <wsdl:part name="parameters" element="tns:CallWaitAppServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IEventTriggerProcess_EventTriggerProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:EventTriggerProcess" />
  </wsdl:message>
  <wsdl:portType name="ITKServices">
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://tempuri.org/ITKServices/Execute" message="tns:ITKServices_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITKServices/ExecuteResponse" message="tns:ITKServices_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckState">
      <wsdl:input wsaw:Action="http://tempuri.org/ITKServices/UpdateCheckState" message="tns:ITKServices_UpdateCheckState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITKServices/UpdateCheckStateResponse" message="tns:ITKServices_UpdateCheckState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IApplicationService">
    <wsdl:operation name="CallApplicationService">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/CallApplicationService" message="tns:IApplicationService_CallApplicationService_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallWaitAppService">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/CallWaitAppService" message="tns:IApplicationService_CallWaitAppService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/CallWaitAppServiceResponse" message="tns:IApplicationService_CallWaitAppService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IEventTriggerProcess">
    <wsdl:operation name="EventTriggerProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventTriggerProcess/EventTriggerProcess" message="tns:IEventTriggerProcess_EventTriggerProcess_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITKServices" type="tns:ITKServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/ITKServices/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckState">
      <soap:operation soapAction="http://tempuri.org/ITKServices/UpdateCheckState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IApplicationService" type="tns:IApplicationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallApplicationService">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/CallApplicationService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CallWaitAppService">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/CallWaitAppService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IEventTriggerProcess" type="tns:IEventTriggerProcess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EventTriggerProcess">
      <soap:operation soapAction="http://tempuri.org/IEventTriggerProcess/EventTriggerProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TKServices">
    <wsdl:port name="BasicHttpBinding_ITKServices" binding="tns:BasicHttpBinding_ITKServices">
      <soap:address location="http://smtdev.smt-online.net/Services/TK/TKServices.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IApplicationService" binding="tns:BasicHttpBinding_IApplicationService">
      <soap:address location="http://smtdev.smt-online.net/Services/TK/TKServices.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IEventTriggerProcess" binding="tns:BasicHttpBinding_IEventTriggerProcess">
      <soap:address location="http://smtdev.smt-online.net/Services/TK/TKServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>