SMT.SaaS.OANew - 航信/SMT.SaaS.OA.UI/Service References/EngineDataSource/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EngineDataModel" />
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="phyroot">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="phyrootResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phyrootResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTriggerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Data_String_value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTriggerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTriggerDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EngineDataModel" minOccurs="0" name="PendingTasksResult" nillable="true" type="q1:ArrayOfT_FLOW_ENGINEMSGLIST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFlowTriggerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFlowMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBOObject" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFlowTriggerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveFlowTriggerDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>