TM.SaaS.OA/FrameWork/SMT.Saas.Tools/Service References/OrganizationWS/OrganizationService819.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12168/OrganizationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
  <xs:import schemaLocation="http://localhost:12168/OrganizationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="V_EMPLOYEEPOST">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="EMPLOYEEPOSTS" nillable="true" type="q2:ArrayOfT_HR_EMPLOYEEPOST" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="T_HR_EMPLOYEE" nillable="true" type="q3:T_HR_EMPLOYEE" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="V_EMPLOYEEPOST" nillable="true" type="tns:V_EMPLOYEEPOST" />
  <xs:complexType name="V_ATTENDANCEDEDUCTMASTER">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ATTENDABNORMALTYPENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FINETYPENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISACCUMULATINGNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISPERFECTATTENDANCEFACTORNAME" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="T_HR_ATTENDANCEDEDUCTMASTER" nillable="true" type="q5:T_HR_ATTENDANCEDEDUCTMASTER" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="V_ATTENDANCEDEDUCTMASTER" nillable="true" type="tns:V_ATTENDANCEDEDUCTMASTER" />
  <xs:complexType name="ArrayOfV_RELATIONPOST">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_RELATIONPOST" nillable="true" type="tns:V_RELATIONPOST" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_RELATIONPOST" nillable="true" type="tns:ArrayOfV_RELATIONPOST" />
  <xs:complexType name="V_RELATIONPOST">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="Post" nillable="true" type="q6:T_HR_POST" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelationPostID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_RELATIONPOST" nillable="true" type="tns:V_RELATIONPOST" />
</xs:schema>