SMT.SaaS.OANew/SMT.SaaS.OA.UI/Service References/SmtOAPersonOfficeService/SmtOAPersonOffice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmtOAPersonOffice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="" location="http://localhost:3938/SmtOAPersonOffice.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_SmtOAPersonOffice" type="SmtOAPersonOffice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsExistTravelReimbursement">
      <soap:operation soapAction="urn:SmtOAPersonOffice/IsExistTravelReimbursement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExistTravelReimbursementBySportid">
      <soap:operation soapAction="urn:SmtOAPersonOffice/IsExistTravelReimbursementBySportid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNoClaims">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdateNoClaims" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTravelReimbursement">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdateTravelReimbursement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTravelReimbursement">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DeleteTravelReimbursement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTravelReimbursementByBusinesstripId">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DeleteTravelReimbursementByBusinesstripId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TravelReimbursementAdd">
      <soap:operation soapAction="urn:SmtOAPersonOffice/TravelReimbursementAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TravelReimbursementAddSimple">
      <soap:operation soapAction="urn:SmtOAPersonOffice/TravelReimbursementAddSimple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTravelReimbursementByBusinesstrip">
      <soap:operation soapAction="urn:SmtOAPersonOffice/CheckTravelReimbursementByBusinesstrip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelReimbursementRoomInfos">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravelReimbursementRoomInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelReimbursementDetail">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravelReimbursementDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelReimbursementListByUserId">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravelReimbursementListByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkerCordListByUserId">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetWorkerCordListByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkerCordList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DeleteWorkerCordList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkerCordAdd">
      <soap:operation soapAction="urn:SmtOAPersonOffice/WorkerCordAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkerCordDel">
      <soap:operation soapAction="urn:SmtOAPersonOffice/WorkerCordDel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkerCordUpdate">
      <soap:operation soapAction="urn:SmtOAPersonOffice/WorkerCordUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSatisfactionsMaster">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddSatisfactionsMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_SSurvey">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Add_SSurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurvey">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetSurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SSurveys">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_SSurveys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SSurvey">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_SSurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SSurveyChecked">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_SSurveyChecked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_SSurveys">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Del_SSurveys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_SSurveySub">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Del_SSurveySub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upd_SSurveyChecked">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Upd_SSurveyChecked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upd_SSurvey">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Upd_SSurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SSurveyApp">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_SSurveyApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SSurveyApps">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_SSurveyApps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SSurveyAppChecked">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_SSurveyAppChecked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_StaticfactionSurveyAppChecked">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_StaticfactionSurveyAppChecked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_SSurveyApp">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Add_SSurveyApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upd_SSurveyApp">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Upd_SSurveyApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_SSurveyApp">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Del_SSurveyApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SSurveyResult">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_SSurveyResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SSurveyResults">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_SSurveyResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_SSurveyResult">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Add_SSurveyResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upd_SSurveyResult">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Upd_SSurveyResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_SSurveyResult">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Del_SSurveyResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Result_SurveyByRequireID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Result_SurveyByRequireID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Result_SurveySubID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Result_SurveySubID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Result_Save">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Result_Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Result_SubByUserID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Result_SubByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Result_EmployeeByRequireID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Result_EmployeeByRequireID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSurveys">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetEmployeeSurveys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByRequireID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetDataByRequireID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeSurveys">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DeleteEmployeeSurveys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnswer">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRequireresult">
      <soap:operation soapAction="urn:SmtOAPersonOffice/EditRequireresult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRequireresult">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DeleteRequireresult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRequire">
      <soap:operation soapAction="urn:SmtOAPersonOffice/CheckRequire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequireDistribute">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetRequireDistribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeSurveys">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdateEmployeeSurveys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployeeSurveyView">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddEmployeeSurveyView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSurveyViewList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetEmployeeSurveyViewList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ESurvey">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_ESurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ESurveyChecked">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_ESurveyChecked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeSurveyViewList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DeleteEmployeeSurveyViewList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeSurveySubjectView">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DeleteEmployeeSurveySubjectView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upd_ESurvey">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Upd_ESurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeSurveyView">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdateEmployeeSurveyView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultByUserID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetResultByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitResult">
      <soap:operation soapAction="urn:SmtOAPersonOffice/SubmitResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetEmployeeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ESurveyApp">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_ESurveyApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ESurveyApps">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_ESurveyApps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ESurveyAppChecked">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_ESurveyAppChecked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_MyVisistedSurvey">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_MyVisistedSurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_EsurveyApp">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Add_EsurveyApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upd_ESurveyApp">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Upd_ESurveyApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_ESurveyApp">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Del_ESurveyApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaticfactonVisistedByEmployID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetStaticfactonVisistedByEmployID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ESurveyResult">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_ESurveyResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ESurveyResults">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_ESurveyResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_ESurveyResult">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Add_ESurveyResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upd_ESurveyResult">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Upd_ESurveyResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_ESurveyResult">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Del_ESurveyResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaffSurveyInfos">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetStaffSurveyInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultCount">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetResultCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Result_ESurveyByRequireID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Result_ESurveyByRequireID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequire">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddRequire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdRequire">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdRequire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequireData">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetRequireData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSurveyAppByCheckstateAndDate">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetEmployeeSurveyAppByCheckstateAndDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataBySurveying">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetDataBySurveying" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSurveying">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddSurveying" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequireDistribute">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddRequireDistribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdRequireDistribute">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdRequireDistribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistributeData">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetDistributeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequireMaster">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddRequireMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdRequireMaster">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdRequireMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMasterDataByLoading">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetMasterDataByLoading" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurveyDataByCultivateForCheckState">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetSurveyDataByCultivateForCheckState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultByCultivateForID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetResultByCultivateForID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSurveyByCheckstateAndDate">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetEmployeeSurveyByCheckstateAndDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSatisfactionApp">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddSatisfactionApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdSatisfactionApp">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdSatisfactionApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequireByCheckstateAndDate">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetRequireByCheckstateAndDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSatisfactionAppChild">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetSatisfactionAppChild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSatisfactionDistribute">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddSatisfactionDistribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdSatisfactionDistribute">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdSatisfactionDistribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSatisfactionDistributeChild">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetSatisfactionDistributeChild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSatisfactionMaster">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddSatisfactionMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdSatisfactionMaster">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdSatisfactionMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMasterByCheckstateAndDate">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetMasterByCheckstateAndDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSatisfactionMasterChild">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetSatisfactionMasterChild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelmanagementInfo">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravelmanagementInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelmanagementById">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravelmanagementById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelmanagementBysId">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravelmanagementBysId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccordingToBusinesstripIdCheck">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetAccordingToBusinesstripIdCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExistTravelmanagement">
      <soap:operation soapAction="urn:SmtOAPersonOffice/IsExistTravelmanagement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTravelmanagement">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdateTravelmanagement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTravelmanagement">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DeleteTravelmanagement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TravelmanagementAdd">
      <soap:operation soapAction="urn:SmtOAPersonOffice/TravelmanagementAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelmanagementRoomInfos">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravelmanagementRoomInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelmanagementRoomInfosListBySearch">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravelmanagementRoomInfosListBySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusinesstripDetail">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetBusinesstripDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsContractCanBrowser">
      <soap:operation soapAction="urn:SmtOAPersonOffice/IsContractCanBrowser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelmanagementListByUserId">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravelmanagementListByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnderwayTravelmanagement">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetUnderwayTravelmanagement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderMealInfoAdd">
      <soap:operation soapAction="urn:SmtOAPersonOffice/OrderMealInfoAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExistOrderMealInfoByAdd">
      <soap:operation soapAction="urn:SmtOAPersonOffice/IsExistOrderMealInfoByAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderMealInfoDel">
      <soap:operation soapAction="urn:SmtOAPersonOffice/OrderMealInfoDel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderMealInfoUpdate">
      <soap:operation soapAction="urn:SmtOAPersonOffice/OrderMealInfoUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderMealSingleInfoById">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetOrderMealSingleInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderMealInfos">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetOrderMealInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderMealInfosListByTitleTimeSearch">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetOrderMealInfosListByTitleTimeSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelReimbursementInfo">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravelReimbursementInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelReimbursementById">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravelReimbursementById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Apporval">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_Apporval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApporvalList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetApporvalList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApporvalListforMVC">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetApporvalListforMVC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddApporval">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddApporval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteApporval">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DeleteApporval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApporval">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdateApporval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteApporvalList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DeleteApporvalList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddApprovalSet">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddApprovalSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalSetByOrgType">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetApprovalSetByOrgType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalTypeByCompanyandDepartmentid">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetApprovalTypeByCompanyandDepartmentid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalTypeByCompanyid">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetApprovalTypeByCompanyid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalTypesByCompanyIDs">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetApprovalTypesByCompanyIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ApporvalTemplet">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_ApporvalTemplet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ApporvalTempletByApporvalType">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Get_ApporvalTempletByApporvalType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApporvalTempletList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetApporvalTempletList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddApporvalTemplet">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddApporvalTemplet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteApporvalTemplet">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DeleteApporvalTemplet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApporvalTemplet">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdateApporvalTemplet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteApporvalTempletList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DeleteApporvalTempletList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaAllowanceADD">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AreaAllowanceADD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaAllowanceUpdate">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AreaAllowanceUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaAllowance">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AreaAllowance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaAllowanceDelete">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AreaAllowanceDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaAllowanceByAreaID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetAreaAllowanceByAreaID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaAllowanceByID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetAreaAllowanceByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaCategory">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetAreaCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaCityByCategory">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetAreaCityByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaCityAdd">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AreaCityAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaCityCheck">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AreaCityCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaCityByCategoryDelete">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AreaCityByCategoryDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaCityLotsofAdd">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AreaCityLotsofAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaCityDelete">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AreaCityDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaCategoryByID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetAreaCategoryByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaCategoryUpdate">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AreaCategoryUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaCategoryADD">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AreaCategoryADD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreaCategoryDelete">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AreaCategoryDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaAllowanceWithPaging">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetAreaAllowanceWithPaging" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaCityWithPaging">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetAreaCityWithPaging" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaWithPaging">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetAreaWithPaging" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTravleSolution">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddTravleSolution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTravleSolution">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdateTravleSolution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTravleSolution">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DeleteTravleSolution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelSolutionFlow">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravelSolutionFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVechileStandardAndPlaneLine">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetVechileStandardAndPlaneLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueryPlanCity">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetQueryPlanCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueryProgramSubsidies">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetQueryProgramSubsidies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelSolutionByCompanyID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravelSolutionByCompanyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravleAreaAllowanceByCompanyID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravleAreaAllowanceByCompanyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravleAreaAllowanceByPostValue">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravleAreaAllowanceByPostValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTravleSolutionSet">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddTravleSolutionSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTravleSolutionSet">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdateTravleSolutionSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravleSolutionSetBySolutionID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetTravleSolutionSetBySolutionID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCopyTravleSolution">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetCopyTravleSolution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalendarListByUserID">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetCalendarListByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCalendarList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DelCalendarList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCalendar">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCalendar">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DelCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCalendar">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdateCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApporvalList22">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetApporvalList22" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfroByTitle">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetInfroByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployeeSurveyMaster">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddEmployeeSurveyMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployeeSurveyAnswer">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddEmployeeSurveyAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAnswer">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetEmployeeAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployeeSurveyQuestion">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddEmployeeSurveyQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoListByOptFlag">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetInfoListByOptFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoById">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoByTitle">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetInfoByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmpSurveys">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddEmpSurveys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployeeSurvey">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddEmployeeSurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmpSurveys">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DeleteEmpSurveys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmpSurveys">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdateEmpSurveys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpSurveysSubjectList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetEmpSurveysSubjectList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelEmpSurveysSubject">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DelEmpSurveysSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmpSurveysSubject">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddEmpSurveysSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmpSurveysSubjectList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddEmpSurveysSubjectList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save_SubjectAnswer">
      <soap:operation soapAction="urn:SmtOAPersonOffice/Save_SubjectAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelEmpSurveysSubjectList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DelEmpSurveysSubjectList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmpSurveysSubject">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdateEmpSurveysSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmpSurveysSubjectList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdateEmpSurveysSubjectList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmpSurveysAnswer">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddEmpSurveysAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpSurveysAnswerList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/GetEmpSurveysAnswerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmpSurveysAnswerList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddEmpSurveysAnswerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelEmpSurveysAnswerList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/DelEmpSurveysAnswerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmpSurveysAnswerList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/UpdateEmpSurveysAnswerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmpSurveysResultList">
      <soap:operation soapAction="urn:SmtOAPersonOffice/AddEmpSurveysResultList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmtOAPersonOffice">
    <wsdl:port name="BasicHttpBinding_SmtOAPersonOffice" binding="tns:BasicHttpBinding_SmtOAPersonOffice">
      <soap:address location="http://localhost:3938/SmtOAPersonOffice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>