SMT.SAAS.Platform/SMT.SAAS.Loading/Service References/EmployeeInfoWS/EmployeeInfoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12168/EmployeeInfoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel" />
  <xs:element name="getEmployeeInfobyLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeInfobyLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel" minOccurs="0" name="getEmployeeInfobyLoginResult" nillable="true" type="q1:V_EMPLOYEEDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>