TM.SaaS.OA/WF/SMT.SaaS.FlowSystem/SMT.FlowWFService/Service References/FlowEngineService/EngineWcfGlobalFunction4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfT_FLOW_ENGINENOTES">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_FLOW_ENGINENOTES" nillable="true" type="tns:T_FLOW_ENGINENOTES" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_FLOW_ENGINENOTES" nillable="true" type="tns:ArrayOfT_FLOW_ENGINENOTES" />
  <xs:complexType name="T_FLOW_ENGINENOTES">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPLICATIONCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPLICATIONORDERCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANYCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATETIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAILSTATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGEBODY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGESTATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTESID" type="xs:decimal" />
      <xs:element minOccurs="0" name="RECEIVEDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECEIVETIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECEIVEUSER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RTXSTATUS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_FLOW_ENGINENOTES" nillable="true" type="tns:T_FLOW_ENGINENOTES" />
  <xs:complexType name="ArrayOfCustomUserMsg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomUserMsg" nillable="true" type="tns:CustomUserMsg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomUserMsg" nillable="true" type="tns:ArrayOfCustomUserMsg" />
  <xs:complexType name="CustomUserMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomUserMsg" nillable="true" type="tns:CustomUserMsg" />
  <xs:complexType name="ArrayOfT_FLOW_CUSTOMFLOWDEFINE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_FLOW_CUSTOMFLOWDEFINE" nillable="true" type="tns:T_FLOW_CUSTOMFLOWDEFINE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_FLOW_CUSTOMFLOWDEFINE" nillable="true" type="tns:ArrayOfT_FLOW_CUSTOMFLOWDEFINE" />
  <xs:complexType name="T_FLOW_CUSTOMFLOWDEFINE">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANYCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATETIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNCTIONDES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNCTIONNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGEBODY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODELCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODELNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSGLINKURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAMETERSPLITCHAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROCESSFUNCNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROCESSFUNCPAMETER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROCESSID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROCESSWCFURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECEIVEUSER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECEIVEUSERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYSTEMCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYSTEMNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WCFBINDINGCONTRACT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_FLOW_CUSTOMFLOWDEFINE" nillable="true" type="tns:T_FLOW_CUSTOMFLOWDEFINE" />
  <xs:complexType name="ArrayOfMailParams">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MailParams" nillable="true" type="tns:MailParams" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMailParams" nillable="true" type="tns:ArrayOfMailParams" />
  <xs:complexType name="MailParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="MailContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveUserMail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailParams" nillable="true" type="tns:MailParams" />
  <xs:complexType name="T_WF_TIMINGTRIGGERACTIVITY">
    <xs:sequence>
      <xs:element minOccurs="0" name="BUSINESSID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRACTTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEDATETIME" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNCTIONNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNCTIONPARAMTER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGEBODY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGEURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODELCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODELNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAMETERSPLITCHAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECEIVERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECEIVEROLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECEIVERUSERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYSTEMCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYSTEMNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIMINGCONFIGID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRIGGERACTIVITYTYPE" type="xs:decimal" />
      <xs:element minOccurs="0" name="TRIGGERDATE" type="xs:decimal" />
      <xs:element minOccurs="0" name="TRIGGERDESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRIGGERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRIGGERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRIGGERROUND" type="xs:decimal" />
      <xs:element minOccurs="0" name="TRIGGERSTATUS" type="xs:decimal" />
      <xs:element minOccurs="0" name="TRIGGERTIME" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TRIGGERTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WCFBINDINGCONTRACT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WCFURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_WF_TIMINGTRIGGERACTIVITY" nillable="true" type="tns:T_WF_TIMINGTRIGGERACTIVITY" />
</xs:schema>