TM.SaaS.OA/WF/SMT.SaaS.FlowSystem/SMT.FlowWFService/Service References/FlowEngineService/EngineWcfGlobalFunction6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.Global.EngineCache" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.Global.EngineCache" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TaskCacheEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="HaveNewTask" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastFreshTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskCacheEntity" nillable="true" type="tns:TaskCacheEntity" />
</xs:schema>