TM.SaaS.OA/PM/SMT.SaaS.InterActiveDirectory/Web References/kmoapassword/CHTWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Edit_PassWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPassWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OldPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Edit_PassWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Edit_PassWordResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumIDbyAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumIDbyAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNumIDbyAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getForums">
        <s:complexType />
      </s:element>
      <s:element name="getForumsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getForumsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getArticleList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getArticleListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getArticleListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRespondList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRespondListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRespondListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="Edit_PassWordSoapIn">
    <wsdl:part name="parameters" element="tns:Edit_PassWord" />
  </wsdl:message>
  <wsdl:message name="Edit_PassWordSoapOut">
    <wsdl:part name="parameters" element="tns:Edit_PassWordResponse" />
  </wsdl:message>
  <wsdl:message name="GetNumIDbyAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetNumIDbyAccount" />
  </wsdl:message>
  <wsdl:message name="GetNumIDbyAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetNumIDbyAccountResponse" />
  </wsdl:message>
  <wsdl:message name="getForumsSoapIn">
    <wsdl:part name="parameters" element="tns:getForums" />
  </wsdl:message>
  <wsdl:message name="getForumsSoapOut">
    <wsdl:part name="parameters" element="tns:getForumsResponse" />
  </wsdl:message>
  <wsdl:message name="getArticleListSoapIn">
    <wsdl:part name="parameters" element="tns:getArticleList" />
  </wsdl:message>
  <wsdl:message name="getArticleListSoapOut">
    <wsdl:part name="parameters" element="tns:getArticleListResponse" />
  </wsdl:message>
  <wsdl:message name="getRespondListSoapIn">
    <wsdl:part name="parameters" element="tns:getRespondList" />
  </wsdl:message>
  <wsdl:message name="getRespondListSoapOut">
    <wsdl:part name="parameters" element="tns:getRespondListResponse" />
  </wsdl:message>
  <wsdl:portType name="CHTWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input message="tns:UpdatePasswordSoapIn" />
      <wsdl:output message="tns:UpdatePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Edit_PassWord">
      <wsdl:input message="tns:Edit_PassWordSoapIn" />
      <wsdl:output message="tns:Edit_PassWordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumIDbyAccount">
      <wsdl:input message="tns:GetNumIDbyAccountSoapIn" />
      <wsdl:output message="tns:GetNumIDbyAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getForums">
      <wsdl:input message="tns:getForumsSoapIn" />
      <wsdl:output message="tns:getForumsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getArticleList">
      <wsdl:input message="tns:getArticleListSoapIn" />
      <wsdl:output message="tns:getArticleListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRespondList">
      <wsdl:input message="tns:getRespondListSoapIn" />
      <wsdl:output message="tns:getRespondListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CHTWebServiceSoap" type="tns:CHTWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap:operation soapAction="http://tempuri.org/UpdatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit_PassWord">
      <soap:operation soapAction="http://tempuri.org/Edit_PassWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumIDbyAccount">
      <soap:operation soapAction="http://tempuri.org/GetNumIDbyAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForums">
      <soap:operation soapAction="http://tempuri.org/getForums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArticleList">
      <soap:operation soapAction="http://tempuri.org/getArticleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRespondList">
      <soap:operation soapAction="http://tempuri.org/getRespondList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CHTWebServiceSoap12" type="tns:CHTWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap12:operation soapAction="http://tempuri.org/UpdatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit_PassWord">
      <soap12:operation soapAction="http://tempuri.org/Edit_PassWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumIDbyAccount">
      <soap12:operation soapAction="http://tempuri.org/GetNumIDbyAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForums">
      <soap12:operation soapAction="http://tempuri.org/getForums" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArticleList">
      <soap12:operation soapAction="http://tempuri.org/getArticleList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRespondList">
      <soap12:operation soapAction="http://tempuri.org/getRespondList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CHTWebService">
    <wsdl:port name="CHTWebServiceSoap" binding="tns:CHTWebServiceSoap">
      <soap:address location="http://kmoa.aisidi.com/kmoa_webservice/CHTWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CHTWebServiceSoap12" binding="tns:CHTWebServiceSoap12">
      <soap12:address location="http://kmoa.aisidi.com/kmoa_webservice/CHTWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>