TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/FlowWFService/SMT2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="T_WF_PERSONALRECORD">
    <xs:sequence>
      <xs:element minOccurs="0" name="CHECKSTATE" type="xs:decimal" />
      <xs:element minOccurs="0" name="CONFIGINFO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ISFORWARD" type="xs:decimal" />
      <xs:element minOccurs="0" name="ISVIEW" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODELCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODELDESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODELID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERSONALRECORDID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYSTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATEDATE" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_WF_PERSONALRECORD" nillable="true" type="tns:T_WF_PERSONALRECORD" />
  <xs:complexType name="T_WF_DOTASK">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPFIELDVALUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPLICATIONURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPXML" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BEFOREPROCESSDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CLOSEDDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="COMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEDATETIME" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOTASKID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOTASKSTATUS" type="xs:decimal" />
      <xs:element minOccurs="0" name="DOTASKTYPE" type="xs:decimal" />
      <xs:element minOccurs="0" name="ENGINECODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOWXML" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISALARM" type="xs:decimal" />
      <xs:element minOccurs="0" name="MAILSTATUS" type="xs:decimal" />
      <xs:element minOccurs="0" name="MESSAGEBODY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODELCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODELNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDERSTATUS" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORDERUSERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDERUSERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECEIVEUSERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RTXSTATUS" type="xs:decimal" />
      <xs:element minOccurs="0" name="SYSTEMCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_WF_DOTASK" nillable="true" type="tns:T_WF_DOTASK" />
</xs:schema>