TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/FlowWFService/SMT4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EngineDataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EngineDataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfT_WF_FORWARDHISTORY">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_WF_FORWARDHISTORY" nillable="true" type="tns:T_WF_FORWARDHISTORY" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_WF_FORWARDHISTORY" nillable="true" type="tns:ArrayOfT_WF_FORWARDHISTORY" />
  <xs:complexType name="T_WF_FORWARDHISTORY">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATEDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FORWARDHISTORYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FROMOWNERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FROMOWNERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODELCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODELID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERSONALRECORDID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOOWNERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOOWNERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_WF_FORWARDHISTORY" nillable="true" type="tns:T_WF_FORWARDHISTORY" />
</xs:schema>