TM.SaaS.OA/OA/SMT.SaaS.OA.UI/Service References/SmtOAPersonOfficeService/SmtOAPersonOffice11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3938/SmtOAPersonOffice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
  <xs:complexType name="ArrayOfV_TravelReimbursement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_TravelReimbursement" nillable="true" type="tns:V_TravelReimbursement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_TravelReimbursement" nillable="true" type="tns:ArrayOfV_TravelReimbursement" />
  <xs:complexType name="V_TravelReimbursement">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cicty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cictys" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endtime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guids" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Startdate" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="TravelReimbursement" nillable="true" type="q1:T_OA_TRAVELREIMBURSEMENT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_TravelReimbursement" nillable="true" type="tns:V_TravelReimbursement" />
  <xs:complexType name="V_Satisfaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="Detail" nillable="true" type="q2:T_OA_SATISFACTIONDETAIL" />
      <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="RequireMaster" nillable="true" type="q3:T_OA_SATISFACTIONMASTER" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="SubjectViewList" nillable="true" type="q4:ArrayOfT_OA_SATISFACTIONDETAIL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_Satisfaction" nillable="true" type="tns:V_Satisfaction" />
  <xs:complexType name="ArrayOfV_Satisfaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_Satisfaction" nillable="true" type="tns:V_Satisfaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_Satisfaction" nillable="true" type="tns:ArrayOfV_Satisfaction" />
  <xs:complexType name="ArrayOfV_MyStaticfaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_MyStaticfaction" nillable="true" type="tns:V_MyStaticfaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_MyStaticfaction" nillable="true" type="tns:ArrayOfV_MyStaticfaction" />
  <xs:complexType name="V_MyStaticfaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="OAMaster" nillable="true" type="q5:T_OA_SATISFACTIONMASTER" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="OARequire" nillable="true" type="q6:T_OA_SATISFACTIONREQUIRE" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="OAResult" nillable="true" type="q7:T_OA_SATISFACTIONRESULT" />
      <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="distrbuteuser" nillable="true" type="q8:T_OA_DISTRIBUTEUSER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_MyStaticfaction" nillable="true" type="tns:V_MyStaticfaction" />
  <xs:complexType name="ArrayOfV_SatisfactionResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_SatisfactionResult" nillable="true" type="tns:V_SatisfactionResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_SatisfactionResult" nillable="true" type="tns:ArrayOfV_SatisfactionResult" />
  <xs:complexType name="V_SatisfactionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="LstAnswer" nillable="true" type="tns:ArrayOfV_SSubjectAnswerResult" />
      <xs:element minOccurs="0" name="SubjectID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_SatisfactionResult" nillable="true" type="tns:V_SatisfactionResult" />
  <xs:complexType name="ArrayOfV_SSubjectAnswerResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_SSubjectAnswerResult" nillable="true" type="tns:V_SSubjectAnswerResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_SSubjectAnswerResult" nillable="true" type="tns:ArrayOfV_SSubjectAnswerResult" />
  <xs:complexType name="V_SSubjectAnswerResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_SSubjectAnswerResult" nillable="true" type="tns:V_SSubjectAnswerResult" />
  <xs:complexType name="ArrayOfV_EmployeeID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_EmployeeID" nillable="true" type="tns:V_EmployeeID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_EmployeeID" nillable="true" type="tns:ArrayOfV_EmployeeID" />
  <xs:complexType name="V_EmployeeID">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeCompanyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeDepartmentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeIDCode" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeePostID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_EmployeeID" nillable="true" type="tns:V_EmployeeID" />
  <xs:complexType name="V_EmployeeSurveysModel">
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="T_OA_REQUIRE" nillable="true" type="q9:T_OA_REQUIRE" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="T_OA_REQUIREDETAIL" nillable="true" type="q10:ArrayOfT_OA_REQUIREDETAIL" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="T_OA_REQUIREDETAIL2" nillable="true" type="q11:ArrayOfT_OA_REQUIREDETAIL2" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="T_OA_REQUIREMASTER" nillable="true" type="q12:T_OA_REQUIREMASTER" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="T_OA_REQUIRERESULT" nillable="true" type="q13:ArrayOfT_OA_REQUIRERESULT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_EmployeeSurveysModel" nillable="true" type="tns:V_EmployeeSurveysModel" />
  <xs:complexType name="ArrayOfV_REQUIRERESULTMODE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_REQUIRERESULTMODE" nillable="true" type="tns:V_REQUIRERESULTMODE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_REQUIRERESULTMODE" nillable="true" type="tns:ArrayOfV_REQUIRERESULTMODE" />
  <xs:complexType name="V_REQUIRERESULTMODE">
    <xs:sequence>
      <xs:element minOccurs="0" name="RESULT" type="xs:boolean" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="T_OA_REQUIREDETAIL" nillable="true" type="q14:T_OA_REQUIREDETAIL" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="T_OA_REQUIRERESULT" nillable="true" type="q15:T_OA_REQUIRERESULT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_REQUIRERESULTMODE" nillable="true" type="tns:V_REQUIRERESULTMODE" />
  <xs:complexType name="V_EmployeeSurveyMaster">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequireAnswerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequireMasterId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequireQuestionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectId" type="xs:decimal" />
      <xs:element minOccurs="0" name="SubjectList" nillable="true" type="tns:ArrayOfV_EmployeeSurveyInformation" />
      <xs:element minOccurs="0" name="SurveyTitle" nillable="true" type="xs:string" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="answerList" nillable="true" type="q16:ArrayOfT_OA_REQUIREDETAIL" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="masterEntity" nillable="true" type="q17:T_OA_REQUIREMASTER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_EmployeeSurveyMaster" nillable="true" type="tns:V_EmployeeSurveyMaster" />
  <xs:complexType name="ArrayOfV_EmployeeSurveyInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_EmployeeSurveyInformation" nillable="true" type="tns:V_EmployeeSurveyInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_EmployeeSurveyInformation" nillable="true" type="tns:ArrayOfV_EmployeeSurveyInformation" />
  <xs:complexType name="V_EmployeeSurveyInformation">
    <xs:sequence>
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="AnswerList" nillable="true" type="q18:ArrayOfT_OA_REQUIREDETAIL" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="Subject" nillable="true" type="q19:T_OA_REQUIREDETAIL2" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_EmployeeSurveyInformation" nillable="true" type="tns:V_EmployeeSurveyInformation" />
  <xs:complexType name="V_EmployeeSurvey">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="RequireMaster" nillable="true" type="q20:T_OA_REQUIREMASTER" />
      <xs:element minOccurs="0" name="SubjectViewList" nillable="true" type="tns:ArrayOfV_EmployeeSurveySubject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_EmployeeSurvey" nillable="true" type="tns:V_EmployeeSurvey" />
  <xs:complexType name="ArrayOfV_EmployeeSurveySubject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_EmployeeSurveySubject" nillable="true" type="tns:V_EmployeeSurveySubject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_EmployeeSurveySubject" nillable="true" type="tns:ArrayOfV_EmployeeSurveySubject" />
  <xs:complexType name="V_EmployeeSurveySubject">
    <xs:sequence>
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="Answer" nillable="true" type="q21:T_OA_REQUIREDETAIL" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="AnswerList" nillable="true" type="q22:ArrayOfT_OA_REQUIREDETAIL" />
      <xs:element minOccurs="0" name="IsAdd" type="xs:boolean" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="Master" nillable="true" type="q23:T_OA_REQUIREMASTER" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="Question" nillable="true" type="q24:T_OA_REQUIREDETAIL2" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="SubjectInfo" nillable="true" type="q25:T_OA_REQUIREDETAIL2" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_EmployeeSurveySubject" nillable="true" type="tns:V_EmployeeSurveySubject" />
  <xs:complexType name="ArrayOfV_EmployeeSurvey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_EmployeeSurvey" nillable="true" type="tns:V_EmployeeSurvey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_EmployeeSurvey" nillable="true" type="tns:ArrayOfV_EmployeeSurvey" />
  <xs:complexType name="ArrayOfV_MyEusurvey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_MyEusurvey" nillable="true" type="tns:V_MyEusurvey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_MyEusurvey" nillable="true" type="tns:ArrayOfV_MyEusurvey" />
  <xs:complexType name="V_MyEusurvey">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="OADetail" nillable="true" type="q26:T_OA_REQUIREDETAIL" />
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="OAMaster" nillable="true" type="q27:T_OA_REQUIREMASTER" />
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="OARequire" nillable="true" type="q28:T_OA_REQUIRE" />
      <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="OAResult" nillable="true" type="q29:ArrayOfT_OA_REQUIRERESULT" />
      <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
      <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="distrbuteuser" nillable="true" type="q30:T_OA_DISTRIBUTEUSER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_MyEusurvey" nillable="true" type="tns:V_MyEusurvey" />
  <xs:complexType name="V_EmployeeSurveyApp">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerGroupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DistributeuserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MasterId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequireContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequireId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequireresultId" nillable="true" type="xs:string" />
      <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="ResultList" nillable="true" type="q31:ArrayOfT_OA_REQUIRERESULT" />
      <xs:element minOccurs="0" name="SurveyTitle" nillable="true" type="xs:string" />
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="distributeuserList" nillable="true" type="q32:ArrayOfT_OA_DISTRIBUTEUSER" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="masterEntity" nillable="true" type="q33:T_OA_REQUIREMASTER" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="oldDistributeuserList" nillable="true" type="q34:ArrayOfT_OA_DISTRIBUTEUSER" />
      <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="requireEntity" nillable="true" type="q35:T_OA_REQUIRE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_EmployeeSurveyApp" nillable="true" type="tns:V_EmployeeSurveyApp" />
  <xs:complexType name="ArrayOfV_EmployeeSurveyApp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_EmployeeSurveyApp" nillable="true" type="tns:V_EmployeeSurveyApp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_EmployeeSurveyApp" nillable="true" type="tns:ArrayOfV_EmployeeSurveyApp" />
  <xs:complexType name="V_EmployeeSurveying">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MasterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequireID" nillable="true" type="xs:string" />
      <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="ResultList" nillable="true" type="q36:ArrayOfT_OA_REQUIRERESULT" />
      <xs:element minOccurs="0" name="SubjectList" nillable="true" type="tns:ArrayOfV_EmployeeSurveyInformation" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_EmployeeSurveying" nillable="true" type="tns:V_EmployeeSurveying" />
  <xs:complexType name="V_EmployeeSurveyRequireDistribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequireDistributeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequireId" nillable="true" type="xs:string" />
      <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="distributeuserList" nillable="true" type="q37:ArrayOfT_OA_DISTRIBUTEUSER" />
      <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="oldDistributeuserList" nillable="true" type="q38:ArrayOfT_OA_DISTRIBUTEUSER" />
      <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="requiredistributeEntity" nillable="true" type="q39:T_OA_REQUIREDISTRIBUTE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_EmployeeSurveyRequireDistribute" nillable="true" type="tns:V_EmployeeSurveyRequireDistribute" />
  <xs:complexType name="ArrayOfV_EmployeeSurveyMaster">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_EmployeeSurveyMaster" nillable="true" type="tns:V_EmployeeSurveyMaster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_EmployeeSurveyMaster" nillable="true" type="tns:ArrayOfV_EmployeeSurveyMaster" />
  <xs:complexType name="V_Satisfactions">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerGroupid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnswerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Percnet" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SatisfactiondistrbuteidDistrbuteid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Satisfactionmasterid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Satisfactionrequireid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveyTitle" nillable="true" type="xs:string" />
      <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="disibuteEntity" nillable="true" type="q40:T_OA_SATISFACTIONDISTRIBUTE" />
      <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="distributeuserList" nillable="true" type="q41:ArrayOfT_OA_DISTRIBUTEUSER" />
      <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="masterEntity" nillable="true" type="q42:T_OA_REQUIREMASTER" />
      <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="oldDistributeuserList" nillable="true" type="q43:ArrayOfT_OA_DISTRIBUTEUSER" />
      <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="requireEntity" nillable="true" type="q44:T_OA_SATISFACTIONREQUIRE" />
      <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="resultList" nillable="true" type="q45:ArrayOfT_OA_SATISFACTIONRESULT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_Satisfactions" nillable="true" type="tns:V_Satisfactions" />
  <xs:complexType name="ArrayOfV_Satisfactions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_Satisfactions" nillable="true" type="tns:V_Satisfactions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_Satisfactions" nillable="true" type="tns:ArrayOfV_Satisfactions" />
  <xs:complexType name="V_Travelmanagement">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cicty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cictys" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endtime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guids" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoClaims" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportCheckState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Startdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateReimbursement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tdetail" type="xs:int" />
      <xs:element minOccurs="0" name="TrCheckState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraveAppCheckState" nillable="true" type="xs:string" />
      <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" minOccurs="0" name="Travelmanagement" nillable="true" type="q46:T_OA_BUSINESSTRIP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_Travelmanagement" nillable="true" type="tns:V_Travelmanagement" />
  <xs:complexType name="ArrayOfV_Travelmanagement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_Travelmanagement" nillable="true" type="tns:V_Travelmanagement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_Travelmanagement" nillable="true" type="tns:ArrayOfV_Travelmanagement" />
  <xs:complexType name="ArrayOfV_DepartmentWithCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_DepartmentWithCompany" nillable="true" type="tns:V_DepartmentWithCompany" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_DepartmentWithCompany" nillable="true" type="tns:ArrayOfV_DepartmentWithCompany" />
  <xs:complexType name="V_DepartmentWithCompany">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPROVALTYPEVALUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BRIEFNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTMENTID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_DepartmentWithCompany" nillable="true" type="tns:V_DepartmentWithCompany" />
  <xs:complexType name="ArrayOfV_ApprovalType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_ApprovalType" nillable="true" type="tns:V_ApprovalType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_ApprovalType" nillable="true" type="tns:ArrayOfV_ApprovalType" />
  <xs:complexType name="V_ApprovalType">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPROVALTYPE" type="xs:decimal" />
      <xs:element minOccurs="0" name="APPROVALTYPENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApprovalTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTMENTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FATHERAPPROVALID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FATHERVALUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTNAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_ApprovalType" nillable="true" type="tns:V_ApprovalType" />
</xs:schema>