TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/OAPersonalWS/SmtOAPersonOffice6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.1.57/New/Services/OA/SmtOAPersonOffice.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://172.16.1.57/New/Services/OA/SmtOAPersonOffice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfT_OA_REQUIREUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_REQUIRE" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_REQUIREUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_REQUIREUlJdEHjk" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfT_OA_REQUIREMASTERUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_REQUIREMASTER" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_REQUIREMASTERUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_REQUIREMASTERUlJdEHjk" />
  <xs:complexType name="EntityReferenceOfT_OA_BUSINESSTRIPUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_BUSINESSTRIP" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_BUSINESSTRIPUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_BUSINESSTRIPUlJdEHjk" />
  <xs:complexType name="EntityReferenceOfT_OA_TRAVELREIMBURSEMENTUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_TRAVELREIMBURSEMENT" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_TRAVELREIMBURSEMENTUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_TRAVELREIMBURSEMENTUlJdEHjk" />
  <xs:complexType name="EntityReferenceOfT_OA_SATISFACTIONMASTERUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_SATISFACTIONMASTER" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_SATISFACTIONMASTERUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_SATISFACTIONMASTERUlJdEHjk" />
  <xs:complexType name="EntityReferenceOfT_OA_SATISFACTIONREQUIREUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_SATISFACTIONREQUIRE" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_SATISFACTIONREQUIREUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_SATISFACTIONREQUIREUlJdEHjk" />
  <xs:complexType name="EntityReferenceOfT_OA_AREADIFFERENCEUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_AREADIFFERENCE" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_AREADIFFERENCEUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_AREADIFFERENCEUlJdEHjk" />
  <xs:complexType name="EntityReferenceOfT_OA_TRAVELSOLUTIONSUlJdEHjk">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_OA_TRAVELSOLUTIONS" Namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_OA_TRAVELSOLUTIONSUlJdEHjk" nillable="true" type="tns:EntityReferenceOfT_OA_TRAVELSOLUTIONSUlJdEHjk" />
</xs:schema>