SMT.SaaS.FrameWorkUI/SMT.Saas.Tools/Service References/EngineWS/EngineWcfGlobalFunction3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.10.0.95/New/Services/SMTEngine/EngineWcfGlobalFunction.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" />
  <xs:import schemaLocation="http://10.10.0.95/New/Services/SMTEngine/EngineWcfGlobalFunction.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" />
  <xs:import schemaLocation="http://10.10.0.95/New/Services/SMTEngine/EngineWcfGlobalFunction.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SMT.Workflow.Engine.Services.BLL" />
  <xs:import schemaLocation="http://10.10.0.95/New/Services/SMTEngine/EngineWcfGlobalFunction.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/EngineDataModel" />
  <xs:import schemaLocation="http://10.10.0.95/New/Services/SMTEngine/EngineWcfGlobalFunction.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="dask" nillable="true" type="q1:T_WF_DOTASK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTaskResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoTaskEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="receiveUserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoTaskEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="GetDoTaskEntityResult" nillable="true" type="q2:T_WF_DOTASK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrigger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTriggerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDoDask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="systemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strXML" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" minOccurs="0" name="msgType" type="q3:MsgType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDoDaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnUserInfoDask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="systemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strXML" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" minOccurs="0" name="msgType" type="q4:MsgType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnUserInfoDaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT.Workflow.Engine.Services.BLL" minOccurs="0" name="ReturnUserInfoDaskResult" nillable="true" type="q5:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationMsgTriggerNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="UserAndForm" nillable="true" type="q6:ArrayOfCustomUserMsg" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SystemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strXml" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" minOccurs="0" name="msgType" type="q7:MsgType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoTaskNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoTaskNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDoTaskNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoTaskNumberByIM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoTaskNumberByIMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDoTaskNumberByIMResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForwardHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="formID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForwardHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EngineDataModel" minOccurs="0" name="GetForwardHistoryResult" nillable="true" type="q8:ArrayOfT_WF_FORWARDHISTORY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskCacheReflesh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskCacheRefleshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CacheReflesh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isHasNewBill" type="xs:boolean" />
        <xs:element minOccurs="0" name="isHasNewTask" type="xs:boolean" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CacheRefleshResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCachUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCachUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveCacheResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFlowTriggerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFlowMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBOObject" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFlowTriggerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveFlowTriggerDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingTasksParmsPageIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" minOccurs="0" name="msgParams" nillable="true" type="q9:MsgParms" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingTasksParmsPageIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EngineDataModel" minOccurs="0" name="PendingTasksParmsPageIndexResult" nillable="true" type="q10:ArrayOfT_FLOW_ENGINEMSGLIST" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingTasksParmsPageIndexForMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" minOccurs="0" name="msgParams" nillable="true" type="q11:MsgParms" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingTasksParmsPageIndexForMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EngineDataModel" minOccurs="0" name="PendingTasksParmsPageIndexForMobileResult" nillable="true" type="q12:ArrayOfT_FLOW_ENGINEMSGLIST" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingTaskPrevNext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" minOccurs="0" name="msgParms" nillable="true" type="q13:MsgParms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingTaskPrevNextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPendingTaskPrevNextResult" nillable="true" type="q14:ArrayOfKeyValueOfstringT_FLOW_ENGINEMSGLISTN9HQXtD5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingCacheTasksParmsPageIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" minOccurs="0" name="msgParams" nillable="true" type="q15:MsgParms" />
        <xs:element minOccurs="0" name="IsAutofresh" type="xs:boolean" />
        <xs:element minOccurs="0" name="HaveNewTask" type="xs:boolean" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingCacheTasksParmsPageIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EngineDataModel" minOccurs="0" name="PendingCacheTasksParmsPageIndexResult" nillable="true" type="q16:ArrayOfT_FLOW_ENGINEMSGLIST" />
        <xs:element minOccurs="0" name="IsAutofresh" type="xs:boolean" />
        <xs:element minOccurs="0" name="HaveNewTask" type="xs:boolean" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingMainTasksParms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" minOccurs="0" name="msgParams" nillable="true" type="q17:MsgParms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingMainTasksParmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EngineDataModel" minOccurs="0" name="PendingMainTasksParmsResult" nillable="true" type="q18:ArrayOfT_FLOW_ENGINEMSGLIST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingCacheMainTasksParms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" minOccurs="0" name="msgParams" nillable="true" type="q19:MsgParms" />
        <xs:element minOccurs="0" name="IsAutofresh" type="xs:boolean" />
        <xs:element minOccurs="0" name="HaveNewTask" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingCacheMainTasksParmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EngineDataModel" minOccurs="0" name="PendingCacheMainTasksParmsResult" nillable="true" type="q20:ArrayOfT_FLOW_ENGINEMSGLIST" />
        <xs:element minOccurs="0" name="IsAutofresh" type="xs:boolean" />
        <xs:element minOccurs="0" name="HaveNewTask" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingDetailByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMsgID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingDetailByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EngineDataModel" minOccurs="0" name="PendingDetailByIDResult" nillable="true" type="q21:T_FLOW_ENGINEMSGLIST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingDetailTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMsgID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingDetailTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EngineDataModel" minOccurs="0" name="PendingDetailTasksResult" nillable="true" type="q22:T_FLOW_ENGINEMSGLIST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingDetailTasksByPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMsgID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingDetailTasksByPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EngineDataModel" minOccurs="0" name="PendingDetailTasksByPhoneResult" nillable="true" type="q23:T_FLOW_ENGINEMSGLIST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingDetailTasksByOrderNodeCodeForMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNodeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingDetailTasksByOrderNodeCodeForMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EngineDataModel" minOccurs="0" name="PendingDetailTasksByOrderNodeCodeForMobileResult" nillable="true" type="q24:T_FLOW_ENGINEMSGLIST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EngineNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iTop" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EngineNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="EngineNotesResult" nillable="true" type="q25:ArrayOfT_FLOW_ENGINENOTES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelEventTriggerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strApplicationOrderCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelEventTriggerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelEventTriggerDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEventData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strEventXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MsgTrigger">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="recevieUser" nillable="true" type="q26:ArrayOfstring" />
        <xs:element minOccurs="0" name="SystemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MsgKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotesSend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" minOccurs="0" name="List" nillable="true" type="q27:ArrayOfReceiveUserAndContent" />
        <xs:element minOccurs="0" name="SystemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFormID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskMsgClose">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSystemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFormID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReceiveUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseDoTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listOrderID" nillable="true" type="q28:ArrayOfstring" />
        <xs:element minOccurs="0" name="strModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReceiveUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseDoTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MsgListClose">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSystemCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" minOccurs="0" name="List" nillable="true" type="q29:ArrayOfReceiveUserForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModelMsgClose">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReceiveUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClosedDoTaskFromID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClosedDoTaskFromIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MsgClose">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMessageID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strEventID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationMsgTrigger">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="UserAndForm" nillable="true" type="q30:ArrayOfCustomUserMsg" />
        <xs:element minOccurs="0" name="SystemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strXml" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" minOccurs="0" name="msgType" type="q31:MsgType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationMsgTriggerCustom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="UserAndForm" nillable="true" type="q32:ArrayOfCustomUserMsg" />
        <xs:element minOccurs="0" name="SystemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strXml" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" minOccurs="0" name="msgType" type="q33:MsgType" />
        <xs:element minOccurs="0" name="messageBody" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationEngineTrigger">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="UserAndForm" nillable="true" type="q34:ArrayOfCustomUserMsg" />
        <xs:element minOccurs="0" name="SystemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strXml" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" minOccurs="0" name="msgType" type="q35:MsgType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppMsgTrigger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReceiveUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFormID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MsgContent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strNewGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppMsgTriggerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationNotesTrigger">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="UserAndForm" nillable="true" type="q36:ArrayOfCustomUserMsg" />
        <xs:element minOccurs="0" name="SystemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomFlowDefineList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q37:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="strCompanyID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomFlowDefineListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="CustomFlowDefineListResult" nillable="true" type="q38:ArrayOfT_FLOW_CUSTOMFLOWDEFINE" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallCustomFlowTrigger">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="define" nillable="true" type="q39:T_FLOW_CUSTOMFLOWDEFINE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="mailParams" nillable="true" type="q40:ArrayOfMailParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="mailParams" nillable="true" type="q41:ArrayOfMailParams" />
        <xs:element minOccurs="0" name="mailType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailParameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailParamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlowCancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFlowXML" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAppXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlowCancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlowCancelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlowConsultati">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="UserAndForm" nillable="true" type="q42:ArrayOfCustomUserMsg" />
        <xs:element minOccurs="0" name="strTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFlowXML" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAppXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlowConsultatiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlowConsultatiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlowConsultatiClose">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSystemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFormID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReceiveUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="UserAndForm" nillable="true" type="q43:ArrayOfCustomUserMsg" />
        <xs:element minOccurs="0" name="strSystemCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskDeleteALL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSystemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFormID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReceiveID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTaskMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="list" nillable="true" type="q44:ArrayOfCustomUserMsg" />
        <xs:element minOccurs="0" name="SystemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTaskMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendTaskMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WFAddTimingTrigger">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="entity" nillable="true" type="q45:T_WF_TIMINGTRIGGERACTIVITY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WFAddTimingTriggerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WFAddTimingTriggerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>