TM.SaaS.OA/WF/SMT.SaaS.FlowSystem/SMTWFTest/Service References/WcfFlowService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SubimtFlow_InputMessage">
    <wsdl:part name="parameters" element="tns:SubimtFlow" />
  </wsdl:message>
  <wsdl:message name="IService_SubimtFlow_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubimtFlowResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAppUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppUser" />
  </wsdl:message>
  <wsdl:message name="IService_GetAppUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetFlowRecordMaster_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlowRecordMaster" />
  </wsdl:message>
  <wsdl:message name="IService_GetFlowRecordMaster_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlowRecordMasterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateFlow_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFlow" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateFlow_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFlowResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetFlowInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlowInfo" />
  </wsdl:message>
  <wsdl:message name="IService_GetFlowInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlowInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTaskInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskInfo" />
  </wsdl:message>
  <wsdl:message name="IService_GetTaskInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IsExistFlowDataByUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:IsExistFlowDataByUserID" />
  </wsdl:message>
  <wsdl:message name="IService_IsExistFlowDataByUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsExistFlowDataByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetFlowDataByUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlowDataByUserID" />
  </wsdl:message>
  <wsdl:message name="IService_GetFlowDataByUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlowDataByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetFlowDefine_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlowDefine" />
  </wsdl:message>
  <wsdl:message name="IService_GetFlowDefine_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlowDefineResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SubimtFlow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SubimtFlow" message="tns:IService_SubimtFlow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SubimtFlowResponse" message="tns:IService_SubimtFlow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAppUser" message="tns:IService_GetAppUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAppUserResponse" message="tns:IService_GetAppUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlowRecordMaster">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetFlowRecordMaster" message="tns:IService_GetFlowRecordMaster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetFlowRecordMasterResponse" message="tns:IService_GetFlowRecordMaster_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFlow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateFlow" message="tns:IService_UpdateFlow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateFlowResponse" message="tns:IService_UpdateFlow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlowInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetFlowInfo" message="tns:IService_GetFlowInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetFlowInfoResponse" message="tns:IService_GetFlowInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTaskInfo" message="tns:IService_GetTaskInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTaskInfoResponse" message="tns:IService_GetTaskInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsExistFlowDataByUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsExistFlowDataByUserID" message="tns:IService_IsExistFlowDataByUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsExistFlowDataByUserIDResponse" message="tns:IService_IsExistFlowDataByUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlowDataByUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetFlowDataByUserID" message="tns:IService_GetFlowDataByUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetFlowDataByUserIDResponse" message="tns:IService_GetFlowDataByUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlowDefine">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetFlowDefine" message="tns:IService_GetFlowDefine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetFlowDefineResponse" message="tns:IService_GetFlowDefine_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#WSHttpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubimtFlow">
      <soap12:operation soapAction="http://tempuri.org/IService/SubimtFlow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppUser">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAppUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowRecordMaster">
      <soap12:operation soapAction="http://tempuri.org/IService/GetFlowRecordMaster" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFlow">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateFlow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowInfo">
      <soap12:operation soapAction="http://tempuri.org/IService/GetFlowInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskInfo">
      <soap12:operation soapAction="http://tempuri.org/IService/GetTaskInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExistFlowDataByUserID">
      <soap12:operation soapAction="http://tempuri.org/IService/IsExistFlowDataByUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowDataByUserID">
      <soap12:operation soapAction="http://tempuri.org/IService/GetFlowDataByUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowDefine">
      <soap12:operation soapAction="http://tempuri.org/IService/GetFlowDefine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="WSHttpBinding_IService" binding="tns:WSHttpBinding_IService">
      <soap12:address location="http://localhost:8732/Design_Time_Addresses/SMT.FlowWFService/Service/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8732/Design_Time_Addresses/SMT.FlowWFService/Service/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>