TM.SaaS.OA/WF/SMT.SaaS.FlowSystem/SMTWFTest/Service References/WcfFlowService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" />
  <xs:element name="SubimtFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" minOccurs="0" name="ApprovalData" nillable="true" type="q1:SubmitData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubimtFlowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" minOccurs="0" name="SubimtFlowResult" nillable="true" type="q2:DataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlowGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" minOccurs="0" name="GetAppUserResult" nillable="true" type="q3:DataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowRecordMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlowGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CheckState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EditUserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowRecordMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetFlowRecordMasterResult" nillable="true" type="q4:ArrayOfFLOW_FLOWRECORDMASTER_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="entity" nillable="true" type="q5:FLOW_FLOWRECORDDETAIL_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFlowResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlowGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CheckState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EditUserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetFlowInfoResult" nillable="true" type="q6:ArrayOfFLOW_FLOWRECORDDETAIL_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlowGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CheckState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EditUserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" minOccurs="0" name="GetTaskInfoResult" nillable="true" type="q7:ArrayOfTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistFlowDataByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistFlowDataByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistFlowDataByUserIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowDataByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowDataByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetFlowDataByUserIDResult" nillable="true" type="q8:ArrayOfFLOW_FLOWRECORDMASTER_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" minOccurs="0" name="ApprovalData" nillable="true" type="q9:SubmitData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFlowDefineResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>