TM.SaaS.OA/WF/SMT.SaaS.FlowSystem/WinFlowTest/Service References/FlowService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" />
  <xs:element name="AddConsultation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="flowConsultation" nillable="true" type="q1:FLOW_CONSULTATION_T" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" minOccurs="0" name="submitData" nillable="true" type="q2:SubmitData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConsultationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplyConsultation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="flowConsultation" nillable="true" type="q3:FLOW_CONSULTATION_T" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" minOccurs="0" name="submitData" nillable="true" type="q4:SubmitData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplyConsultationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubimtFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" minOccurs="0" name="ApprovalData" nillable="true" type="q5:SubmitData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubimtFlowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" minOccurs="0" name="SubimtFlowResult" nillable="true" type="q6:DataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlowGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" minOccurs="0" name="GetAppUserResult" nillable="true" type="q7:DataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowRecordMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlowGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CheckState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EditUserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowRecordMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetFlowRecordMasterResult" nillable="true" type="q8:ArrayOfFLOW_FLOWRECORDMASTER_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="entity" nillable="true" type="q9:FLOW_FLOWRECORDDETAIL_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFlowResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlowGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CheckState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EditUserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetFlowInfoResult" nillable="true" type="q10:ArrayOfFLOW_FLOWRECORDDETAIL_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaitingApprovalForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EditUserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaitingApprovalFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWaitingApprovalFormResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlowGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CheckState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EditUserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" minOccurs="0" name="GetTaskInfoResult" nillable="true" type="q12:ArrayOfTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistFlowDataByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PostID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistFlowDataByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistFlowDataByUserIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowDataByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowDataByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetFlowDataByUserIDResult" nillable="true" type="q13:ArrayOfFLOW_FLOWRECORDMASTER_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" minOccurs="0" name="ApprovalData" nillable="true" type="q14:SubmitData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFlowDefineResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalRecordByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personalrecordid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalRecordByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" minOccurs="0" name="GetPersonalRecordByIDResult" nillable="true" type="q15:T_WF_PERSONALRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlowID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFlowBranchResult" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFreeFlowAndIsCancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFreeFlowAndIsCancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IsFreeFlowAndIsCancelResult" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelFlowRelationInfosListBySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q18:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelFlowRelationInfosListBySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetModelFlowRelationInfosListBySearchResult" nillable="true" type="q19:ArrayOfFLOW_MODELFLOWRELATION_T" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>