TM.SaaS.OA/WF/SMT.SaaS.FlowSystem/WinFlowTest/Service References/FlowService/SMT.Workflow.Common.Model.FlowEngine.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.Workflow.Common.Model.FlowEngine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="T_WF_PERSONALRECORD">
    <xs:sequence>
      <xs:element minOccurs="0" name="CHECKSTATE" type="xs:decimal" />
      <xs:element minOccurs="0" name="CONFIGINFO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ISFORWARD" type="xs:decimal" />
      <xs:element minOccurs="0" name="ISVIEW" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODELCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODELDESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODELID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERSONALRECORDID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYSTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATEDATE" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_WF_PERSONALRECORD" nillable="true" type="tns:T_WF_PERSONALRECORD" />
</xs:schema>