TM.SaaS.OA/HR/SMT.HRM.UI/Service References/OutApplyWS/OutAppliecrecordService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:12168/OutAppliecrecordService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:12168/OutAppliecrecordService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12168/OutAppliecrecordService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:12168/OutAppliecrecordService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
      <xsd:import schemaLocation="http://localhost:12168/OutAppliecrecordService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:12168/OutAppliecrecordService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OutAppliecrecordService_EmployeeOutApplyRecordPaging_InputMessage">
    <wsdl:part name="parameters" element="EmployeeOutApplyRecordPaging" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_EmployeeOutApplyRecordPaging_OutputMessage">
    <wsdl:part name="parameters" element="EmployeeOutApplyRecordPagingResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_GetOutApplyByID_InputMessage">
    <wsdl:part name="parameters" element="GetOutApplyByID" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_GetOutApplyByID_OutputMessage">
    <wsdl:part name="parameters" element="GetOutApplyByIDResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_AddOutApply_InputMessage">
    <wsdl:part name="parameters" element="AddOutApply" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_AddOutApply_OutputMessage">
    <wsdl:part name="parameters" element="AddOutApplyResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_UpdateOutApply_InputMessage">
    <wsdl:part name="parameters" element="UpdateOutApply" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_UpdateOutApply_OutputMessage">
    <wsdl:part name="parameters" element="UpdateOutApplyResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_DeleteOutApply_InputMessage">
    <wsdl:part name="parameters" element="DeleteOutApply" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_DeleteOutApply_OutputMessage">
    <wsdl:part name="parameters" element="DeleteOutApplyResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_AuditOutApply_InputMessage">
    <wsdl:part name="parameters" element="AuditOutApply" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_AuditOutApply_OutputMessage">
    <wsdl:part name="parameters" element="AuditOutApplyResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_GetNoAttendCardEmployeesPaging_InputMessage">
    <wsdl:part name="parameters" element="GetNoAttendCardEmployeesPaging" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_GetNoAttendCardEmployeesPaging_OutputMessage">
    <wsdl:part name="parameters" element="GetNoAttendCardEmployeesPagingResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_GetNoAttendCardEmployeesByID_InputMessage">
    <wsdl:part name="parameters" element="GetNoAttendCardEmployeesByID" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_GetNoAttendCardEmployeesByID_OutputMessage">
    <wsdl:part name="parameters" element="GetNoAttendCardEmployeesByIDResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_AddNoAttendCardEmployeesRd_InputMessage">
    <wsdl:part name="parameters" element="AddNoAttendCardEmployeesRd" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_AddNoAttendCardEmployeesRd_OutputMessage">
    <wsdl:part name="parameters" element="AddNoAttendCardEmployeesRdResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_UpdateNoAttendCardEmployeesRd_InputMessage">
    <wsdl:part name="parameters" element="UpdateNoAttendCardEmployeesRd" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_UpdateNoAttendCardEmployeesRd_OutputMessage">
    <wsdl:part name="parameters" element="UpdateNoAttendCardEmployeesRdResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_DeleteNoAttendCardEmployeesRd_InputMessage">
    <wsdl:part name="parameters" element="DeleteNoAttendCardEmployeesRd" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_DeleteNoAttendCardEmployeesRd_OutputMessage">
    <wsdl:part name="parameters" element="DeleteNoAttendCardEmployeesRdResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_EmployeeOutApplyConfrimPaging_InputMessage">
    <wsdl:part name="parameters" element="EmployeeOutApplyConfrimPaging" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_EmployeeOutApplyConfrimPaging_OutputMessage">
    <wsdl:part name="parameters" element="EmployeeOutApplyConfrimPagingResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_GetOutApplyConfrimByID_InputMessage">
    <wsdl:part name="parameters" element="GetOutApplyConfrimByID" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_GetOutApplyConfrimByID_OutputMessage">
    <wsdl:part name="parameters" element="GetOutApplyConfrimByIDResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_AddOutApplyConfrim_InputMessage">
    <wsdl:part name="parameters" element="AddOutApplyConfrim" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_AddOutApplyConfrim_OutputMessage">
    <wsdl:part name="parameters" element="AddOutApplyConfrimResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_UpdateOutApplyConfrim_InputMessage">
    <wsdl:part name="parameters" element="UpdateOutApplyConfrim" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_UpdateOutApplyConfrim_OutputMessage">
    <wsdl:part name="parameters" element="UpdateOutApplyConfrimResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_DeleteOutApplyConfrim_InputMessage">
    <wsdl:part name="parameters" element="DeleteOutApplyConfrim" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_DeleteOutApplyConfrim_OutputMessage">
    <wsdl:part name="parameters" element="DeleteOutApplyConfrimResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_AuditOutApplyConfrim_InputMessage">
    <wsdl:part name="parameters" element="AuditOutApplyConfrim" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_AuditOutApplyConfrim_OutputMessage">
    <wsdl:part name="parameters" element="AuditOutApplyConfrimResponse" />
  </wsdl:message>
  <wsdl:portType name="OutAppliecrecordService">
    <wsdl:operation name="EmployeeOutApplyRecordPaging">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/EmployeeOutApplyRecordPaging" message="OutAppliecrecordService_EmployeeOutApplyRecordPaging_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/EmployeeOutApplyRecordPagingResponse" message="OutAppliecrecordService_EmployeeOutApplyRecordPaging_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutApplyByID">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/GetOutApplyByID" message="OutAppliecrecordService_GetOutApplyByID_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/GetOutApplyByIDResponse" message="OutAppliecrecordService_GetOutApplyByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOutApply">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/AddOutApply" message="OutAppliecrecordService_AddOutApply_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/AddOutApplyResponse" message="OutAppliecrecordService_AddOutApply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOutApply">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/UpdateOutApply" message="OutAppliecrecordService_UpdateOutApply_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/UpdateOutApplyResponse" message="OutAppliecrecordService_UpdateOutApply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOutApply">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/DeleteOutApply" message="OutAppliecrecordService_DeleteOutApply_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/DeleteOutApplyResponse" message="OutAppliecrecordService_DeleteOutApply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuditOutApply">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/AuditOutApply" message="OutAppliecrecordService_AuditOutApply_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/AuditOutApplyResponse" message="OutAppliecrecordService_AuditOutApply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNoAttendCardEmployeesPaging">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/GetNoAttendCardEmployeesPaging" message="OutAppliecrecordService_GetNoAttendCardEmployeesPaging_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/GetNoAttendCardEmployeesPagingResponse" message="OutAppliecrecordService_GetNoAttendCardEmployeesPaging_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNoAttendCardEmployeesByID">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/GetNoAttendCardEmployeesByID" message="OutAppliecrecordService_GetNoAttendCardEmployeesByID_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/GetNoAttendCardEmployeesByIDResponse" message="OutAppliecrecordService_GetNoAttendCardEmployeesByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNoAttendCardEmployeesRd">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/AddNoAttendCardEmployeesRd" message="OutAppliecrecordService_AddNoAttendCardEmployeesRd_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/AddNoAttendCardEmployeesRdResponse" message="OutAppliecrecordService_AddNoAttendCardEmployeesRd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNoAttendCardEmployeesRd">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/UpdateNoAttendCardEmployeesRd" message="OutAppliecrecordService_UpdateNoAttendCardEmployeesRd_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/UpdateNoAttendCardEmployeesRdResponse" message="OutAppliecrecordService_UpdateNoAttendCardEmployeesRd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNoAttendCardEmployeesRd">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/DeleteNoAttendCardEmployeesRd" message="OutAppliecrecordService_DeleteNoAttendCardEmployeesRd_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/DeleteNoAttendCardEmployeesRdResponse" message="OutAppliecrecordService_DeleteNoAttendCardEmployeesRd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeOutApplyConfrimPaging">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/EmployeeOutApplyConfrimPaging" message="OutAppliecrecordService_EmployeeOutApplyConfrimPaging_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/EmployeeOutApplyConfrimPagingResponse" message="OutAppliecrecordService_EmployeeOutApplyConfrimPaging_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutApplyConfrimByID">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/GetOutApplyConfrimByID" message="OutAppliecrecordService_GetOutApplyConfrimByID_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/GetOutApplyConfrimByIDResponse" message="OutAppliecrecordService_GetOutApplyConfrimByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOutApplyConfrim">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/AddOutApplyConfrim" message="OutAppliecrecordService_AddOutApplyConfrim_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/AddOutApplyConfrimResponse" message="OutAppliecrecordService_AddOutApplyConfrim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOutApplyConfrim">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/UpdateOutApplyConfrim" message="OutAppliecrecordService_UpdateOutApplyConfrim_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/UpdateOutApplyConfrimResponse" message="OutAppliecrecordService_UpdateOutApplyConfrim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOutApplyConfrim">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/DeleteOutApplyConfrim" message="OutAppliecrecordService_DeleteOutApplyConfrim_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/DeleteOutApplyConfrimResponse" message="OutAppliecrecordService_DeleteOutApplyConfrim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuditOutApplyConfrim">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/AuditOutApplyConfrim" message="OutAppliecrecordService_AuditOutApplyConfrim_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/AuditOutApplyConfrimResponse" message="OutAppliecrecordService_AuditOutApplyConfrim_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>