TM.SaaS.OA/PF/SMT.SAAS.Platform.WebParts/Service References/NewsWS/PlatformServices6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.30.50.13/SmtOnline/Develop/Services/Main/PlatformServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" />
  <xs:import schemaLocation="http://172.30.50.13/SmtOnline/Develop/Services/Main/PlatformServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SMT.SAAS.Platform.Services" />
  <xs:import schemaLocation="http://172.30.50.13/SmtOnline/Develop/Services/Main/PlatformServices.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetNewsListByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsListByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetNewsListByPageResult" nillable="true" type="q1:ArrayOfT_PF_NEWSListView" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebPartList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebPartListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetWebPartListResult" nillable="true" type="q2:ArrayOfT_PF_PLATFORMCONFIG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebPartListByState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebPartListByStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetWebPartListByStateResult" nillable="true" type="q3:ArrayOfT_PF_PLATFORMCONFIG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserWebPartsByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserWebPartsByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetUserWebPartsByUserIDResult" nillable="true" type="q4:ArrayOfT_PF_USERCONFIGRELEVANCE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserShortCutByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserShortCutByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetUserShortCutByUserIDResult" nillable="true" type="q5:ArrayOfT_PF_USERCONFIGRELEVANCE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshUserWebPartList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshUserWebPartListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshUserShortCutList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshUserShortCutListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPopupNewsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPopupNewsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetPopupNewsListResult" nillable="true" type="q6:ArrayOfT_PF_NEWSListView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRssSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rssAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRssSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMT.SAAS.Platform.Services" minOccurs="0" name="GetRssSourceResult" nillable="true" type="q7:ArrayOfRSSModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlatformConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="model" nillable="true" type="q8:T_PF_PLATFORMCONFIG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlatformConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPlatformConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlatformConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="model" nillable="true" type="q9:T_PF_PLATFORMCONFIG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlatformConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePlatformConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlatformConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_configID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlatformConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePlatformConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatformConfigModelByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_configID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatformConfigModelByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetPlatformConfigModelByIDResult" nillable="true" type="q10:T_PF_PLATFORMCONFIG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProjectConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="model" nillable="true" type="q11:T_PF_PROJECTCONFIG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProjectConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProjectConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="model" nillable="true" type="q12:T_PF_PROJECTCONFIG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProjectConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_configID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProjectConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectConfigModelByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_configID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectConfigModelByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetProjectConfigModelByIDResult" nillable="true" type="q13:T_PF_PROJECTCONFIG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserConfigRelevance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="model" nillable="true" type="q14:T_PF_USERCONFIGRELEVANCE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserConfigRelevanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserConfigRelevanceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserConfigRelevance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="model" nillable="true" type="q15:T_PF_USERCONFIGRELEVANCE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserConfigRelevanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserConfigRelevanceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserConfigRelevance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_configID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserConfigRelevanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserConfigRelevanceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserRelevanceConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="_configList" nillable="true" type="q16:ArrayOfT_PF_USERCONFIGRELEVANCE" />
        <xs:element minOccurs="0" name="iswebpart" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserRelevanceConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserRelevanceConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="model" nillable="true" type="q17:T_PF_USERCONFIG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="model" nillable="true" type="q18:T_PF_USERCONFIG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userConfigID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserConfigModelByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userConfigID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserConfigModelByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetUserConfigModelByIDResult" nillable="true" type="q19:T_PF_USERCONFIG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="model" nillable="true" type="q20:T_PF_NEWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewsByViewer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="model" nillable="true" type="q21:T_PF_NEWS" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="_viewer" nillable="true" type="q22:ArrayOfT_PF_DISTRIBUTEUSER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewsByViewerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewsByViewerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="model" nillable="true" type="q23:T_PF_NEWS" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="_viewer" nillable="true" type="q24:ArrayOfT_PF_DISTRIBUTEUSER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNewsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_newsID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNewsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsModelByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_newsID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsModelByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetNewsModelByIDResult" nillable="true" type="q25:T_PF_NEWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsDetailsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_newsID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsDetailsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetNewsDetailsByIDResult" nillable="true" type="q26:T_PF_NEWSView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetNewsListResult" nillable="true" type="q27:ArrayOfT_PF_NEWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsLists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNewsListsResult" nillable="true" type="q28:ArrayOfKeyValueOfT_PF_NEWSArrayOfT_PF_DISTRIBUTEUSER1bTbSugR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsListByParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="topCount" type="xs:int" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsListByParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetNewsListByParamsResult" nillable="true" type="q29:ArrayOfT_PF_NEWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsListByState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsListByStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetNewsListByStateResult" nillable="true" type="q30:ArrayOfT_PF_NEWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageNewsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="topCount" type="xs:int" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageNewsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SMT_PF_EFModel" minOccurs="0" name="GetImageNewsListResult" nillable="true" type="q31:ArrayOfT_PF_NEWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>