TM.SaaS.OA/PF/SMT.SAAS.Platform.WebParts/Service References/NewsWS/PlatformServices72.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SAAS.Platform.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SAAS.Platform.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRSSModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RSSModel" nillable="true" type="tns:RSSModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRSSModel" nillable="true" type="tns:ArrayOfRSSModel" />
  <xs:complexType name="RSSModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PubDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RSSModel" nillable="true" type="tns:RSSModel" />
</xs:schema>