SMT.SaaS.OANew - 航信/SMT.SaaS.OA.UI/Service References/SmtOADocumentAdminService/SmtOADocumentAdmin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmtOADocumentAdmin" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_SmtOADocumentAdmin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="" location="http://localhost:3938/SmtOADocumentAdmin.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="CustomBinding_SmtOADocumentAdmin" type="SmtOADocumentAdmin">
    <wsp:PolicyReference URI="#CustomBinding_SmtOADocumentAdmin_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContractTemplateInfo">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetContractTemplateInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractTemplateById">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetContractTemplateById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContraTemplate">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/UpdateContraTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContraTemplate">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/DeleteContraTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContractTemplateAdd">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/ContractTemplateAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractTypeTemplateNameByContractTypeInfos">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetContractTypeTemplateNameByContractTypeInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractApprovalInfo">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetContractApprovalInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractApprovalById">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetContractApprovalById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContraApproval">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/UpdateContraApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContraApproval">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/DeleteContraApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContractApprovalAdd">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/ContractApprovalAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContractPrintingAdd">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/ContractPrintingAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContractPrinting">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/UpdateContractPrinting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInquiryContractPrintingRecord">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetInquiryContractPrintingRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInquiryContractPrintingRecordInfo">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetInquiryContractPrintingRecordInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractPrintingById">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetContractPrintingById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContractViewapplicationsAdd">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/ContractViewapplicationsAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContractView">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/UpdateContractView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteViewapplications">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/DeleteViewapplications" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInquiryViewContractApplication">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetInquiryViewContractApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractApprovalRoomInfosListBySearch">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetContractApprovalRoomInfosListBySearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsContractCanBrowser">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/IsContractCanBrowser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractViewById">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetContractViewById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalListByUserId">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetApprovalListByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalListById">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetApprovalListById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/DoWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchives">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetArchives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchivesById">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetArchivesById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastArchives">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetLastArchives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddArchives">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/AddArchives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArchives">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/UpdateArchives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArchives">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/DeleteArchives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchivesInfosListBySearch">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetArchivesInfosListBySearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExistArchives">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/IsExistArchives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchivesCanBorrow">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetArchivesCanBorrow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchivesCanBorrowByCondition">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetArchivesCanBorrowByCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddArchivesLending">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/AddArchivesLending" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArchivesLending">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/UpdateArchivesLending" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArchivesLending">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/DeleteArchivesLending" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsArchivesCanUpdate">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/IsArchivesCanUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLendingListByUserId">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetLendingListByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLendingListByLendingId">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetLendingListByLendingId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsArchivesCanBrowser">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/IsArchivesCanBrowser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddArchivesReturn">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/AddArchivesReturn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReturnListByUserId">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetReturnListByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeNotReturnListByUserId">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetEmployeeNotReturnListByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganList">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetOrganList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganListByOrganId">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetOrganListByOrganId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseMatsterListByOrganId">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetLicenseMatsterListByOrganId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrgan">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/AddOrgan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExistOrgan">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/IsExistOrgan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrgan">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/UpdateOrgan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrgan">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/DeleteOrgan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseListPaging">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetLicenseListPaging" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseListById">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetLicenseListById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseDetailList">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetLicenseDetailList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLicenseDetail">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/AddLicenseDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLicenseDetail">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/UpdateLicenseDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseBorrowList">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetLicenseBorrowList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseBorrowListById">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetLicenseBorrowListById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLicenseBorrow">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/AddLicenseBorrow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsBorrowed">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/IsBorrowed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLicenseBorrow">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/UpdateLicenseBorrow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLicenseBorrow">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/DeleteLicenseBorrow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookupOjbects">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetLookupOjbects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBorrowAppList">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetBorrowAppList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LendOrReturn">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/LendOrReturn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfareStandardInfo">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfareStandardInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfareById">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfareById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfareStandardById">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfareStandardById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBenefitsAdministrationDetails">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetBenefitsAdministrationDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBenefitsDetailsAdministration">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetBenefitsDetailsAdministration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBenefitsAdministrationInfo">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetBenefitsAdministrationInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWelfareStandard">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/UpdateWelfareStandard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWelfareStandard">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/DeleteWelfareStandard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WelfareStandardAdd">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/WelfareStandardAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsWelfareCanBrowser">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/IsWelfareCanBrowser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfareListByUserId">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfareListByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfareInformation">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfareInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfarePostId">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfarePostId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWelfarePaymentDetails">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/UpdateWelfarePaymentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfarePaymentDetailsInfos">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfarePaymentDetailsInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfarePaymentDetailsInquiry">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfarePaymentDetailsInquiry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIdWelfarePaymentDetails">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetByIdWelfarePaymentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfareByWelfareproID">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfareByWelfareproID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfareByCompanyId">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfareByCompanyId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWelfarePaymentDetail">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/DeleteWelfarePaymentDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfareProvisionInfo">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfareProvisionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvisionById">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetProvisionById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfareMasert">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfareMasert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExistWelfareProvision">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/IsExistWelfareProvision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWelfareProvision">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/UpdateWelfareProvision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWelfareProvision">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/DeleteWelfareProvision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WelfareProvisionAdd">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/WelfareProvisionAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WelfarePaymentWithdrawalAdd">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/WelfarePaymentWithdrawalAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWelfarePaymentWithdrawal">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/UpdateWelfarePaymentWithdrawal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfarePaymentWithdrawalById">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfarePaymentWithdrawalById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfareProvisionListByUserId">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfareProvisionListByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfarePSelectRecord">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfarePSelectRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelfarePaymentWithdrawal">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetWelfarePaymentWithdrawal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePaymentWithdrawal">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/DeletePaymentWithdrawal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractTypeInfo">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetContractTypeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractTypeById">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetContractTypeById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExistContractType">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/IsExistContractType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContraType">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/UpdateContraType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContraType">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/DeleteContraType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContractTypeAdd">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/ContractTypeAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractTypeRoomInfosListBySearch">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetContractTypeRoomInfosListBySearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractTypeTemplateNameInfosByContractType">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetContractTypeTemplateNameInfosByContractType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractTypeNameInfosToCombox">
      <soap12:operation soapAction="urn:SmtOADocumentAdmin/GetContractTypeNameInfosToCombox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmtOADocumentAdmin">
    <wsdl:port name="CustomBinding_SmtOADocumentAdmin" binding="tns:CustomBinding_SmtOADocumentAdmin">
      <soap12:address location="http://localhost:3938/SmtOADocumentAdmin.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:3938/SmtOADocumentAdmin.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>