SMT.SaaS.OANew - 航信/SMT.SaaS.OA.UI/Service References/SmtOADocumentAdminService/SmtOADocumentAdmin1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3938/SmtOADocumentAdmin.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:3938/SmtOADocumentAdmin.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" />
  <xs:import schemaLocation="http://localhost:3938/SmtOADocumentAdmin.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" />
  <xs:import schemaLocation="http://localhost:3938/SmtOADocumentAdmin.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
  <xs:import schemaLocation="http://localhost:3938/SmtOADocumentAdmin.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.BLL" />
  <xs:element name="GetContractTemplateInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q1:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q2:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractTemplateInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetContractTemplateInfoResult" nillable="true" type="q3:ArrayOfV_ContractTemplate" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractTemplateById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractTemplateByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetContractTemplateByIdResult" nillable="true" type="q4:T_OA_CONTRACTTEMPLATE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContraTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="contraTemplateInfo" nillable="true" type="q5:T_OA_CONTRACTTEMPLATE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContraTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateContraTemplateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContraTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="contraTemplateID" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContraTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteContraTemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractTemplateAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="contractTemplate" nillable="true" type="q7:T_OA_CONTRACTTEMPLATE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractTemplateAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractTemplateAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractTypeTemplateNameByContractTypeInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrContractType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractTypeTemplateNameByContractTypeInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetContractTypeTemplateNameByContractTypeInfosResult" nillable="true" type="q8:ArrayOfT_OA_CONTRACTTEMPLATE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractApprovalInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractApprovalInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetContractApprovalInfoResult" nillable="true" type="q9:ArrayOfT_OA_CONTRACTAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractApprovalById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractApprovalID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractApprovalByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetContractApprovalByIdResult" nillable="true" type="q10:V_ContractApplications" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContraApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="contraApprovalInfo" nillable="true" type="q11:T_OA_CONTRACTAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContraApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateContraApprovalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContraApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="contraApprovalID" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContraApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteContraApprovalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractApprovalAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="ContractApproval" nillable="true" type="q13:T_OA_CONTRACTAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractApprovalAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractApprovalAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractPrintingAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="ContractPrintingInfo" nillable="true" type="q14:T_OA_CONTRACTPRINT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractPrintingAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractPrintingAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContractPrinting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="contractPrinting" nillable="true" type="q15:T_OA_CONTRACTPRINT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContractPrintingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateContractPrintingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInquiryContractPrintingRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q16:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInquiryContractPrintingRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetInquiryContractPrintingRecordResult" nillable="true" type="q17:ArrayOfV_ContractPrint" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInquiryContractPrintingRecordInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q18:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInquiryContractPrintingRecordInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetInquiryContractPrintingRecordInfoResult" nillable="true" type="q19:ArrayOfV_ContractPrint" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractPrintingById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractPrintinglID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractPrintingByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetContractPrintingByIdResult" nillable="true" type="q20:V_ContractPrint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractViewapplicationsAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="ContractApplicationView" nillable="true" type="q21:T_OA_CONTRACTVIEW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractViewapplicationsAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractViewapplicationsAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContractView">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="contractView" nillable="true" type="q22:T_OA_CONTRACTVIEW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContractViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateContractViewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteViewapplications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="viewapplicationsID" nillable="true" type="q23:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteViewapplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteViewapplicationsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInquiryViewContractApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q24:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q25:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInquiryViewContractApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetInquiryViewContractApplicationResult" nillable="true" type="q26:ArrayOfV_ContractView" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractApprovalRoomInfosListBySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrContractApprovalName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strContractLevel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strContractLogo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractApprovalRoomInfosListBySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetContractApprovalRoomInfosListBySearchResult" nillable="true" type="q27:ArrayOfV_ContractApplications" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsContractCanBrowser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsContractCanBrowserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsContractCanBrowserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractViewById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractViewID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractViewByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetContractViewByIdResult" nillable="true" type="q28:T_OA_CONTRACTVIEW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovalListByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q29:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q30:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovalListByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetApprovalListByUserIdResult" nillable="true" type="q31:ArrayOfV_ContractApplications" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovalListById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q32:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q33:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovalListByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetApprovalListByIdResult" nillable="true" type="q34:ArrayOfV_ContractApplications" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchives">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q35:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetArchivesResult" nillable="true" type="q36:ArrayOfT_OA_ARCHIVES" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archivesID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetArchivesByIdResult" nillable="true" type="q37:T_OA_ARCHIVES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastArchives">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastArchivesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetLastArchivesResult" nillable="true" type="q38:T_OA_ARCHIVES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArchives">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="archivesInfo" nillable="true" type="q39:T_OA_ARCHIVES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArchivesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddArchivesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArchives">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="archivesInfo" nillable="true" type="q40:T_OA_ARCHIVES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArchivesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateArchivesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArchives">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="archivesID" nillable="true" type="q41:ArrayOfstring" />
        <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArchivesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteArchivesResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesInfosListBySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesInfosListBySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetArchivesInfosListBySearchResult" nillable="true" type="q42:ArrayOfT_OA_ARCHIVES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistArchives">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createUserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistArchivesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistArchivesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesCanBorrow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesCanBorrowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetArchivesCanBorrowResult" nillable="true" type="q43:ArrayOfT_OA_ARCHIVES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesCanBorrowByCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesCanBorrowByConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetArchivesCanBorrowByConditionResult" nillable="true" type="q44:ArrayOfT_OA_ARCHIVES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArchivesLending">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="archivesLendingInfo" nillable="true" type="q45:T_OA_LENDARCHIVES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArchivesLendingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddArchivesLendingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArchivesLending">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="archivesLendingInfo" nillable="true" type="q46:T_OA_LENDARCHIVES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArchivesLendingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateArchivesLendingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArchivesLending">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lendingID" nillable="true" type="q47:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArchivesLendingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteArchivesLendingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsArchivesCanUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="archivesLendingInfo" nillable="true" type="q48:T_OA_LENDARCHIVES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsArchivesCanUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsArchivesCanUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLendingListByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q49:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q50:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLendingListByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetLendingListByUserIdResult" nillable="true" type="q51:ArrayOfT_OA_LENDARCHIVES" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLendingListByLendingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lendingID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLendingListByLendingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetLendingListByLendingIdResult" nillable="true" type="q52:ArrayOfT_OA_LENDARCHIVES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsArchivesCanBrowser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archivesID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsArchivesCanBrowserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsArchivesCanBrowserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArchivesReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="archivesObj" nillable="true" type="q53:T_OA_LENDARCHIVES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArchivesReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddArchivesReturnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReturnListByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q54:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReturnListByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetReturnListByUserIdResult" nillable="true" type="q55:ArrayOfT_OA_LENDARCHIVES" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeNotReturnListByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrEmployeeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeNotReturnListByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEmployeeNotReturnListByUserIdResult" nillable="true" type="q56:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q57:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q58:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetOrganListResult" nillable="true" type="q59:ArrayOfT_OA_ORGANIZATION" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganListByOrganId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganListByOrganIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetOrganListByOrganIdResult" nillable="true" type="q60:ArrayOfT_OA_ORGANIZATION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseMatsterListByOrganId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseMatsterListByOrganIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetLicenseMatsterListByOrganIdResult" nillable="true" type="q61:ArrayOfT_OA_LICENSEMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrgan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="organObj" nillable="true" type="q62:T_OA_ORGANIZATION" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="licenseMasterList" nillable="true" type="q63:ArrayOfT_OA_LICENSEMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrganResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrganResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistOrgan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistOrganResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistOrganResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrgan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="organObj" nillable="true" type="q64:T_OA_ORGANIZATION" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="licenseMasterList" nillable="true" type="q65:ArrayOfT_OA_LICENSEMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrganResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOrganResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrgan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="organCode" nillable="true" type="q66:ArrayOfstring" />
        <xs:element minOccurs="0" name="FBControl" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteOrganResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="FBControl" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseListPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q67:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseListPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetLicenseListPagingResult" nillable="true" type="q68:ArrayOfT_OA_LICENSEMASTER" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseListById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseListByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetLicenseListByIdResult" nillable="true" type="q69:ArrayOfT_OA_LICENSEMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetLicenseDetailListResult" nillable="true" type="q70:ArrayOfT_OA_LICENSEDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLicenseDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="licenseObj" nillable="true" type="q71:T_OA_LICENSEDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLicenseDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLicenseDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicenseDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="licenseDetailObj" nillable="true" type="q72:ArrayOfT_OA_LICENSEDETAIL" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="licenseMasterObj" nillable="true" type="q73:T_OA_LICENSEMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicenseDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLicenseDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseBorrowList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q74:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q75:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseBorrowListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetLicenseBorrowListResult" nillable="true" type="q76:ArrayOfT_OA_LICENSEUSER" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseBorrowListById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseBorrowListByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetLicenseBorrowListByIdResult" nillable="true" type="q77:T_OA_LICENSEUSER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLicenseBorrow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="licenseObj" nillable="true" type="q78:T_OA_LICENSEUSER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLicenseBorrowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLicenseBorrowResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBorrowed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBorrowedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsBorrowedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicenseBorrow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="licenseObj" nillable="true" type="q79:T_OA_LICENSEUSER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicenseBorrowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLicenseBorrowResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLicenseBorrow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="licenseID" nillable="true" type="q80:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLicenseBorrowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLicenseBorrowResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupOjbects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.BLL" minOccurs="0" name="entityName" type="q81:EntityNames" />
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="args" nillable="true" type="q82:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q83:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupOjbectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLookupOjbectsResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowAppList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q84:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="lendFlag" nillable="true" type="xs:string" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q85:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowAppListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetBorrowAppListResult" nillable="true" type="q86:ArrayOfT_OA_LICENSEUSER" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LendOrReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="licenseObj" nillable="true" type="q87:T_OA_LICENSEUSER" />
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LendOrReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LendOrReturnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareStandardInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareStandardInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetWelfareStandardInfoResult" nillable="true" type="q88:ArrayOfT_OA_WELFAREMASERT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WelfareID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetWelfareByIdResult" nillable="true" type="q89:T_OA_WELFAREMASERT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareStandardById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostLevela" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PostLevelb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PostId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareStandardByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetWelfareStandardByIdResult" nillable="true" type="q90:ArrayOfT_OA_WELFAREMASERT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBenefitsAdministrationDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="welfreRoId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="welfareId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBenefitsAdministrationDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetBenefitsAdministrationDetailsResult" nillable="true" type="q91:ArrayOfT_OA_WELFAREDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBenefitsDetailsAdministration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="welfreRoId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="releaseTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBenefitsDetailsAdministrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetBenefitsDetailsAdministrationResult" nillable="true" type="q92:ArrayOfT_OA_WELFAREDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBenefitsAdministrationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="welfreRoId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chckState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="welfareId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBenefitsAdministrationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetBenefitsAdministrationInfoResult" nillable="true" type="q93:T_OA_WELFAREMASERT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWelfareStandard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Welfare" nillable="true" type="q94:T_OA_WELFAREMASERT" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="WelfaredDetails" nillable="true" type="q95:ArrayOfT_OA_WELFAREDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWelfareStandardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWelfareStandardResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWelfareStandard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WelfareStandardID" nillable="true" type="q96:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWelfareStandardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWelfareStandardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WelfareStandardAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="WelfareStandard" nillable="true" type="q97:T_OA_WELFAREMASERT" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="WelfaredDetails" nillable="true" type="q98:ArrayOfT_OA_WELFAREDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WelfareStandardAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WelfareStandardAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWelfareCanBrowser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WelfareStandard" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWelfareCanBrowserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsWelfareCanBrowserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareListByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q99:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q100:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareListByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetWelfareListByUserIdResult" nillable="true" type="q101:ArrayOfV_WelfareStandard" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetWelfareInformationResult" nillable="true" type="q102:ArrayOfT_OA_WELFAREMASERT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfarePostId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfarePostIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetWelfarePostIdResult" nillable="true" type="q103:ArrayOfT_OA_WELFAREDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWelfarePaymentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="WelfarePaymentDetailsInfo" nillable="true" type="q104:T_OA_WELFAREDISTRIBUTEDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWelfarePaymentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWelfarePaymentDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfarePaymentDetailsInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q105="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q105:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfarePaymentDetailsInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetWelfarePaymentDetailsInfosResult" nillable="true" type="q106:ArrayOfV_WelfareDetails" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfarePaymentDetailsInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q107="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q107:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfarePaymentDetailsInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetWelfarePaymentDetailsInquiryResult" nillable="true" type="q108:ArrayOfT_OA_WELFAREDISTRIBUTEDETAIL" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdWelfarePaymentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distributeMasterId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdWelfarePaymentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetByIdWelfarePaymentDetailsResult" nillable="true" type="q109:ArrayOfT_OA_WELFAREDISTRIBUTEDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareByWelfareproID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="welfareproID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareByWelfareproIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetWelfareByWelfareproIDResult" nillable="true" type="q110:ArrayOfT_OA_WELFAREMASERT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareByCompanyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="welfreRoId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="releaseTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="welfareId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareByCompanyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetWelfareByCompanyIdResult" nillable="true" type="q111:T_OA_WELFAREMASERT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWelfarePaymentDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="welfarePaymentDetailId" nillable="true" type="q112:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWelfarePaymentDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWelfarePaymentDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareProvisionInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareProvisionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetWelfareProvisionInfoResult" nillable="true" type="q113:ArrayOfT_OA_WELFAREDISTRIBUTEMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvisionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WelfareID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvisionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetProvisionByIdResult" nillable="true" type="q114:T_OA_WELFAREDISTRIBUTEMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareMasert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="welfareId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareMasertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetWelfareMasertResult" nillable="true" type="q115:T_OA_WELFAREMASERT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistWelfareProvision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WelfareProvision" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WelfareStandardID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistWelfareProvisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistWelfareProvisionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWelfareProvision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="WelfareStandardInfo" nillable="true" type="q116:T_OA_WELFAREDISTRIBUTEMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWelfareProvisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWelfareProvisionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWelfareProvision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WelfareStandardID" nillable="true" type="q117:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWelfareProvisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWelfareProvisionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WelfareProvisionAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="WelfareProvision" nillable="true" type="q118:T_OA_WELFAREDISTRIBUTEMASTER" />
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="WelfareDetails" nillable="true" type="q119:ArrayOfT_OA_WELFAREDISTRIBUTEDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WelfareProvisionAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WelfareProvisionAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WelfarePaymentWithdrawalAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="WelfarePaymentWithdrawalView" nillable="true" type="q120:T_OA_WELFAREDISTRIBUTEUNDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WelfarePaymentWithdrawalAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WelfarePaymentWithdrawalAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWelfarePaymentWithdrawal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="WelfarePaymentWithdrawalView" nillable="true" type="q121:T_OA_WELFAREDISTRIBUTEUNDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWelfarePaymentWithdrawalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWelfarePaymentWithdrawalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfarePaymentWithdrawalById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beingWithdrawnId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfarePaymentWithdrawalByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetWelfarePaymentWithdrawalByIdResult" nillable="true" type="q122:T_OA_WELFAREDISTRIBUTEUNDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareProvisionListByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q123="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q123:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q124:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfareProvisionListByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetWelfareProvisionListByUserIdResult" nillable="true" type="q125:ArrayOfV_WelfareProvision" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfarePSelectRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element xmlns:q126="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q126:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfarePSelectRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetWelfarePSelectRecordResult" nillable="true" type="q127:ArrayOfV_WelfareProvision" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfarePaymentWithdrawal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q128="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q128:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q129:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWelfarePaymentWithdrawalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetWelfarePaymentWithdrawalResult" nillable="true" type="q130:ArrayOfV_WelfarePaymentWithdrawal" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaymentWithdrawal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paymentWithdrawalID" nillable="true" type="q131:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaymentWithdrawalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePaymentWithdrawalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractTypeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q132="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q132:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q133:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractTypeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetContractTypeInfoResult" nillable="true" type="q134:ArrayOfT_OA_CONTRACTTYPE" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetContractTypeByIdResult" nillable="true" type="q135:T_OA_CONTRACTTYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistContractType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContractTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistContractTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistContractTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContraType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="contraTypeInfo" nillable="true" type="q136:T_OA_CONTRACTTYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContraTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateContraTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContraType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="contraTypeID" nillable="true" type="q137:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContraTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteContraTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractTypeAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="contractType" nillable="true" type="q138:T_OA_CONTRACTTYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractTypeAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractTypeAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractTypeRoomInfosListBySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrContractTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strContractLevel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractTypeRoomInfosListBySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetContractTypeRoomInfosListBySearchResult" nillable="true" type="q139:ArrayOfV_ContractType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractTypeTemplateNameInfosByContractType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrContractType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractTypeTemplateNameInfosByContractTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetContractTypeTemplateNameInfosByContractTypeResult" nillable="true" type="q140:ArrayOfT_OA_CONTRACTTYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractTypeNameInfosToCombox">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractTypeNameInfosToComboxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetContractTypeNameInfosToComboxResult" nillable="true" type="q141:ArrayOfT_OA_CONTRACTTYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>