SMT.SaaS.OANew - 航信/SMT.SaaS.OA.UI/Service References/SmtOADocumentAdminService/SmtOADocumentAdmin93.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smtonlineserver/SmtOnline/Services/OA/SmtOADocumentAdmin.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
  <xs:complexType name="ArrayOfV_ContractApplications">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_ContractApplications" nillable="true" type="tns:V_ContractApplications" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_ContractApplications" nillable="true" type="tns:ArrayOfV_ContractApplications" />
  <xs:complexType name="V_ContractApplications">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guids" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="contractApp" nillable="true" type="q1:T_OA_CONTRACTAPP" />
      <xs:element minOccurs="0" name="contractType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_ContractApplications" nillable="true" type="tns:V_ContractApplications" />
  <xs:complexType name="ArrayOfV_LicenseBorrow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_LicenseBorrow" nillable="true" type="tns:V_LicenseBorrow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_LicenseBorrow" nillable="true" type="tns:ArrayOfV_LicenseBorrow" />
  <xs:complexType name="V_LicenseBorrow">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guids" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="licenseUser" nillable="true" type="q2:T_OA_LICENSEUSER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_LicenseBorrow" nillable="true" type="tns:V_LicenseBorrow" />
  <xs:complexType name="ArrayOfV_ArchivesLending">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_ArchivesLending" nillable="true" type="tns:V_ArchivesLending" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_ArchivesLending" nillable="true" type="tns:ArrayOfV_ArchivesLending" />
  <xs:complexType name="V_ArchivesLending">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guids" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="archives" nillable="true" type="q3:T_OA_ARCHIVES" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="archivesLending" nillable="true" type="q4:T_OA_LENDARCHIVES" />
      <xs:element minOccurs="0" name="flowApp" nillable="true" type="tns:V_FlowAPP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_ArchivesLending" nillable="true" type="tns:V_ArchivesLending" />
  <xs:complexType name="V_FlowAPP">
    <xs:sequence>
      <xs:element minOccurs="0" name="EditUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_FlowAPP" nillable="true" type="tns:V_FlowAPP" />
  <xs:complexType name="ArrayOfV_WelfareStandard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_WelfareStandard" nillable="true" type="tns:V_WelfareStandard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_WelfareStandard" nillable="true" type="tns:ArrayOfV_WelfareStandard" />
  <xs:complexType name="V_WelfareStandard">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guids" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="welfareStandard" nillable="true" type="q5:T_OA_WELFARE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_WelfareStandard" nillable="true" type="tns:V_WelfareStandard" />
  <xs:complexType name="ArrayOfV_WelfareProvision">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_WelfareProvision" nillable="true" type="tns:V_WelfareProvision" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_WelfareProvision" nillable="true" type="tns:ArrayOfV_WelfareProvision" />
  <xs:complexType name="V_WelfareProvision">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guids" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="standard" type="xs:decimal" />
      <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="welfareProvision" nillable="true" type="q6:T_OA_WELFAREDISTRIBUTEMASTER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_WelfareProvision" nillable="true" type="tns:V_WelfareProvision" />
  <xs:complexType name="ArrayOfV_ContractType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_ContractType" nillable="true" type="tns:V_ContractType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_ContractType" nillable="true" type="tns:ArrayOfV_ContractType" />
  <xs:complexType name="V_ContractType">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="contractType" nillable="true" type="q7:T_OA_CONTRACTTYPE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_ContractType" nillable="true" type="tns:V_ContractType" />
  <xs:complexType name="ArrayOfV_ContractTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_ContractTemplate" nillable="true" type="tns:V_ContractTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_ContractTemplate" nillable="true" type="tns:ArrayOfV_ContractTemplate" />
  <xs:complexType name="V_ContractTemplate">
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="contractTemplate" nillable="true" type="q8:T_OA_CONTRACTTEMPLATE" />
      <xs:element minOccurs="0" name="contractType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_ContractTemplate" nillable="true" type="tns:V_ContractTemplate" />
</xs:schema>