TM.SaaS.OA/FrameWork/SMT.Saas.Tools/Service References/HrCommonServiceWS/HrCommonService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:12168/HrCommonService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:12168/HrCommonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12168/HrCommonService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HrCommonService_GetAppConfigByName_InputMessage">
    <wsdl:part name="parameters" element="GetAppConfigByName" />
  </wsdl:message>
  <wsdl:message name="HrCommonService_GetAppConfigByName_OutputMessage">
    <wsdl:part name="parameters" element="GetAppConfigByNameResponse" />
  </wsdl:message>
  <wsdl:message name="HrCommonService_GetEntityProNameByEnityName_InputMessage">
    <wsdl:part name="parameters" element="GetEntityProNameByEnityName" />
  </wsdl:message>
  <wsdl:message name="HrCommonService_GetEntityProNameByEnityName_OutputMessage">
    <wsdl:part name="parameters" element="GetEntityProNameByEnityNameResponse" />
  </wsdl:message>
  <wsdl:portType name="HrCommonService">
    <wsdl:operation name="GetAppConfigByName">
      <wsdl:input wsaw:Action="urn:HrCommonService/GetAppConfigByName" message="HrCommonService_GetAppConfigByName_InputMessage" />
      <wsdl:output wsaw:Action="urn:HrCommonService/GetAppConfigByNameResponse" message="HrCommonService_GetAppConfigByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEntityProNameByEnityName">
      <wsdl:input wsaw:Action="urn:HrCommonService/GetEntityProNameByEnityName" message="HrCommonService_GetEntityProNameByEnityName_InputMessage" />
      <wsdl:output wsaw:Action="urn:HrCommonService/GetEntityProNameByEnityNameResponse" message="HrCommonService_GetEntityProNameByEnityName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>