SMT.SaaS.FrameWorkUI/SMT.Saas.Tools/Service References/SalaryWS/SalaryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12168/SalaryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://localhost:12168/SalaryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfT_HR_SALARYITEMLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_SALARYITEM" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_SALARYITEMLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_SALARYITEMLmi1kWPo" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfT_HR_AREADIFFERENCELmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_AREADIFFERENCE" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_AREADIFFERENCELmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_AREADIFFERENCELmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_SALARYSOLUTIONLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_SALARYSOLUTION" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_SALARYSOLUTIONLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_SALARYSOLUTIONLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_CUSTOMGUERDONSETLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_CUSTOMGUERDONSET" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_CUSTOMGUERDONSETLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_CUSTOMGUERDONSETLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_SALARYSTANDARDLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_SALARYSTANDARD" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_SALARYSTANDARDLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_SALARYSTANDARDLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_SALARYARCHIVELmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_SALARYARCHIVE" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_SALARYARCHIVELmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_SALARYARCHIVELmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_SALARYSYSTEMLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_SALARYSYSTEM" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_SALARYSYSTEMLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_SALARYSYSTEMLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_POSTLEVELDISTINCTIONLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_POSTLEVELDISTINCTION" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_POSTLEVELDISTINCTIONLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_POSTLEVELDISTINCTIONLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_SALARYLEVELLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_SALARYLEVEL" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_SALARYLEVELLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_SALARYLEVELLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_PERFORMANCEREWARDSETLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_PERFORMANCEREWARDSET" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_PERFORMANCEREWARDSETLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_PERFORMANCEREWARDSETLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_SALARYRECORDBATCHLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_SALARYRECORDBATCH" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_SALARYRECORDBATCHLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_SALARYRECORDBATCHLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEESALARYRECORDLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEESALARYRECORD" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEESALARYRECORDLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEESALARYRECORDLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEEADDSUMBATCHLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEEADDSUMBATCH" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEEADDSUMBATCHLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEEADDSUMBATCHLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_SALARYARCHIVEHISLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_SALARYARCHIVEHIS" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_SALARYARCHIVEHISLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_SALARYARCHIVEHISLmi1kWPo" />
</xs:schema>