SMT.SaaS.FrameWorkUI/SMT.Saas.Tools/Service References/FlowDesignerWS/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.ViewModel" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.Service" />
  <xs:element name="GetModuleDefinition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetModuleDefinitionResult" nillable="true" type="q1:ArrayOfFLOW_MODELDEFINE_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleDefinitionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleDefinitionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleDefinitionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetModuleDefinitionByIdResult" nillable="true" type="q2:FLOW_MODELDEFINE_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistModuleDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModelCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistModuleDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistModuleDefinitionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateModuleDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="moduleInfo" nillable="true" type="q3:FLOW_MODELDEFINE_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateModuleDefinitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModuleDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ModuleI" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModuleDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteModuleDefinitionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModuleDefinitionAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="ModuleAdd" nillable="true" type="q5:FLOW_MODELDEFINE_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModuleDefinitionAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleDefinitionAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelDefineInfosListBySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelDefineInfosListBySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetModelDefineInfosListBySearchResult" nillable="true" type="q6:ArrayOfFLOW_MODELDEFINE_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelDefineInfosListByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q7:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelDefineInfosListByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetModelDefineInfosListByNameResult" nillable="true" type="q8:ArrayOfFLOW_MODELDEFINE_T" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleRelation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetModuleRelationResult" nillable="true" type="q9:ArrayOfFLOW_MODELFLOWRELATION_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleRelationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleRelationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleRelationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetModuleRelationByIdResult" nillable="true" type="q10:FLOW_MODELFLOWRELATION_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistModuleRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DepartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModuleCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlowType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistModuleRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistModuleRelationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateModuleRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="Module" nillable="true" type="q11:FLOW_MODELFLOWRELATION_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateModuleRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateModuleRelationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModuleRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ModuleI" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModuleRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteModuleRelationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModuleRelationAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="ModuleAdd" nillable="true" type="q13:FLOW_MODELFLOWRELATION_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModuleRelationAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleRelationAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelFlowRelationInfosListBySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q14:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelFlowRelationInfosListBySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetModelFlowRelationInfosListBySearchResult" nillable="true" type="q15:ArrayOfFLOW_MODELFLOWRELATION_T" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelFlowRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q16:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelFlowRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.ViewModel" minOccurs="0" name="GetModelFlowRelationResult" nillable="true" type="q17:ArrayOfFLOW_MODELFLOWRELATION_V" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelFlowRelationByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MODELFLOWRELATIONID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelFlowRelationByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetModelFlowRelationByIDResult" nillable="true" type="q18:ArrayOfFLOW_MODELFLOWRELATION_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelNameInfosCombox">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelNameInfosComboxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetModelNameInfosComboxResult" nillable="true" type="q19:ArrayOfFLOW_MODELDEFINE_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowModelNameInfosCombox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowModelNameInfosComboxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetFlowModelNameInfosComboxResult" nillable="true" type="q20:ArrayOfFLOW_FLOWDEFINE_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q21:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetFlowDefineResult" nillable="true" type="q22:ArrayOfFLOW_FLOWDEFINE_T" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowDefineV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q23:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowDefineVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.ViewModel" minOccurs="0" name="GetFlowDefineVResult" nillable="true" type="q24:ArrayOfFLOW_FLOWDEFINE_V" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowDefineByFlowCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlowCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowDefineByFlowCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFlowDefineByFlowCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleFlowDefineByFlowCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlowCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleFlowDefineByFlowCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" minOccurs="0" name="GetSingleFlowDefineByFlowCodeResult" nillable="true" type="q25:FLOW_FLOWDEFINE_T" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlowDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlowCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlowType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Xoml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Rule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Layout" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DepartmentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PostID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlowDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFlowDefineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlowDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlowCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Xoml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Rule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Layout" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlowDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFlowDefineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFlowDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FlowDefinitionID" nillable="true" type="q26:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFlowDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFlowDefinitionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.Service" minOccurs="0" name="GetSystemListResult" nillable="true" type="q27:ArrayOfWFBOSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemBOList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.Service" minOccurs="0" name="boSystem" nillable="true" type="q28:WFBOSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemBOListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.Service" minOccurs="0" name="GetSystemBOListResult" nillable="true" type="q29:ArrayOfWFBOObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemBOAttributeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.Service" minOccurs="0" name="boSystem" nillable="true" type="q30:WFBOSystem" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.Service" minOccurs="0" name="boObject" nillable="true" type="q31:WFBOObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemBOAttributeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.Service" minOccurs="0" name="GetSystemBOAttributeListResult" nillable="true" type="q32:ArrayOfWFBOAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWFBOSystemByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="boSystemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWFBOSystemByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.Service" minOccurs="0" name="getWFBOSystemByNameResult" nillable="true" type="q33:WFBOSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWFBOObjectByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="boSystemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="boObjectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWFBOObjectByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.Service" minOccurs="0" name="getWFBOObjectByNameResult" nillable="true" type="q34:WFBOObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>