SMT.SaaS.FrameWorkUI/SMT.Saas.Tools/Service References/FlowDesignerWS/SMT.EntityFlowSys1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.EntityFlowSys" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfFLOW_MODELDEFINE_T">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FLOW_MODELDEFINE_T" nillable="true" type="tns:FLOW_MODELDEFINE_T" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFLOW_MODELDEFINE_T" nillable="true" type="tns:ArrayOfFLOW_MODELDEFINE_T" />
  <xs:complexType name="FLOW_MODELDEFINE_T">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDITDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EDITUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDITUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLOW_MODELFLOWRELATION_T" nillable="true" type="tns:ArrayOfFLOW_MODELFLOWRELATION_T" />
          <xs:element minOccurs="0" name="MODELCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODELDEFINEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PARENTMODELCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SYSTEMCODE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FLOW_MODELDEFINE_T" nillable="true" type="tns:FLOW_MODELDEFINE_T" />
  <xs:complexType name="ArrayOfFLOW_MODELFLOWRELATION_T">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FLOW_MODELFLOWRELATION_T" nillable="true" type="tns:FLOW_MODELFLOWRELATION_T" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFLOW_MODELFLOWRELATION_T" nillable="true" type="tns:ArrayOfFLOW_MODELFLOWRELATION_T" />
  <xs:complexType name="FLOW_MODELFLOWRELATION_T">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="COMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDITDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EDITUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDITUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLOWTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLOW_FLOWDEFINE_T" nillable="true" type="tns:FLOW_FLOWDEFINE_T" />
          <xs:element minOccurs="0" name="FLOW_FLOWDEFINE_TReference" nillable="true" type="q2:EntityReferenceOfFLOW_FLOWDEFINE_TgZ_PhGfiK" />
          <xs:element minOccurs="0" name="FLOW_MODELDEFINE_T" nillable="true" type="tns:FLOW_MODELDEFINE_T" />
          <xs:element minOccurs="0" name="FLOW_MODELDEFINE_TReference" nillable="true" type="q2:EntityReferenceOfFLOW_MODELDEFINE_TgZ_PhGfiK" />
          <xs:element minOccurs="0" name="MODELFLOWRELATIONID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FLOW_MODELFLOWRELATION_T" nillable="true" type="tns:FLOW_MODELFLOWRELATION_T" />
  <xs:complexType name="FLOW_FLOWDEFINE_T">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDITDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EDITUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDITUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLOWCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLOWDEFINEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLOWTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLOW_MODELFLOWRELATION_T" nillable="true" type="tns:ArrayOfFLOW_MODELFLOWRELATION_T" />
          <xs:element minOccurs="0" name="LAYOUT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RULES" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XOML" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FLOW_FLOWDEFINE_T" nillable="true" type="tns:FLOW_FLOWDEFINE_T" />
  <xs:complexType name="ArrayOfFLOW_FLOWDEFINE_T">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FLOW_FLOWDEFINE_T" nillable="true" type="tns:FLOW_FLOWDEFINE_T" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFLOW_FLOWDEFINE_T" nillable="true" type="tns:ArrayOfFLOW_FLOWDEFINE_T" />
</xs:schema>