SMT.SaaS.FrameWorkUI/SMT.Saas.Tools/Service References/FlowDesignerWS/SMT.FlowDesigner.Service.FlowCondition1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.Service.FlowCondition" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.Service.FlowCondition" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AttributeConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeEntity" nillable="true" type="tns:AttributeEntity" />
      <xs:element minOccurs="0" name="ConditionType" type="tns:ConditionType" />
      <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FilterParameters" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FixedParameters" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="SelectValueField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TreeStartEntityName" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="AttributeConfig" nillable="true" type="tns:AttributeConfig" />
  <xs:complexType name="AttributeEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Fields" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="LabelField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryKeyField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceUri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributeEntity" nillable="true" type="tns:AttributeEntity" />
  <xs:simpleType name="ConditionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DataGrid" />
      <xs:enumeration value="Tree" />
      <xs:enumeration value="Combobox" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConditionType" nillable="true" type="tns:ConditionType" />
</xs:schema>