SMT.SaaS.FrameWorkUI/SMT.SaaS.BLLCommonServices/Service References/PMUserLoginWS/MainUIServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.Permission.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Permission.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="V_UserLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMPLOYEEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISMANAGER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOGINRECORDID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYSUSERID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_UserLogin" nillable="true" type="tns:V_UserLogin" />
</xs:schema>