TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/FBServiceWS/SMT.FlowWFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentUserInfo" nillable="true" type="tns:UserInfo" />
      <xs:element minOccurs="0" name="AppState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Err" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrNum" type="xs:int" />
      <xs:element minOccurs="0" name="FlowResult" type="tns:FlowResult" />
      <xs:element minOccurs="0" name="ModelFlowRelationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RunTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubModelCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserInfo" nillable="true" type="tns:ArrayOfUserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataResult" nillable="true" type="tns:DataResult" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:simpleType name="FlowResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FAIL" />
      <xs:enumeration value="SUCCESS" />
      <xs:enumeration value="END" />
      <xs:enumeration value="MULTIUSER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FlowResult" nillable="true" type="tns:FlowResult" />
  <xs:complexType name="ArrayOfUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfo" nillable="true" type="tns:ArrayOfUserInfo" />
</xs:schema>