TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/FBServiceWS/SMT.FB.BLL1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.FB.BLL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.FB.BLL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" />
  <xs:complexType name="AuditResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SaveResult">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" minOccurs="0" name="DataResult" nillable="true" type="q1:DataResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuditResult" nillable="true" type="tns:AuditResult" />
  <xs:complexType name="SaveResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" base="q2:ServiceResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="FBEntity" nillable="true" type="q2:FBEntity" />
          <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveResult" nillable="true" type="tns:SaveResult" />
</xs:schema>