TM.SaaS.OA/WF/SMT.Workflow/SMT.Workflow.Engine/SMT.Workflow.Engine.BLL/Service References/SMTIM/MessageService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smtonlineim.sinomaster.com/imservice/MessageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMTIM.Application.DataObjects" />
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMTIM.Application.DataObjects" minOccurs="0" name="dataObject" nillable="true" type="q1:MessageDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMTIM.Application.DataObjects" minOccurs="0" name="SendMessageResult" nillable="true" type="q2:JsonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>