TM.SaaS.OA/WF/SMT.Workflow/SMT.Workflow.Engine/SMT.Workflow.Engine.BLL/Service References/RTXWCF/RTXService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.Workflow.Services.Message.RTX" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.Workflow.Services.Message.RTX" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRtxParams">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RtxParams" nillable="true" type="tns:RtxParams" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRtxParams" nillable="true" type="tns:ArrayOfRtxParams" />
  <xs:complexType name="RtxParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="MsgType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RtxContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RtxTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RtxParams" nillable="true" type="tns:RtxParams" />
</xs:schema>