SMT.SaaS.FrameWorkUI/SMT.SaaS.BLLCommonServices/Service References/WPServicesWS/WPServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WPServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1600/WPServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1600/WPServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1600/WPServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT.Portal.Communication" />
      <xsd:import schemaLocation="http://localhost:1600/WPServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1600/WPServices.svc?xsd=xsd4" namespace="SMT.QueryObjects" />
      <xsd:import schemaLocation="http://localhost:1600/WPServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common.Query" />
      <xsd:import schemaLocation="http://localhost:1600/WPServices.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" />
      <xsd:import schemaLocation="http://localhost:1600/WPServices.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/SMT.Portal.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationService_CallApplicationService_InputMessage">
    <wsdl:part name="parameters" element="tns:CallApplicationService" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CallWaitAppService_InputMessage">
    <wsdl:part name="parameters" element="tns:CallWaitAppService" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CallWaitAppService_OutputMessage">
    <wsdl:part name="parameters" element="tns:CallWaitAppServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IEventTriggerProcess_EventTriggerProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:EventTriggerProcess" />
  </wsdl:message>
  <wsdl:message name="IWPServices_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="IWPServices_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_UpdateCheckState_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCheckState" />
  </wsdl:message>
  <wsdl:message name="IWPServices_UpdateCheckState_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCheckStateResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IWPServices_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IWPServices_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_ListSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSubject" />
  </wsdl:message>
  <wsdl:message name="IWPServices_ListSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IWPServices_ListSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSubjects" />
  </wsdl:message>
  <wsdl:message name="IWPServices_ListSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSubjectsResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplicationService">
    <wsdl:operation name="CallApplicationService">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/CallApplicationService" message="tns:IApplicationService_CallApplicationService_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallWaitAppService">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/CallWaitAppService" message="tns:IApplicationService_CallWaitAppService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/CallWaitAppServiceResponse" message="tns:IApplicationService_CallWaitAppService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IEventTriggerProcess">
    <wsdl:operation name="EventTriggerProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventTriggerProcess/EventTriggerProcess" message="tns:IEventTriggerProcess_EventTriggerProcess_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IWPServices">
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/Execute" message="tns:IWPServices_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/ExecuteResponse" message="tns:IWPServices_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckState">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/UpdateCheckState" message="tns:IWPServices_UpdateCheckState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/UpdateCheckStateResponse" message="tns:IWPServices_UpdateCheckState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/Query" message="tns:IWPServices_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/QueryResponse" message="tns:IWPServices_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/Save" message="tns:IWPServices_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/SaveResponse" message="tns:IWPServices_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/ListSubject" message="tns:IWPServices_ListSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/ListSubjectResponse" message="tns:IWPServices_ListSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IWPServices/ListSubjects" message="tns:IWPServices_ListSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWPServices/ListSubjectsResponse" message="tns:IWPServices_ListSubjects_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IApplicationService" type="tns:IApplicationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallApplicationService">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/CallApplicationService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CallWaitAppService">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/CallWaitAppService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IEventTriggerProcess" type="tns:IEventTriggerProcess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EventTriggerProcess">
      <soap:operation soapAction="http://tempuri.org/IEventTriggerProcess/EventTriggerProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IWPServices" type="tns:IWPServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/IWPServices/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckState">
      <soap:operation soapAction="http://tempuri.org/IWPServices/UpdateCheckState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IWPServices/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IWPServices/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSubject">
      <soap:operation soapAction="http://tempuri.org/IWPServices/ListSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSubjects">
      <soap:operation soapAction="http://tempuri.org/IWPServices/ListSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WPServices">
    <wsdl:port name="BasicHttpBinding_IApplicationService" binding="tns:BasicHttpBinding_IApplicationService">
      <soap:address location="http://localhost:1600/WPServices.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IEventTriggerProcess" binding="tns:BasicHttpBinding_IEventTriggerProcess">
      <soap:address location="http://localhost:1600/WPServices.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IWPServices" binding="tns:BasicHttpBinding_IWPServices">
      <soap:address location="http://localhost:1600/WPServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>