SMT.SaaS.FrameWorkUI/SMT.SaaS.BLLCommonServices/Service References/WPServicesWS/WPServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.WP.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.WP.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" />
  <xs:complexType name="T_WP_POSTEMPSUMMARY">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="APPLYDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AUXIPEMPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BUSINESSSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CHECKSTATES" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPANYNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COSTYEAR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CPSUMMARY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CYBUSICOST" type="xs:double" />
          <xs:element minOccurs="0" name="DEPARTMENTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEPLANID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEPTIDPARENTS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DIRECTSUPERIORID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDITSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMPLOYEENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ENDDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ISCENTERPRICIPAL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISFIRSTSUBMIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISMAJORDATA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISSUMFINISH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LEADERAPPRAISE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LEADERAPPRAISENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LEADERAPPRAISESUGGEST" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LEADEREMPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LEADEREMPNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MAXPLANCOST" type="xs:double" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PERIODCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PERIODDID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PERIODTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PERIODTYPENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="POSTEMPSUMMARYEXEC" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYEXEC" />
          <xs:element minOccurs="0" name="POSTEMPSUMMARYPLAN" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYPLAN" />
          <xs:element minOccurs="0" name="POSTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RECVERSION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REJECTOPTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STARTDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_WP_POSTEMPSUMMARY" nillable="true" type="tns:T_WP_POSTEMPSUMMARY" />
  <xs:complexType name="EntityBase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common" name="_x003C_Action_x003E_k__BackingField" type="q1:EntityAction" />
      <xs:element name="_x003C_PrimaryKeyName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
  <xs:complexType name="ArrayOfT_WP_POSTEMPSUMMARYEXEC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_WP_POSTEMPSUMMARYEXEC" nillable="true" type="tns:T_WP_POSTEMPSUMMARYEXEC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_WP_POSTEMPSUMMARYEXEC" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYEXEC" />
  <xs:complexType name="T_WP_POSTEMPSUMMARYEXEC">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="APPRAISE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="APPRAISESUGGEST" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPANYNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPLETIONCRITERIA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEPARTMENTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEPTIDPARENTS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDITSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMPLOYEENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ENDDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FINISHCASE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FINISHTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FINISHTYPENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISEVECTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISSUMFINISH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ITEMSNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PLANENDDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PLANSTARTDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PLANTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="POSTEMPSUMMARYEXECDETAIL" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYEXECDETAIL" />
          <xs:element minOccurs="0" name="POSTEMPSUMMARYEXECFIX" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYEXECFIX" />
          <xs:element minOccurs="0" name="POSTEMPSUMMARYEXECINCOME" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYEXECINCOME" />
          <xs:element minOccurs="0" name="POSTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SELFAPPRISE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SELFAPPRISECONTENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOURCETYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STARTDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TASKCATEGORY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TASKCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TOTALCOST" type="xs:double" />
          <xs:element minOccurs="0" name="UPDATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_WP_POSTEMPSUMMARYEXEC" nillable="true" type="tns:T_WP_POSTEMPSUMMARYEXEC" />
  <xs:complexType name="ArrayOfT_WP_POSTEMPSUMMARYEXECDETAIL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_WP_POSTEMPSUMMARYEXECDETAIL" nillable="true" type="tns:T_WP_POSTEMPSUMMARYEXECDETAIL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_WP_POSTEMPSUMMARYEXECDETAIL" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYEXECDETAIL" />
  <xs:complexType name="T_WP_POSTEMPSUMMARYEXECDETAIL">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="COSTITEMID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COSTITEMNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CPFACTCOST" type="xs:double" />
          <xs:element minOccurs="0" name="CPPLANCOST" type="xs:double" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDITSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REIMCOST" type="xs:double" />
          <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SERIALNO" type="xs:short" />
          <xs:element minOccurs="0" name="UPDATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_WP_POSTEMPSUMMARYEXECDETAIL" nillable="true" type="tns:T_WP_POSTEMPSUMMARYEXECDETAIL" />
  <xs:complexType name="ArrayOfT_WP_POSTEMPSUMMARYEXECFIX">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_WP_POSTEMPSUMMARYEXECFIX" nillable="true" type="tns:T_WP_POSTEMPSUMMARYEXECFIX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_WP_POSTEMPSUMMARYEXECFIX" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYEXECFIX" />
  <xs:complexType name="T_WP_POSTEMPSUMMARYEXECFIX">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CPPLANCOST" type="xs:double" />
          <xs:element minOccurs="0" name="CPUSABLECOST" type="xs:double" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDITSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NORMID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NORMNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REIMCOST" type="xs:double" />
          <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SERIALNO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_WP_POSTEMPSUMMARYEXECFIX" nillable="true" type="tns:T_WP_POSTEMPSUMMARYEXECFIX" />
  <xs:complexType name="ArrayOfT_WP_POSTEMPSUMMARYEXECINCOME">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_WP_POSTEMPSUMMARYEXECINCOME" nillable="true" type="tns:T_WP_POSTEMPSUMMARYEXECINCOME" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_WP_POSTEMPSUMMARYEXECINCOME" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYEXECINCOME" />
  <xs:complexType name="T_WP_POSTEMPSUMMARYEXECINCOME">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="COSTITEMID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COSTITEMNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CPFACTCOST" type="xs:double" />
          <xs:element minOccurs="0" name="CPPLANCOST" type="xs:double" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDITSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SERIALNO" type="xs:short" />
          <xs:element minOccurs="0" name="UPDATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_WP_POSTEMPSUMMARYEXECINCOME" nillable="true" type="tns:T_WP_POSTEMPSUMMARYEXECINCOME" />
  <xs:complexType name="ArrayOfT_WP_POSTEMPSUMMARYPLAN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_WP_POSTEMPSUMMARYPLAN" nillable="true" type="tns:T_WP_POSTEMPSUMMARYPLAN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_WP_POSTEMPSUMMARYPLAN" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYPLAN" />
  <xs:complexType name="T_WP_POSTEMPSUMMARYPLAN">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="APPRAISE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="APPRAISESUGGEST" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPLETIONCRITERIA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COSTYEAR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DETAILID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDITSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ENDDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FACTENDDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FACTSTARTDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FINISHCASE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FINISHTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FINISHTYPENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISEVECTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISLEADERSHIPADD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISSUMFINISH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ITEMSNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OFFICEPRECONFIRMREMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OFFICEPRECONFIRMTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PLANCOST" type="xs:double" />
          <xs:element minOccurs="0" name="POSTEMPSUMMARYPLANDETAIL" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYPLANDETAIL" />
          <xs:element minOccurs="0" name="POSTEMPSUMMARYPLANFIX" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYPLANFIX" />
          <xs:element minOccurs="0" name="POSTEMPSUMMARYPLANINCOME" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYPLANINCOME" />
          <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SELFAPPRISE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SELFAPPRISECONTENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOURCETYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STARTDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SUMFINISHDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SUMFINISHID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUMFINISHNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TASKCATEGORY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TASKCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TASKCOMFIRMREMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TASKCOMFIRMTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TOTALCOST" type="xs:double" />
          <xs:element minOccurs="0" name="UPDATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_WP_POSTEMPSUMMARYPLAN" nillable="true" type="tns:T_WP_POSTEMPSUMMARYPLAN" />
  <xs:complexType name="ArrayOfT_WP_POSTEMPSUMMARYPLANDETAIL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_WP_POSTEMPSUMMARYPLANDETAIL" nillable="true" type="tns:T_WP_POSTEMPSUMMARYPLANDETAIL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_WP_POSTEMPSUMMARYPLANDETAIL" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYPLANDETAIL" />
  <xs:complexType name="T_WP_POSTEMPSUMMARYPLANDETAIL">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CONFIRMCOST" type="xs:double" />
          <xs:element minOccurs="0" name="COSTCOMFIRMREMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COSTCOMFIRMTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COSTITEMID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COSTITEMNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CPPLANCOST" type="xs:double" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDITSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FACTCOSTSUM" type="xs:double" />
          <xs:element minOccurs="0" name="PEMPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REIMCOST" type="xs:double" />
          <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SERIALNO" type="xs:short" />
          <xs:element minOccurs="0" name="UPDATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YEARSURPLUSCOST" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_WP_POSTEMPSUMMARYPLANDETAIL" nillable="true" type="tns:T_WP_POSTEMPSUMMARYPLANDETAIL" />
  <xs:complexType name="ArrayOfT_WP_POSTEMPSUMMARYPLANFIX">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_WP_POSTEMPSUMMARYPLANFIX" nillable="true" type="tns:T_WP_POSTEMPSUMMARYPLANFIX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_WP_POSTEMPSUMMARYPLANFIX" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYPLANFIX" />
  <xs:complexType name="T_WP_POSTEMPSUMMARYPLANFIX">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CONFIRMCOST" type="xs:double" />
          <xs:element minOccurs="0" name="COSTCOMFIRMREMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COSTCOMFIRMTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CPPLANCOST" type="xs:double" />
          <xs:element minOccurs="0" name="CPUSABLECOST" type="xs:double" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDITSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FACTCOSTSUM" type="xs:double" />
          <xs:element minOccurs="0" name="NORMID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NORMNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REIMCOST" type="xs:double" />
          <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SERIALNO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_WP_POSTEMPSUMMARYPLANFIX" nillable="true" type="tns:T_WP_POSTEMPSUMMARYPLANFIX" />
  <xs:complexType name="ArrayOfT_WP_POSTEMPSUMMARYPLANINCOME">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_WP_POSTEMPSUMMARYPLANINCOME" nillable="true" type="tns:T_WP_POSTEMPSUMMARYPLANINCOME" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_WP_POSTEMPSUMMARYPLANINCOME" nillable="true" type="tns:ArrayOfT_WP_POSTEMPSUMMARYPLANINCOME" />
  <xs:complexType name="T_WP_POSTEMPSUMMARYPLANINCOME">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CONFIRMCOST" type="xs:double" />
          <xs:element minOccurs="0" name="COSTCOMFIRMREMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COSTCOMFIRMTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COSTITEMID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COSTITEMNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CPPLANCOST" type="xs:double" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EDITSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FACTCOSTSUM" type="xs:double" />
          <xs:element minOccurs="0" name="PEMPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SERIALNO" type="xs:short" />
          <xs:element minOccurs="0" name="UPDATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YEARSURPLUSCOST" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_WP_POSTEMPSUMMARYPLANINCOME" nillable="true" type="tns:T_WP_POSTEMPSUMMARYPLANINCOME" />
  <xs:complexType name="ArrayOfVIEW_MYTASKS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VIEW_MYTASKS" nillable="true" type="tns:VIEW_MYTASKS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVIEW_MYTASKS" nillable="true" type="tns:ArrayOfVIEW_MYTASKS" />
  <xs:complexType name="VIEW_MYTASKS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CATEGORY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CATEGORYNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPLETEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="COMPLETIONCRITERIA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONFIRMORCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONFIRMORDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONFIRMORID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONFIRMORPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JOINUSERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JOINUSERCOMPANYNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JOINUSERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JOINUSERDEPARTMENTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JOINUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JOINUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JOINUSERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JOINUSERPOSTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PEMPPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PROMOTERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PROMOTERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PROMOTERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PROMOTERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PROMOTERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REQENDTDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="REQSTARTDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TASKCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TASKFROMTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TASKID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TASKNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TASKSTATUS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TASKSTATUSNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TASKTYPE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VIEW_MYTASKS" nillable="true" type="tns:VIEW_MYTASKS" />
  <xs:complexType name="VIEW_EMPLOYEE">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ONLYID" type="xs:decimal" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTNAME" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VIEW_EMPLOYEE" nillable="true" type="tns:VIEW_EMPLOYEE" />
  <xs:complexType name="ArrayOfBussinessTripBudget">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BussinessTripBudget" nillable="true" type="tns:BussinessTripBudget" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBussinessTripBudget" nillable="true" type="tns:ArrayOfBussinessTripBudget" />
  <xs:complexType name="BussinessTripBudget">
    <xs:sequence>
      <xs:element minOccurs="0" name="NormID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NormName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaidMoney" type="xs:decimal" />
      <xs:element minOccurs="0" name="SubjectCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseMoney" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BussinessTripBudget" nillable="true" type="tns:BussinessTripBudget" />
</xs:schema>