TM.SaaS.OA/PM/SMT.SaaS.InterActiveDirectory/Web References/AdOperate/AD_ExchangePassWord.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SetExchangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetExchangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetExchangePasswordResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetExchangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:SetExchangePassword" />
  </wsdl:message>
  <wsdl:message name="SetExchangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:SetExchangePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="AD_ExchangePassWordSoap">
    <wsdl:operation name="SetExchangePassword">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">修改ASD域密码</documentation>
      <wsdl:input message="tns:SetExchangePasswordSoapIn" />
      <wsdl:output message="tns:SetExchangePasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AD_ExchangePassWordSoap" type="tns:AD_ExchangePassWordSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetExchangePassword">
      <soap:operation soapAction="http://tempuri.org/SetExchangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AD_ExchangePassWord">
    <wsdl:port name="AD_ExchangePassWordSoap" binding="tns:AD_ExchangePassWordSoap">
      <soap:address location="http://172.16.1.16/adserver/AD_ExchangePassWord.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>