TM.SaaS.OA/FrameWork/SMT.Saas.Tools/Service References/WpServiceWS/WPServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.WP.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.WP.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.10.0.92:8030/Services/WP/WPServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ReimbursementEntity">
    <xs:sequence>
      <xs:element name="_x003C_BusinessTypeName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BusinessType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CostItems_x003E_k__BackingField" nillable="true" type="tns:ArrayOfCostItem" />
      <xs:element name="_x003C_EndDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_FromCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FromID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FromTypeName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FromType_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_MastersName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OwnerCompanyID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OwnerCompanyName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OwnerDepartmentID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OwnerDepartmentName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OwnerID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OwnerName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OwnerPostID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OwnerPostName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PromoterCompanyID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PromoterCompanyName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PromoterDepartmentID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PromoterName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PromoterPostID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Promoterid_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Remark_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StartDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="needLoan" type="xs:boolean" />
      <xs:element name="needReimbursement" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReimbursementEntity" nillable="true" type="tns:ReimbursementEntity" />
  <xs:complexType name="ArrayOfCostItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CostItem" nillable="true" type="tns:CostItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCostItem" nillable="true" type="tns:ArrayOfCostItem" />
  <xs:complexType name="CostItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CostMoney" type="xs:double" />
      <xs:element minOccurs="0" name="ItemTypeNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CostItem" nillable="true" type="tns:CostItem" />
  <xs:simpleType name="TaskStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Complete">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="End">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancel">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaskStatus" nillable="true" type="tns:TaskStatus" />
</xs:schema>