TM.SaaS.OA/FrameWork/SMT.Saas.Tools/Service References/WpServiceWS/WPServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.WP.Model.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.WP.Model.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRunModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RunModel" nillable="true" type="tns:RunModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRunModel" nillable="true" type="tns:ArrayOfRunModel" />
  <xs:complexType name="RunModel">
    <xs:sequence>
      <xs:element name="_x003C_Audit_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_NORMITEMNAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NORMITEM_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PassAudit_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_month10_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_month11_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_month12_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_month1_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_month2_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_month3_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_month4_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_month5_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_month6_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_month7_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_month8_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_month9_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_monthBalance_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_total_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_yearBalance_x003E_k__BackingField" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RunModel" nillable="true" type="tns:RunModel" />
  <xs:complexType name="ArrayOfQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryModel" nillable="true" type="tns:QueryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryModel" nillable="true" type="tns:ArrayOfQueryModel" />
  <xs:complexType name="QueryModel">
    <xs:sequence>
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_NORMITEMNAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NORMITEM_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PreBalance_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_ThisBalance_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_ThisCredit_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_ThisPlan_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_ThisRun_x003E_k__BackingField" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryModel" nillable="true" type="tns:QueryModel" />
</xs:schema>