TM.SaaS.OA/FrameWork/SMT.Saas.Tools/Service References/WpServiceWS/WPServices8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.Portal.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.Portal.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfT_FB_SUBJECT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_FB_SUBJECT" nillable="true" type="tns:T_FB_SUBJECT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_FB_SUBJECT" nillable="true" type="tns:ArrayOfT_FB_SUBJECT" />
  <xs:complexType name="T_FB_SUBJECT">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVED" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHECKSTATES" type="xs:decimal" />
      <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATECOMPANYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEDEPARTMENTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEPOSTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDITSTATES" type="xs:decimal" />
      <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERCOMPANYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERDEPARTMENTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERPOSTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARENTSUBJECTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBJECTCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBJECTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBJECTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBJECTTYPEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATEDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_FB_SUBJECT" nillable="true" type="tns:T_FB_SUBJECT" />
</xs:schema>