TM.SaaS.OA/FrameWork/SMT.Saas.Tools/Service References/PersonalRecordWS/PersonalRecordService4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonalRecordService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.30.50.83:5102/SmtOnline/Services/SMTEnginemyservices/PersonalRecordService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.30.50.83:5102/SmtOnline/Services/SMTEnginemyservices/PersonalRecordService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.30.50.83:5102/SmtOnline/Services/SMTEnginemyservices/PersonalRecordService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EngineDataModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonalRecordService_AddPersonalRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonalRecord" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_AddPersonalRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_AddPersonalRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonalRecords" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_AddPersonalRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonalRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_UpdatePersonalRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonalRecord" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_UpdatePersonalRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalRecord" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_DeletePersonalRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonalRecord" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_DeletePersonalRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecordModelByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalRecordModelByID" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecordModelByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalRecordModelByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecordModelByModelID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalRecordModelByModelID" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecordModelByModelID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalRecordModelByModelIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecordList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalRecordList" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecordList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalRecordListResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonalRecordService">
    <wsdl:operation name="AddPersonalRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalRecordService/AddPersonalRecord" message="tns:IPersonalRecordService_AddPersonalRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalRecordService/AddPersonalRecordResponse" message="tns:IPersonalRecordService_AddPersonalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPersonalRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalRecordService/AddPersonalRecords" message="tns:IPersonalRecordService_AddPersonalRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalRecordService/AddPersonalRecordsResponse" message="tns:IPersonalRecordService_AddPersonalRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonalRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalRecordService/UpdatePersonalRecord" message="tns:IPersonalRecordService_UpdatePersonalRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalRecordService/UpdatePersonalRecordResponse" message="tns:IPersonalRecordService_UpdatePersonalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonalRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalRecordService/GetPersonalRecord" message="tns:IPersonalRecordService_GetPersonalRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalRecordService/GetPersonalRecordResponse" message="tns:IPersonalRecordService_GetPersonalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePersonalRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalRecordService/DeletePersonalRecord" message="tns:IPersonalRecordService_DeletePersonalRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalRecordService/DeletePersonalRecordResponse" message="tns:IPersonalRecordService_DeletePersonalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonalRecordModelByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalRecordService/GetPersonalRecordModelByID" message="tns:IPersonalRecordService_GetPersonalRecordModelByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalRecordService/GetPersonalRecordModelByIDResponse" message="tns:IPersonalRecordService_GetPersonalRecordModelByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonalRecordModelByModelID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalRecordService/GetPersonalRecordModelByModelID" message="tns:IPersonalRecordService_GetPersonalRecordModelByModelID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalRecordService/GetPersonalRecordModelByModelIDResponse" message="tns:IPersonalRecordService_GetPersonalRecordModelByModelID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonalRecordList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalRecordService/GetPersonalRecordList" message="tns:IPersonalRecordService_GetPersonalRecordList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalRecordService/GetPersonalRecordListResponse" message="tns:IPersonalRecordService_GetPersonalRecordList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonalRecordService" type="tns:IPersonalRecordService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPersonalRecord">
      <soap:operation soapAction="http://tempuri.org/IPersonalRecordService/AddPersonalRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPersonalRecords">
      <soap:operation soapAction="http://tempuri.org/IPersonalRecordService/AddPersonalRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonalRecord">
      <soap:operation soapAction="http://tempuri.org/IPersonalRecordService/UpdatePersonalRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonalRecord">
      <soap:operation soapAction="http://tempuri.org/IPersonalRecordService/GetPersonalRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePersonalRecord">
      <soap:operation soapAction="http://tempuri.org/IPersonalRecordService/DeletePersonalRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonalRecordModelByID">
      <soap:operation soapAction="http://tempuri.org/IPersonalRecordService/GetPersonalRecordModelByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonalRecordModelByModelID">
      <soap:operation soapAction="http://tempuri.org/IPersonalRecordService/GetPersonalRecordModelByModelID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonalRecordList">
      <soap:operation soapAction="http://tempuri.org/IPersonalRecordService/GetPersonalRecordList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonalRecordService">
    <wsdl:port name="BasicHttpBinding_IPersonalRecordService" binding="tns:BasicHttpBinding_IPersonalRecordService">
      <soap:address location="http://172.30.50.83:5102/SmtOnline/Services/SMTEnginemyservices/PersonalRecordService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>