SMT.SaaS.FrameWorkUI/SMT.SaaS.BLLCommonServices/Service References/EMServiceWS/EMServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1600/EMServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT.Portal.Communication" />
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.Portal.Communication" minOccurs="0" name="baseObject" nillable="true" type="q1:BaseObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT.Portal.Communication" minOccurs="0" name="ExecuteResult" nillable="true" type="q2:ResultObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCheckState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EntityType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EntityKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EntityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CheckState" type="xs:int" />
        <xs:element minOccurs="0" name="strXmlParams" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCheckStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCheckStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallApplicationService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallWaitAppService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallWaitAppServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallWaitAppServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>