TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/AttWS/AttendanceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAbnormalAttendanceeEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AbnormalAttendanceeEntity" nillable="true" type="tns:AbnormalAttendanceeEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbnormalAttendanceeEntity" nillable="true" type="tns:ArrayOfAbnormalAttendanceeEntity" />
  <xs:complexType name="AbnormalAttendanceeEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABNORMALTIME" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ABNORMCATEGORY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdjustableDay" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AdjustableVacation" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AnnualLeave" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DrainTimeNumber" type="xs:int" />
      <xs:element minOccurs="0" name="EMPLOYEEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExcessHoursTotal" type="xs:int" />
      <xs:element minOccurs="0" name="LeaveHour" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LeaverecordStyple" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeaverecordTime" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OffHour" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Punchdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SickLeave" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="cname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outMinutes" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="outTimes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbnormalAttendanceeEntity" nillable="true" type="tns:AbnormalAttendanceeEntity" />
</xs:schema>