TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/TokenServiceWS/TokenService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.TokenService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.TokenService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1752/TokenService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/SMT_System_EFModel" />
  <xs:complexType name="TokenResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOK" type="xs:boolean" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT_System_EFModel" minOccurs="0" name="UserInfo" nillable="true" type="q1:T_SYS_USER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenResult" nillable="true" type="tns:TokenResult" />
</xs:schema>