TM.SaaS.OA/FrameWork/SMT.SaaS.BLLCommonServices/Service References/TokenServiceWS/TokenService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TokenService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.30.50.13/SmtOnline/Develop/Services/PublicInterface/TokenService.svc?xsd=xsd5" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.30.50.13/SmtOnline/Develop/Services/PublicInterface/TokenService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.30.50.13/SmtOnline/Develop/Services/PublicInterface/TokenService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.PublicInterface.Token" />
      <xsd:import schemaLocation="http://172.30.50.13/SmtOnline/Develop/Services/PublicInterface/TokenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT_System_EFModel" />
      <xsd:import schemaLocation="http://172.30.50.13/SmtOnline/Develop/Services/PublicInterface/TokenService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://172.30.50.13/SmtOnline/Develop/Services/PublicInterface/TokenService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITokenService_CreateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateToken" />
  </wsdl:message>
  <wsdl:message name="ITokenService_CreateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ITokenService_RemoveToken_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveToken" />
  </wsdl:message>
  <wsdl:message name="ITokenService_RemoveToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ITokenService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ITokenService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ITokenService">
    <wsdl:operation name="CreateToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/CreateToken" message="tns:ITokenService_CreateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/CreateTokenResponse" message="tns:ITokenService_CreateToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/RemoveToken" message="tns:ITokenService_RemoveToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/RemoveTokenResponse" message="tns:ITokenService_RemoveToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenService/GetUser" message="tns:ITokenService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenService/GetUserResponse" message="tns:ITokenService_GetUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITokenService" type="tns:ITokenService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateToken">
      <soap:operation soapAction="http://tempuri.org/ITokenService/CreateToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveToken">
      <soap:operation soapAction="http://tempuri.org/ITokenService/RemoveToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ITokenService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TokenService">
    <wsdl:port name="BasicHttpBinding_ITokenService" binding="tns:BasicHttpBinding_ITokenService">
      <soap:address location="http://172.30.50.13/SmtOnline/Develop/Services/PublicInterface/TokenService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>