TM.SaaS.OA/PF/SMT.SAAS.Platform.Services.Test/Service References/PlatformSiWS/PlatformSiServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SAAS.Platform.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SAAS.Platform.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ShortCut">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssemplyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSysNeed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Params" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortCutID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserState" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShortCut" nillable="true" type="tns:ShortCut" />
  <xs:complexType name="ArrayOfShortCut">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShortCut" nillable="true" type="tns:ShortCut" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShortCut" nillable="true" type="tns:ArrayOfShortCut" />
</xs:schema>