TM.SaaS.OA/PF/SMT.SAAS.Platform.Services.Test/Service References/PlatformSiWS/PlatformSiServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15739/PlatformSiServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT.SAAS.Platform.Model" />
  <xs:element name="AddShortCut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.SAAS.Platform.Model" minOccurs="0" name="model" nillable="true" type="q1:ShortCut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShortCutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddShortCutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShortCutByList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT.SAAS.Platform.Model" minOccurs="0" name="models" nillable="true" type="q2:ArrayOfShortCut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShortCutByListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddShortCutByListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShortCutByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT.SAAS.Platform.Model" minOccurs="0" name="models" nillable="true" type="q3:ArrayOfShortCut" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShortCutByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddShortCutByUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortCutByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSysID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortCutByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT.SAAS.Platform.Model" minOccurs="0" name="GetShortCutByUserResult" nillable="true" type="q4:ArrayOfShortCut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>