TM.SaaS.OA/FrameWork/SMT.Saas.Tools/Service References/AttendanceWS/AttendanceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12168/AttendanceService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://localhost:12168/AttendanceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfT_HR_ATTENDMONTHLYBATCHBALANCENb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_ATTENDMONTHLYBATCHBALANCE" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_ATTENDMONTHLYBATCHBALANCENb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_ATTENDMONTHLYBATCHBALANCENb42Hbcw" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEELEAVERECORDNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEELEAVERECORD" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEELEAVERECORDNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEELEAVERECORDNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_ATTENDANCESOLUTIONNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_ATTENDANCESOLUTION" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_ATTENDANCESOLUTIONNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_ATTENDANCESOLUTIONNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_ATTENDANCEDEDUCTMASTERNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_ATTENDANCEDEDUCTMASTER" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_ATTENDANCEDEDUCTMASTERNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_ATTENDANCEDEDUCTMASTERNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_OVERTIMEREWARDNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_OVERTIMEREWARD" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_OVERTIMEREWARDNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_OVERTIMEREWARDNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_SCHEDULINGTEMPLATEMASTERNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_SCHEDULINGTEMPLATEMASTER" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_SCHEDULINGTEMPLATEMASTERNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_SCHEDULINGTEMPLATEMASTERNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_ATTENDANCERECORDNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_ATTENDANCERECORD" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_ATTENDANCERECORDNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_ATTENDANCERECORDNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEEABNORMRECORDNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEEABNORMRECORD" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEEABNORMRECORDNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEEABNORMRECORDNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEESIGNINRECORDNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEESIGNINRECORD" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEESIGNINRECORDNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEESIGNINRECORDNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_SHIFTDEFINENb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_SHIFTDEFINE" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_SHIFTDEFINENb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_SHIFTDEFINENb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_LEAVETYPESETNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_LEAVETYPESET" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_LEAVETYPESETNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_LEAVETYPESETNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_VACATIONSETNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_VACATIONSET" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_VACATIONSETNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_VACATIONSETNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEEOVERTIMERECORDNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEEOVERTIMERECORD" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEEOVERTIMERECORDNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEEOVERTIMERECORDNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEELEVELDAYCOUNTNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEELEVELDAYCOUNT" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEELEVELDAYCOUNTNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEELEVELDAYCOUNTNb42Hbcw" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEEEVECTIONRECORDNb42Hbcw">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEEEVECTIONRECORD" Namespace="http://schemas.datacontract.org/2004/07/TM_SaaS_OA_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEEEVECTIONRECORDNb42Hbcw" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEEEVECTIONRECORDNb42Hbcw" />
</xs:schema>