SMT.SaaS.FrameWorkUI/SMT.Saas.Tools/Service References/PermissionWS/PermissionService20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.Permission.CustomerModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Permission.CustomerModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfT_SYS_ROLE_V">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_SYS_ROLE_V" nillable="true" type="tns:T_SYS_ROLE_V" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_SYS_ROLE_V" nillable="true" type="tns:ArrayOfT_SYS_ROLE_V" />
  <xs:complexType name="T_SYS_ROLE_V">
    <xs:sequence>
      <xs:element minOccurs="0" name="OWNERCOMPANYNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERDEPARTMENTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROLEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROLENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYSTTMTYPENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATEDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_SYS_ROLE_V" nillable="true" type="tns:T_SYS_ROLE_V" />
</xs:schema>