SMT.SaaS.HR/SMT.HRM.IMServices/Service References/IMServiceWS/DataSyncService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMTIM.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMTIM.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserDept">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDept" nillable="true" type="tns:UserDept" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDept" nillable="true" type="tns:ArrayOfUserDept" />
  <xs:complexType name="UserDept">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeptId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDept" nillable="true" type="tns:UserDept" />
</xs:schema>