TM.SaaS.OA/OA/SMT.SaaS.OA.UI/Service References/SmtOACommonAdminService/SmtOACommonAdmin110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfV_SystemNotice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_SystemNotice" nillable="true" type="tns:V_SystemNotice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_SystemNotice" nillable="true" type="tns:ArrayOfV_SystemNotice" />
  <xs:complexType name="V_SystemNotice">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Formtype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_SystemNotice" nillable="true" type="tns:V_SystemNotice" />
</xs:schema>