TM.SaaS.OA/OA/SMT.SaaS.OA.UI/Service References/SmtOACommonAdminService/SmtOACommonAdmin18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smtonlineserver/SmtOnline/Services/OA/SmtOACommonAdmin.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfT_OA_HOUSEINFO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OA_HOUSEINFO" nillable="true" type="tns:T_OA_HOUSEINFO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OA_HOUSEINFO" nillable="true" type="tns:ArrayOfT_OA_HOUSEINFO" />
  <xs:complexType name="T_OA_HOUSEINFO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEPOSIT" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="FLOOR" type="xs:decimal" />
          <xs:element minOccurs="0" name="HOUSEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HOUSENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISRENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MANAGECOST" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="NUM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RENTCOST" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="T_OA_HIREAPP" nillable="true" type="tns:ArrayOfT_OA_HIREAPP" />
          <xs:element minOccurs="0" name="T_OA_HOUSELIST" nillable="true" type="tns:ArrayOfT_OA_HOUSELIST" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPTOWN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OA_HOUSEINFO" nillable="true" type="tns:T_OA_HOUSEINFO" />
  <xs:complexType name="ArrayOfT_OA_HIREAPP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OA_HIREAPP" nillable="true" type="tns:T_OA_HIREAPP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OA_HIREAPP" nillable="true" type="tns:ArrayOfT_OA_HIREAPP" />
  <xs:complexType name="T_OA_HIREAPP">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BACKDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CHECKSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ENDDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="HIREAPPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STARTDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="T_OA_HOUSEINFO" nillable="true" type="tns:T_OA_HOUSEINFO" />
          <xs:element minOccurs="0" name="T_OA_HOUSEINFOReference" nillable="true" type="q2:EntityReferenceOfT_OA_HOUSEINFOUlJdEHjk" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OA_HIREAPP" nillable="true" type="tns:T_OA_HIREAPP" />
  <xs:complexType name="ArrayOfT_OA_HOUSELIST">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OA_HOUSELIST" nillable="true" type="tns:T_OA_HOUSELIST" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OA_HOUSELIST" nillable="true" type="tns:ArrayOfT_OA_HOUSELIST" />
  <xs:complexType name="T_OA_HOUSELIST">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HOUSELISTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="T_OA_HOUSEINFO" nillable="true" type="tns:T_OA_HOUSEINFO" />
          <xs:element minOccurs="0" name="T_OA_HOUSEINFOISSUANCE" nillable="true" type="tns:T_OA_HOUSEINFOISSUANCE" />
          <xs:element minOccurs="0" name="T_OA_HOUSEINFOISSUANCEReference" nillable="true" type="q3:EntityReferenceOfT_OA_HOUSEINFOISSUANCEUlJdEHjk" />
          <xs:element minOccurs="0" name="T_OA_HOUSEINFOReference" nillable="true" type="q3:EntityReferenceOfT_OA_HOUSEINFOUlJdEHjk" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OA_HOUSELIST" nillable="true" type="tns:T_OA_HOUSELIST" />
  <xs:complexType name="T_OA_HOUSEINFOISSUANCE">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CHECKSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISSUANCEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISSUANCETITLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="POSTLEVEL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="T_OA_HOUSELIST" nillable="true" type="tns:ArrayOfT_OA_HOUSELIST" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WORKYEAR" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OA_HOUSEINFOISSUANCE" nillable="true" type="tns:T_OA_HOUSEINFOISSUANCE" />
  <xs:complexType name="ArrayOfT_OA_HOUSEINFOISSUANCE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OA_HOUSEINFOISSUANCE" nillable="true" type="tns:T_OA_HOUSEINFOISSUANCE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OA_HOUSEINFOISSUANCE" nillable="true" type="tns:ArrayOfT_OA_HOUSEINFOISSUANCE" />
  <xs:complexType name="ArrayOfT_OA_DISTRIBUTEUSER">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OA_DISTRIBUTEUSER" nillable="true" type="tns:T_OA_DISTRIBUTEUSER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OA_DISTRIBUTEUSER" nillable="true" type="tns:ArrayOfT_OA_DISTRIBUTEUSER" />
  <xs:complexType name="T_OA_DISTRIBUTEUSER">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DISTRIBUTEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FORMID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODELNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VIEWER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VIEWTYPE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OA_DISTRIBUTEUSER" nillable="true" type="tns:T_OA_DISTRIBUTEUSER" />
  <xs:complexType name="ArrayOfT_OA_ACCIDENTRECORD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OA_ACCIDENTRECORD" nillable="true" type="tns:T_OA_ACCIDENTRECORD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OA_ACCIDENTRECORD" nillable="true" type="tns:ArrayOfT_OA_ACCIDENTRECORD" />
  <xs:complexType name="T_OA_ACCIDENTRECORD">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACCIDENTDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ACCIDENTRECORDID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="T_OA_VEHICLE" nillable="true" type="tns:T_OA_VEHICLE" />
          <xs:element minOccurs="0" name="T_OA_VEHICLEReference" nillable="true" type="q6:EntityReferenceOfT_OA_VEHICLEUlJdEHjk" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OA_ACCIDENTRECORD" nillable="true" type="tns:T_OA_ACCIDENTRECORD" />
  <xs:complexType name="T_OA_VEHICLE">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ASSETID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="T_OA_ACCIDENTRECORD" nillable="true" type="tns:ArrayOfT_OA_ACCIDENTRECORD" />
          <xs:element minOccurs="0" name="T_OA_CONSERVATION" nillable="true" type="tns:ArrayOfT_OA_CONSERVATION" />
          <xs:element minOccurs="0" name="T_OA_COSTRECORD" nillable="true" type="tns:ArrayOfT_OA_COSTRECORD" />
          <xs:element minOccurs="0" name="T_OA_MAINTENANCEAPP" nillable="true" type="tns:ArrayOfT_OA_MAINTENANCEAPP" />
          <xs:element minOccurs="0" name="T_OA_VEHICLEDISPATCH" nillable="true" type="tns:ArrayOfT_OA_VEHICLEDISPATCH" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VEHICLEFLAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VEHICLEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VEHICLEMODEL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OA_VEHICLE" nillable="true" type="tns:T_OA_VEHICLE" />
  <xs:complexType name="ArrayOfT_OA_CONSERVATION">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OA_CONSERVATION" nillable="true" type="tns:T_OA_CONSERVATION" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OA_CONSERVATION" nillable="true" type="tns:ArrayOfT_OA_CONSERVATION" />
  <xs:complexType name="T_OA_CONSERVATION">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CHARGEMONEY" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CHECKSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONSERVANAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONSERVATIONID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISCHARGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="T_OA_VEHICLE" nillable="true" type="tns:T_OA_VEHICLE" />
          <xs:element minOccurs="0" name="T_OA_VEHICLEReference" nillable="true" type="q8:EntityReferenceOfT_OA_VEHICLEUlJdEHjk" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OA_CONSERVATION" nillable="true" type="tns:T_OA_CONSERVATION" />
  <xs:complexType name="ArrayOfT_OA_COSTRECORD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OA_COSTRECORD" nillable="true" type="tns:T_OA_COSTRECORD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OA_COSTRECORD" nillable="true" type="tns:ArrayOfT_OA_COSTRECORD" />
  <xs:complexType name="T_OA_COSTRECORD">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CONSTTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COST" type="xs:decimal" />
          <xs:element minOccurs="0" name="COSTDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="COSTRECORDID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FORMID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODELNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="T_OA_VEHICLE" nillable="true" type="tns:T_OA_VEHICLE" />
          <xs:element minOccurs="0" name="T_OA_VEHICLEReference" nillable="true" type="q9:EntityReferenceOfT_OA_VEHICLEUlJdEHjk" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OA_COSTRECORD" nillable="true" type="tns:T_OA_COSTRECORD" />
  <xs:complexType name="ArrayOfT_OA_MAINTENANCEAPP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OA_MAINTENANCEAPP" nillable="true" type="tns:T_OA_MAINTENANCEAPP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OA_MAINTENANCEAPP" nillable="true" type="tns:ArrayOfT_OA_MAINTENANCEAPP" />
  <xs:complexType name="T_OA_MAINTENANCEAPP">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q10:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CHARGEMONEY" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CHECKSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISCHARGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MAINTENANCEAPPID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="T_OA_VEHICLE" nillable="true" type="tns:T_OA_VEHICLE" />
          <xs:element minOccurs="0" name="T_OA_VEHICLEReference" nillable="true" type="q10:EntityReferenceOfT_OA_VEHICLEUlJdEHjk" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OA_MAINTENANCEAPP" nillable="true" type="tns:T_OA_MAINTENANCEAPP" />
  <xs:complexType name="ArrayOfT_OA_VEHICLEDISPATCH">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OA_VEHICLEDISPATCH" nillable="true" type="tns:T_OA_VEHICLEDISPATCH" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OA_VEHICLEDISPATCH" nillable="true" type="tns:ArrayOfT_OA_VEHICLEDISPATCH" />
  <xs:complexType name="T_OA_VEHICLEDISPATCH">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q11:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CHECKSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DRIVER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ENDTIME" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ISCANCEL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ROUTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STARTTIME" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TEL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="T_OA_VEHICLE" nillable="true" type="tns:T_OA_VEHICLE" />
          <xs:element minOccurs="0" name="T_OA_VEHICLEDISPATCHDETAIL" nillable="true" type="tns:ArrayOfT_OA_VEHICLEDISPATCHDETAIL" />
          <xs:element minOccurs="0" name="T_OA_VEHICLEReference" nillable="true" type="q11:EntityReferenceOfT_OA_VEHICLEUlJdEHjk" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VEHICLEDISPATCHID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OA_VEHICLEDISPATCH" nillable="true" type="tns:T_OA_VEHICLEDISPATCH" />
  <xs:complexType name="ArrayOfT_OA_VEHICLEDISPATCHDETAIL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OA_VEHICLEDISPATCHDETAIL" nillable="true" type="tns:T_OA_VEHICLEDISPATCHDETAIL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OA_VEHICLEDISPATCHDETAIL" nillable="true" type="tns:ArrayOfT_OA_VEHICLEDISPATCHDETAIL" />
  <xs:complexType name="T_OA_VEHICLEDISPATCHDETAIL">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q12:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="T_OA_VEHICLEDISPATCH" nillable="true" type="tns:T_OA_VEHICLEDISPATCH" />
          <xs:element minOccurs="0" name="T_OA_VEHICLEDISPATCHReference" nillable="true" type="q12:EntityReferenceOfT_OA_VEHICLEDISPATCHUlJdEHjk" />
          <xs:element minOccurs="0" name="T_OA_VEHICLEUSEAPP" nillable="true" type="tns:T_OA_VEHICLEUSEAPP" />
          <xs:element minOccurs="0" name="T_OA_VEHICLEUSEAPPReference" nillable="true" type="q12:EntityReferenceOfT_OA_VEHICLEUSEAPPUlJdEHjk" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VEHICLEDISPATCHDETAILID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VEHICLEDISPATCHID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VEHICLEUSEAPPID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OA_VEHICLEDISPATCHDETAIL" nillable="true" type="tns:T_OA_VEHICLEDISPATCHDETAIL" />
  <xs:complexType name="T_OA_VEHICLEUSEAPP">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q13:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CHECKSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ENDTIME" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NUM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ROUTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STARTTIME" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TEL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="T_OA_VEHICLEDISPATCHDETAIL" nillable="true" type="tns:ArrayOfT_OA_VEHICLEDISPATCHDETAIL" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATEUSERNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VEHICLEUSEAPPID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_OA_VEHICLEUSEAPP" nillable="true" type="tns:T_OA_VEHICLEUSEAPP" />
  <xs:complexType name="ArrayOfT_OA_VEHICLEUSEAPP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OA_VEHICLEUSEAPP" nillable="true" type="tns:T_OA_VEHICLEUSEAPP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OA_VEHICLEUSEAPP" nillable="true" type="tns:ArrayOfT_OA_VEHICLEUSEAPP" />
  <xs:complexType name="ArrayOfT_OA_VEHICLE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_OA_VEHICLE" nillable="true" type="tns:T_OA_VEHICLE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_OA_VEHICLE" nillable="true" type="tns:ArrayOfT_OA_VEHICLE" />
</xs:schema>