AttendRecordImportHelper/Service References/AttendanceWS/AttendanceService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://portal.smt-online.net/New/Services/HR/AttendanceService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://portal.smt-online.net/New/Services/HR/AttendanceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEELEAVERECORDLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEELEAVERECORD" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEELEAVERECORDLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEELEAVERECORDLmi1kWPo" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfT_HR_ATTENDANCESOLUTIONLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_ATTENDANCESOLUTION" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_ATTENDANCESOLUTIONLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_ATTENDANCESOLUTIONLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_ATTENDANCEDEDUCTMASTERLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_ATTENDANCEDEDUCTMASTER" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_ATTENDANCEDEDUCTMASTERLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_ATTENDANCEDEDUCTMASTERLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_OVERTIMEREWARDLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_OVERTIMEREWARD" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_OVERTIMEREWARDLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_OVERTIMEREWARDLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_SCHEDULINGTEMPLATEMASTERLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_SCHEDULINGTEMPLATEMASTER" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_SCHEDULINGTEMPLATEMASTERLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_SCHEDULINGTEMPLATEMASTERLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_ATTENDANCERECORDLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_ATTENDANCERECORD" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_ATTENDANCERECORDLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_ATTENDANCERECORDLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEEABNORMRECORDLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEEABNORMRECORD" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEEABNORMRECORDLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEEABNORMRECORDLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEESIGNINRECORDLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEESIGNINRECORD" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEESIGNINRECORDLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEESIGNINRECORDLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_SHIFTDEFINELmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_SHIFTDEFINE" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_SHIFTDEFINELmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_SHIFTDEFINELmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_LEAVETYPESETLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_LEAVETYPESET" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_LEAVETYPESETLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_LEAVETYPESETLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEELEVELDAYCOUNTLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEELEVELDAYCOUNT" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEELEVELDAYCOUNTLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEELEVELDAYCOUNTLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_ATTENDMONTHLYBATCHBALANCELmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_ATTENDMONTHLYBATCHBALANCE" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_ATTENDMONTHLYBATCHBALANCELmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_ATTENDMONTHLYBATCHBALANCELmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_VACATIONSETLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_VACATIONSET" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_VACATIONSETLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_VACATIONSETLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEEOVERTIMERECORDLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEEOVERTIMERECORD" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEEOVERTIMERECORDLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEEOVERTIMERECORDLmi1kWPo" />
  <xs:complexType name="EntityReferenceOfT_HR_EMPLOYEEEVECTIONRECORDLmi1kWPo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="T_HR_EMPLOYEEEVECTIONRECORD" Namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfT_HR_EMPLOYEEEVECTIONRECORDLmi1kWPo" nillable="true" type="tns:EntityReferenceOfT_HR_EMPLOYEEEVECTIONRECORDLmi1kWPo" />
</xs:schema>