TM.SaaS.OA/PM/SMT.SaaS.InterActiveDirectory/Web References/ExchangeServices/ExchangeServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddUserMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usrAlias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailSuffix" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usrPasswd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserMailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserMailBox">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserMailBoxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserMailBoxResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserEnable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserEnableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetUserEnableResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="xx" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddUserMailSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserMail" />
  </wsdl:message>
  <wsdl:message name="AddUserMailSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserMailResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserMailBoxSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserMailBox" />
  </wsdl:message>
  <wsdl:message name="AddUserMailBoxSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserMailBoxResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserEnableSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserEnable" />
  </wsdl:message>
  <wsdl:message name="SetUserEnableSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserEnableResponse" />
  </wsdl:message>
  <wsdl:portType name="ExchangeServicesSoap">
    <wsdl:operation name="AddUserMail">
      <wsdl:input message="tns:AddUserMailSoapIn" />
      <wsdl:output message="tns:AddUserMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserMailBox">
      <wsdl:input message="tns:AddUserMailBoxSoapIn" />
      <wsdl:output message="tns:AddUserMailBoxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserEnable">
      <wsdl:input message="tns:SetUserEnableSoapIn" />
      <wsdl:output message="tns:SetUserEnableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExchangeServicesSoap" type="tns:ExchangeServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUserMail">
      <soap:operation soapAction="http://tempuri.org/AddUserMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserMailBox">
      <soap:operation soapAction="http://tempuri.org/AddUserMailBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserEnable">
      <soap:operation soapAction="http://tempuri.org/SetUserEnable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExchangeServices">
    <wsdl:port name="ExchangeServicesSoap" binding="tns:ExchangeServicesSoap">
      <soap:address location="http://172.16.1.16/adserver/ExchangeServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>