TM.SaaS.OA/OA/SMT.SaaS.OA.UI/Service References/TravelExpApplyMaster/OaInterface2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://172.30.50.13/SmtOnline/Services/SMTFBAService/OaInterface.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://172.30.50.13/SmtOnline/Services/SMTFBAService/OaInterface.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OaInterface_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="OaInterface_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="OaInterface_GetApplyOrderID_InputMessage">
    <wsdl:part name="parameters" element="GetApplyOrderID" />
  </wsdl:message>
  <wsdl:message name="OaInterface_GetApplyOrderID_OutputMessage">
    <wsdl:part name="parameters" element="GetApplyOrderIDResponse" />
  </wsdl:message>
  <wsdl:portType name="OaInterface">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:OaInterface/DoWork" message="OaInterface_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:OaInterface/DoWorkResponse" message="OaInterface_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplyOrderID">
      <wsdl:input wsaw:Action="urn:OaInterface/GetApplyOrderID" message="OaInterface_GetApplyOrderID_InputMessage" />
      <wsdl:output wsaw:Action="urn:OaInterface/GetApplyOrderIDResponse" message="OaInterface_GetApplyOrderID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>