TM.SaaS.OA/WF/SMT.SaaS.FlowSystem/SMT.FlowWFService/Service References/PerformanceServiceWS/PerformanceService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.30.50.13/SmtOnline/Develop/Services/HR/PerformanceService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://172.30.50.13/SmtOnline/Develop/Services/HR/PerformanceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
  <xs:import schemaLocation="http://172.30.50.13/SmtOnline/Develop/Services/HR/PerformanceService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel" />
  <xs:element name="DeleteSumPerformances">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sumIdList" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSumPerformancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSumPerformancesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerformanceRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q2:T_HR_PERFORMANCERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerformanceRecordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerformanceRecordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entList" nillable="true" type="q3:ArrayOfT_HR_PERFORMANCERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerformanceRecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPerformanceRecordListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerformanceRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q4:T_HR_PERFORMANCERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerformanceRecordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerformanceRecordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entList" nillable="true" type="q5:ArrayOfT_HR_PERFORMANCERECORD" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="employeeIDs" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerformanceRecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UpdatePerformanceRecordListResult" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerformanceRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="randomGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerformanceRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePerformanceRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerformanceRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="groupPersonIDs" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerformanceRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePerformanceRecordsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPIScorePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BusinessCodePost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RelationIDPost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreateCompanyIDPost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreateDepartmentIDPost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatePostIDPost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreateUserIDPost" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPIScorePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KPIScorePostResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPISystemScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelRelationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stepCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="formCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stepID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastStepDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="stepDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="AppraiseeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPISystemScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KPISystemScoreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPISystemScoreByKPIPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="kpiPoint" nillable="true" type="q9:T_HR_KPIPOINT" />
        <xs:element minOccurs="0" name="formCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stepID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastStepDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="stepDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="AppraiseeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPISystemScoreByKPIPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KPISystemScoreByKPIPointResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPIManualScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelRelationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastStepID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="formCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastStepCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppraiseeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppraiserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPIManualScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="KPIManualScoreResult" nillable="true" type="q10:T_HR_KPIRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPIManualScoreByKPIPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="kpiPoint" nillable="true" type="q11:T_HR_KPIPOINT" />
        <xs:element minOccurs="0" name="formCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastStepCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppraiseeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppraiserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPIManualScoreByKPIPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="KPIManualScoreByKPIPointResult" nillable="true" type="q12:T_HR_KPIRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPIRandomScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelRelationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastStepID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="formCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastStepCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppraiseeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppraiserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPIRandomScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="KPIRandomScoreResult" nillable="true" type="q13:T_HR_KPIRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPIRandomScoreByKPIPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="kpiPoint" nillable="true" type="q14:T_HR_KPIPOINT" />
        <xs:element minOccurs="0" name="formCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastStepCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppraiseeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppraiserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPIRandomScoreByKPIPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="KPIRandomScoreByKPIPointResult" nillable="true" type="q15:T_HR_KPIRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelRelationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stepID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetKPIPointResult" nillable="true" type="q16:T_HR_KPIPOINT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIPointAndLastPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelRelationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stepID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastStepID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIPointAndLastPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetKPIPointAndLastPointResult" nillable="true" type="q17:ArrayOfT_HR_KPIPOINT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIPointListByBusinessCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelRelationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIPointListByBusinessCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetKPIPointListByBusinessCodeResult" nillable="true" type="q18:ArrayOfT_HR_KPIPOINT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIPointsByBusinessCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelRelationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIPointsByBusinessCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKPIPointsByBusinessCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIPointByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kpiPointID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIPointByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetKPIPointByIDResult" nillable="true" type="q19:T_HR_KPIPOINT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIPointRandomPersonID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelRelationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stepID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="formID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIPointRandomPersonIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKPIPointRandomPersonIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPITypeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kpiTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPITypeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetKPITypeByIDResult" nillable="true" type="q20:T_HR_KPITYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPITypeAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPITypeAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetKPITypeAllResult" nillable="true" type="q21:ArrayOfT_HR_KPITYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPITypeWithPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q22:ArrayOfanyType" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPITypeWithPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetKPITypeWithPermissionResult" nillable="true" type="q23:ArrayOfT_HR_KPITYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordRandomPersonID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stepID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordRandomPersonIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKPIRecordRandomPersonIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stepID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetKPIRecordResult" nillable="true" type="q24:T_HR_KPIRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordScoreDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stepID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scoreType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordScoreDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKPIRecordScoreDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordInterface">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordInterfaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetKPIRecordInterfaceResult" nillable="true" type="q25:T_HR_KPIRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flowID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stepID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKPIRecordScoreResult" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetKPIRecordByIdResult" nillable="true" type="q26:T_HR_KPIRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckKPIRecordIsComplainingByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIdList" nillable="true" type="q27:ArrayOfstring" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckKPIRecordIsComplainingByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckKPIRecordIsComplainingByUserIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPITypePaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q28:ArrayOfstring" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPITypePagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetKPITypePagingResult" nillable="true" type="q29:ArrayOfT_HR_KPITYPE" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKPIType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q30:T_HR_KPITYPE" />
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKPITypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKPIType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q31:T_HR_KPITYPE" />
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKPITypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKPITypeAndRemind">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q32:T_HR_KPITYPE" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="addList" nillable="true" type="q33:ArrayOfT_HR_KPIREMIND" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="updateList" nillable="true" type="q34:ArrayOfT_HR_KPIREMIND" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="delList" nillable="true" type="q35:ArrayOfT_HR_KPIREMIND" />
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKPITypeAndRemindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKPIType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kpiTypeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKPITypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteKPITypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKPITypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="kpiTypeId" nillable="true" type="q36:ArrayOfstring" />
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKPITypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteKPITypesResult" type="xs:int" />
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKPIPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q37:T_HR_KPIPOINT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKPIPointResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKPIPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q38:T_HR_KPIPOINT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKPIPointResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKPIPointAndRemind">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q39:T_HR_KPIPOINT" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="addList" nillable="true" type="q40:ArrayOfT_HR_KPIREMIND" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="updateList" nillable="true" type="q41:ArrayOfT_HR_KPIREMIND" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="delList" nillable="true" type="q42:ArrayOfT_HR_KPIREMIND" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKPIPointAndRemindResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKPIPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kpiTypeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKPIPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteKPIPointResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPIRecordUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entity" nillable="true" type="q43:T_HR_KPIRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KPIRecordUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVcomplainRecordByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompainRecordID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVcomplainRecordByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel" minOccurs="0" name="GetVcomplainRecordByIDResult" nillable="true" type="q44:V_COMPLAINRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveKPIRecordInterface">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="kpirecord" nillable="true" type="q45:T_HR_KPIRECORD" />
        <xs:element minOccurs="0" name="AppraiseeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppraiserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
        <xs:element minOccurs="0" name="scoretype" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveKPIRecordInterfaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="SaveKPIRecordInterfaceResult" nillable="true" type="q46:T_HR_KPIRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordComplainByRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordComplainByRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetKPIRecordComplainByRecordResult" nillable="true" type="q47:ArrayOfT_HR_KPIRECORDCOMPLAIN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordComplainByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="complainID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordComplainByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetKPIRecordComplainByIDResult" nillable="true" type="q48:T_HR_KPIRECORDCOMPLAIN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKPIRecordComplain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q49:T_HR_KPIRECORDCOMPLAIN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKPIRecordComplainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKPIRecordComplain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q50:T_HR_KPIRECORDCOMPLAIN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKPIRecordComplainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplainRecordPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q51:ArrayOfstring" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="sType" type="xs:int" />
        <xs:element minOccurs="0" name="sValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCheckState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplainRecordPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel" minOccurs="0" name="GetComplainRecordPagingResult" nillable="true" type="q52:ArrayOfV_COMPLAINRECORD" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompainRecordByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompainRecordID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompainRecordByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetCompainRecordByIDResult" nillable="true" type="q53:T_HR_KPIRECORDCOMPLAIN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompainRecordUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entity" nillable="true" type="q54:T_HR_KPIRECORDCOMPLAIN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompainRecordUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CompainRecordUpdateOver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kpirecordid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompainRecordUpdateOverResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ComplainRecordDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ComplainRecords" nillable="true" type="q55:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComplainRecordDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComplainRecordDeleteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q56:ArrayOfstring" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="sType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCheckState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIRecordPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel" minOccurs="0" name="GetKPIRecordPagingResult" nillable="true" type="q57:ArrayOfV_KPIRECORD" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRecordIsSummarize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRecordIsSummarizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckRecordIsSummarizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomGroupPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q58:ArrayOfstring" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomGroupPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetRandomGroupPagingResult" nillable="true" type="q59:ArrayOfT_HR_RANDOMGROUP" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomGroupPersonAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="randomGroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomGroupPersonAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetRandomGroupPersonAllResult" nillable="true" type="q60:ArrayOfT_HR_RAMDONGROUPPERSON" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomGroupPersonPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q61:ArrayOfstring" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="randomGroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomGroupPersonPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel" minOccurs="0" name="GetRandomGroupPersonPagingResult" nillable="true" type="q62:ArrayOfV_EMPLOYEEVIEW" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomGroupPersonByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="randomGroupPersonID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomGroupPersonByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetRandomGroupPersonByIDResult" nillable="true" type="q63:T_HR_RAMDONGROUPPERSON" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomGroupPersonByGroupID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="randomGroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomGroupPersonByGroupIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetRandomGroupPersonByGroupIDResult" nillable="true" type="q64:ArrayOfT_HR_RAMDONGROUPPERSON" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomGroupAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomGroupAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetRandomGroupAllResult" nillable="true" type="q65:ArrayOfT_HR_RANDOMGROUP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomGroupByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="randomGroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomGroupByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetRandomGroupByIDResult" nillable="true" type="q66:T_HR_RANDOMGROUP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRandomGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q67:T_HR_RANDOMGROUP" />
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRandomGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRandomGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q68:T_HR_RANDOMGROUP" />
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRandomGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRandomGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="randomGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRandomGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRandomGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRandomGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="randomGroupId" nillable="true" type="q69:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRandomGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRandomGroupsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRandomGroupPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q70:T_HR_RAMDONGROUPPERSON" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRandomGroupPersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRandomGroupPersonList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entList" nillable="true" type="q71:ArrayOfT_HR_RAMDONGROUPPERSON" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRandomGroupPersonListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRandomGroupPersonListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRandomGroupPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q72:T_HR_RAMDONGROUPPERSON" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRandomGroupPersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRandomGroupPersonList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entList" nillable="true" type="q73:ArrayOfT_HR_RAMDONGROUPPERSON" />
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="employeeIDs" nillable="true" type="q74:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRandomGroupPersonListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UpdateRandomGroupPersonListResult" nillable="true" type="q75:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRandomGroupPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="randomGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRandomGroupPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRandomGroupPersonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRandomGroupPersons">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="groupPersonIDs" nillable="true" type="q76:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRandomGroupPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRandomGroupPersonsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRandomPersons">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="groupPersonIDs" nillable="true" type="q77:ArrayOfstring" />
        <xs:element minOccurs="0" name="groupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRandomPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRandomPersonsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSumPerformancePaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q78:ArrayOfstring" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="sType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSelf" type="xs:boolean" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSumPerformancePagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetSumPerformancePagingResult" nillable="true" type="q79:ArrayOfT_HR_SUMPERFORMANCERECORD" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSumPerformancePagingByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q80:ArrayOfstring" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="sType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSelf" type="xs:boolean" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSumPerformancePagingByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetSumPerformancePagingByTimeResult" nillable="true" type="q81:ArrayOfT_HR_SUMPERFORMANCERECORD" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceDetailEmployeeAllPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q82:ArrayOfstring" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceDetailEmployeeAllPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel" minOccurs="0" name="GetPerformanceDetailEmployeeAllPagingResult" nillable="true" type="q83:ArrayOfV_PERFORMANCERECORDDETAIL" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeePerformancePagingByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q84:ArrayOfstring" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="sType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeePerformancePagingByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel" minOccurs="0" name="GetEmployeePerformancePagingByTimeResult" nillable="true" type="q85:ArrayOfV_PERFORMANCERECORD" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceEmployeeAllPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q86="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q86:ArrayOfstring" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceEmployeeAllPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel" minOccurs="0" name="GetPerformanceEmployeeAllPagingResult" nillable="true" type="q87:ArrayOfV_PERFORMANCERECORD" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceAllBySumID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceAllBySumIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetPerformanceAllBySumIDResult" nillable="true" type="q88:ArrayOfT_HR_PERFORMANCERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceEmployeeAllBySumID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceEmployeeAllBySumIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel" minOccurs="0" name="GetPerformanceEmployeeAllBySumIDResult" nillable="true" type="q89:ArrayOfV_PERFORMANCERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceDetailEmployeeAllBySumID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceDetailEmployeeAllBySumIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel" minOccurs="0" name="GetPerformanceDetailEmployeeAllBySumIDResult" nillable="true" type="q90:ArrayOfV_PERFORMANCERECORDDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployePerformance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="employeIDs" nillable="true" type="q91:ArrayOfstring" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployePerformanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEmployePerformanceResult" nillable="true" type="q92:ArrayOfKeyValueOfstringdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceRecordByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceRecordByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetPerformanceRecordByIDResult" nillable="true" type="q93:T_HR_PERFORMANCERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSumPerformance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q94:T_HR_SUMPERFORMANCERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSumPerformanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSumPerformanceRecordByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSumPerformanceRecordByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetSumPerformanceRecordByIDResult" nillable="true" type="q95:T_HR_SUMPERFORMANCERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSumPerformance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q96:T_HR_SUMPERFORMANCERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSumPerformanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSumPerformanceAndSum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entType" nillable="true" type="q97:T_HR_SUMPERFORMANCERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSumPerformanceAndSumResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSumPerformance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSumPerformanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSumPerformanceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>