TM.SaaS.OA/WF/SMT.SaaS.FlowSystem/WinFlowTest/Service References/PermissionService/PermissionService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.Permission.DAL.views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Permission.DAL.views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.30.50.83:5102/SmtOnline/Services/System/PermissionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT_System_EFModel" />
  <xs:complexType name="CustomerPermission">
    <xs:sequence>
      <xs:element name="EntityMenuId" nillable="true" type="xs:string" />
      <xs:element name="PermissionValue" nillable="true" type="tns:ArrayOfPermissionValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerPermission" nillable="true" type="tns:CustomerPermission" />
  <xs:complexType name="ArrayOfPermissionValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermissionValue" nillable="true" type="tns:PermissionValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermissionValue" nillable="true" type="tns:ArrayOfPermissionValue" />
  <xs:complexType name="PermissionValue">
    <xs:sequence>
      <xs:element name="OrgObjects" nillable="true" type="tns:ArrayOfOrgObject" />
      <xs:element name="Permission" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionValue" nillable="true" type="tns:PermissionValue" />
  <xs:complexType name="ArrayOfOrgObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrgObject" nillable="true" type="tns:OrgObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrgObject" nillable="true" type="tns:ArrayOfOrgObject" />
  <xs:complexType name="OrgObject">
    <xs:sequence>
      <xs:element name="OrgID" nillable="true" type="xs:string" />
      <xs:element name="OrgType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrgObject" nillable="true" type="tns:OrgObject" />
  <xs:complexType name="ArrayOfV_UserLoginRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_UserLoginRecord" nillable="true" type="tns:V_UserLoginRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_UserLoginRecord" nillable="true" type="tns:ArrayOfV_UserLoginRecord" />
  <xs:complexType name="V_UserLoginRecord">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT_System_EFModel" minOccurs="0" name="sysuser" nillable="true" type="q1:T_SYS_USER" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT_System_EFModel" minOccurs="0" name="userloginrecord" nillable="true" type="q2:T_SYS_USERLOGINRECORD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_UserLoginRecord" nillable="true" type="tns:V_UserLoginRecord" />
  <xs:complexType name="ArrayOfV_UserLoginRecordHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_UserLoginRecordHistory" nillable="true" type="tns:V_UserLoginRecordHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_UserLoginRecordHistory" nillable="true" type="tns:ArrayOfV_UserLoginRecordHistory" />
  <xs:complexType name="V_UserLoginRecordHistory">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT_System_EFModel" minOccurs="0" name="historyrecord" nillable="true" type="q3:T_SYS_USERLOGINRECORDHIS" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT_System_EFModel" minOccurs="0" name="sysuser" nillable="true" type="q4:T_SYS_USER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_UserLoginRecordHistory" nillable="true" type="tns:V_UserLoginRecordHistory" />
  <xs:complexType name="ArrayOfFlowUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlowUserInfo" nillable="true" type="tns:FlowUserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlowUserInfo" nillable="true" type="tns:ArrayOfFlowUserInfo" />
  <xs:complexType name="FlowUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompayID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHead" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSuperior" type="xs:boolean" />
      <xs:element minOccurs="0" name="PostID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostName" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT_System_EFModel" minOccurs="0" name="Roles" nillable="true" type="q5:ArrayOfT_SYS_ROLE" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlowUserInfo" nillable="true" type="tns:FlowUserInfo" />
  <xs:complexType name="ArrayOfCustomerPermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerPermission" nillable="true" type="tns:CustomerPermission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerPermission" nillable="true" type="tns:ArrayOfCustomerPermission" />
</xs:schema>