SMT.SaaS.FrameWorkUI/SMT.Saas.Tools/Service References/PersonalRecordWS/PersonalRecordService3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://portal.smt-online.net/New/Services/SMTEngine/PersonalRecordService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://portal.smt-online.net/New/Services/SMTEngine/PersonalRecordService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://portal.smt-online.net/New/Services/SMTEngine/PersonalRecordService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EngineDataModel" />
      <xsd:import schemaLocation="http://portal.smt-online.net/New/Services/SMTEngine/PersonalRecordService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://portal.smt-online.net/New/Services/SMTEngine/PersonalRecordService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonalRecordService_AddPersonalRecord_InputMessage">
    <wsdl:part name="parameters" element="AddPersonalRecord" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_AddPersonalRecord_OutputMessage">
    <wsdl:part name="parameters" element="AddPersonalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_AddPersonalRecords_InputMessage">
    <wsdl:part name="parameters" element="AddPersonalRecords" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_AddPersonalRecords_OutputMessage">
    <wsdl:part name="parameters" element="AddPersonalRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_UpdatePersonalRecord_InputMessage">
    <wsdl:part name="parameters" element="UpdatePersonalRecord" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_UpdatePersonalRecord_OutputMessage">
    <wsdl:part name="parameters" element="UpdatePersonalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecord_InputMessage">
    <wsdl:part name="parameters" element="GetPersonalRecord" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecord_OutputMessage">
    <wsdl:part name="parameters" element="GetPersonalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_DeletePersonalRecord_InputMessage">
    <wsdl:part name="parameters" element="DeletePersonalRecord" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_DeletePersonalRecord_OutputMessage">
    <wsdl:part name="parameters" element="DeletePersonalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecordModelByID_InputMessage">
    <wsdl:part name="parameters" element="GetPersonalRecordModelByID" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecordModelByID_OutputMessage">
    <wsdl:part name="parameters" element="GetPersonalRecordModelByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecordModelByModelID_InputMessage">
    <wsdl:part name="parameters" element="GetPersonalRecordModelByModelID" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecordModelByModelID_OutputMessage">
    <wsdl:part name="parameters" element="GetPersonalRecordModelByModelIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecordList_InputMessage">
    <wsdl:part name="parameters" element="GetPersonalRecordList" />
  </wsdl:message>
  <wsdl:message name="IPersonalRecordService_GetPersonalRecordList_OutputMessage">
    <wsdl:part name="parameters" element="GetPersonalRecordListResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonalRecordService">
    <wsdl:operation name="AddPersonalRecord">
      <wsdl:input wsaw:Action="urn:IPersonalRecordService/AddPersonalRecord" message="IPersonalRecordService_AddPersonalRecord_InputMessage" />
      <wsdl:output wsaw:Action="urn:IPersonalRecordService/AddPersonalRecordResponse" message="IPersonalRecordService_AddPersonalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPersonalRecords">
      <wsdl:input wsaw:Action="urn:IPersonalRecordService/AddPersonalRecords" message="IPersonalRecordService_AddPersonalRecords_InputMessage" />
      <wsdl:output wsaw:Action="urn:IPersonalRecordService/AddPersonalRecordsResponse" message="IPersonalRecordService_AddPersonalRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonalRecord">
      <wsdl:input wsaw:Action="urn:IPersonalRecordService/UpdatePersonalRecord" message="IPersonalRecordService_UpdatePersonalRecord_InputMessage" />
      <wsdl:output wsaw:Action="urn:IPersonalRecordService/UpdatePersonalRecordResponse" message="IPersonalRecordService_UpdatePersonalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonalRecord">
      <wsdl:input wsaw:Action="urn:IPersonalRecordService/GetPersonalRecord" message="IPersonalRecordService_GetPersonalRecord_InputMessage" />
      <wsdl:output wsaw:Action="urn:IPersonalRecordService/GetPersonalRecordResponse" message="IPersonalRecordService_GetPersonalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePersonalRecord">
      <wsdl:input wsaw:Action="urn:IPersonalRecordService/DeletePersonalRecord" message="IPersonalRecordService_DeletePersonalRecord_InputMessage" />
      <wsdl:output wsaw:Action="urn:IPersonalRecordService/DeletePersonalRecordResponse" message="IPersonalRecordService_DeletePersonalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonalRecordModelByID">
      <wsdl:input wsaw:Action="urn:IPersonalRecordService/GetPersonalRecordModelByID" message="IPersonalRecordService_GetPersonalRecordModelByID_InputMessage" />
      <wsdl:output wsaw:Action="urn:IPersonalRecordService/GetPersonalRecordModelByIDResponse" message="IPersonalRecordService_GetPersonalRecordModelByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonalRecordModelByModelID">
      <wsdl:input wsaw:Action="urn:IPersonalRecordService/GetPersonalRecordModelByModelID" message="IPersonalRecordService_GetPersonalRecordModelByModelID_InputMessage" />
      <wsdl:output wsaw:Action="urn:IPersonalRecordService/GetPersonalRecordModelByModelIDResponse" message="IPersonalRecordService_GetPersonalRecordModelByModelID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonalRecordList">
      <wsdl:input wsaw:Action="urn:IPersonalRecordService/GetPersonalRecordList" message="IPersonalRecordService_GetPersonalRecordList_InputMessage" />
      <wsdl:output wsaw:Action="urn:IPersonalRecordService/GetPersonalRecordListResponse" message="IPersonalRecordService_GetPersonalRecordList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>