SMT.SaaS.FrameWorkUI/SMT.Saas.Tools/Service References/PersonalRecordWS/PersonalRecordService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.Global.IEngineContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MsgParms">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastDay" type="xs:int" />
      <xs:element minOccurs="0" name="MessageBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Top" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MsgParms" nillable="true" type="tns:MsgParms" />
</xs:schema>