TM.SaaS.OA/HR/SMT.HRM.UI/Service References/ReportChartServiceWS/ReportChartService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeMarriage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeMarriage" nillable="true" type="tns:EmployeeMarriage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeMarriage" nillable="true" type="tns:ArrayOfEmployeeMarriage" />
  <xs:complexType name="EmployeeMarriage">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataEnty" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarriageEnty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeMarriage" nillable="true" type="tns:EmployeeMarriage" />
  <xs:complexType name="ArrayOfPieEmployeece">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PieEmployeece" nillable="true" type="tns:PieEmployeece" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPieEmployeece" nillable="true" type="tns:ArrayOfPieEmployeece" />
  <xs:complexType name="PieEmployeece">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountEmployeece" type="xs:int" />
      <xs:element minOccurs="0" name="EMPLOYEEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENTRYDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Education" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="marriage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PieEmployeece" nillable="true" type="tns:PieEmployeece" />
</xs:schema>