SMT.SaaS.HR/SMT.HRM.UI/Service References/OutApplyWS/OutAppliecrecordService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12168/OutAppliecrecordService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfT_HR_EMPLOYEEOUTAPPLIECRECORD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_HR_EMPLOYEEOUTAPPLIECRECORD" nillable="true" type="tns:T_HR_EMPLOYEEOUTAPPLIECRECORD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_HR_EMPLOYEEOUTAPPLIECRECORD" nillable="true" type="tns:ArrayOfT_HR_EMPLOYEEOUTAPPLIECRECORD" />
  <xs:complexType name="T_HR_EMPLOYEEOUTAPPLIECRECORD">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BEGINCARDTIME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BEGINCARDTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CHECKSTATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATEDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATEUSERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMPLOYEEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMPLOYEENAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ENDCARDTIME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ENDCARDTYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ENDDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OVERTIMECATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OVERTIMEHOURS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OVERTIMERECORDID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERCOMPANYID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERDEPARTMENTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OWNERPOSTID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STARTDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEDATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPDATEUSERID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_HR_EMPLOYEEOUTAPPLIECRECORD" nillable="true" type="tns:T_HR_EMPLOYEEOUTAPPLIECRECORD" />
</xs:schema>