SMT.SaaS.HR/SMT.HRM.UI/Service References/OutApplyWS/OutAppliecrecordService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:12168/OutAppliecrecordService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:12168/OutAppliecrecordService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12168/OutAppliecrecordService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:12168/OutAppliecrecordService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
      <xsd:import schemaLocation="http://localhost:12168/OutAppliecrecordService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:12168/OutAppliecrecordService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OutAppliecrecordService_EmployeeOverTimeRecordPaging_InputMessage">
    <wsdl:part name="parameters" element="EmployeeOverTimeRecordPaging" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_EmployeeOverTimeRecordPaging_OutputMessage">
    <wsdl:part name="parameters" element="EmployeeOverTimeRecordPagingResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_GetOverTimeRdByID_InputMessage">
    <wsdl:part name="parameters" element="GetOverTimeRdByID" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_GetOverTimeRdByID_OutputMessage">
    <wsdl:part name="parameters" element="GetOverTimeRdByIDResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_AddOverTimeRd_InputMessage">
    <wsdl:part name="parameters" element="AddOverTimeRd" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_AddOverTimeRd_OutputMessage">
    <wsdl:part name="parameters" element="AddOverTimeRdResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_ModifyOverTimeRd_InputMessage">
    <wsdl:part name="parameters" element="ModifyOverTimeRd" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_ModifyOverTimeRd_OutputMessage">
    <wsdl:part name="parameters" element="ModifyOverTimeRdResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_RemoveOverTimeRd_InputMessage">
    <wsdl:part name="parameters" element="RemoveOverTimeRd" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_RemoveOverTimeRd_OutputMessage">
    <wsdl:part name="parameters" element="RemoveOverTimeRdResponse" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_AuditOverTimeRd_InputMessage">
    <wsdl:part name="parameters" element="AuditOverTimeRd" />
  </wsdl:message>
  <wsdl:message name="OutAppliecrecordService_AuditOverTimeRd_OutputMessage">
    <wsdl:part name="parameters" element="AuditOverTimeRdResponse" />
  </wsdl:message>
  <wsdl:portType name="OutAppliecrecordService">
    <wsdl:operation name="EmployeeOverTimeRecordPaging">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/EmployeeOverTimeRecordPaging" message="OutAppliecrecordService_EmployeeOverTimeRecordPaging_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/EmployeeOverTimeRecordPagingResponse" message="OutAppliecrecordService_EmployeeOverTimeRecordPaging_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOverTimeRdByID">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/GetOverTimeRdByID" message="OutAppliecrecordService_GetOverTimeRdByID_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/GetOverTimeRdByIDResponse" message="OutAppliecrecordService_GetOverTimeRdByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOverTimeRd">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/AddOverTimeRd" message="OutAppliecrecordService_AddOverTimeRd_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/AddOverTimeRdResponse" message="OutAppliecrecordService_AddOverTimeRd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyOverTimeRd">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/ModifyOverTimeRd" message="OutAppliecrecordService_ModifyOverTimeRd_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/ModifyOverTimeRdResponse" message="OutAppliecrecordService_ModifyOverTimeRd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveOverTimeRd">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/RemoveOverTimeRd" message="OutAppliecrecordService_RemoveOverTimeRd_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/RemoveOverTimeRdResponse" message="OutAppliecrecordService_RemoveOverTimeRd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuditOverTimeRd">
      <wsdl:input wsaw:Action="urn:OutAppliecrecordService/AuditOverTimeRd" message="OutAppliecrecordService_AuditOverTimeRd_InputMessage" />
      <wsdl:output wsaw:Action="urn:OutAppliecrecordService/AuditOverTimeRdResponse" message="OutAppliecrecordService_AuditOverTimeRd_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>