SMT.SaaS.HR/SMT.HRM.UI/Service References/OutApplyWS/OutAppliecrecordService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12168/OutAppliecrecordService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:12168/OutAppliecrecordService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
  <xs:element name="EmployeeOverTimeRecordPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q1:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="strCheckState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOwnerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeOverTimeRecordPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="EmployeeOverTimeRecordPagingResult" nillable="true" type="q2:ArrayOfT_HR_EMPLOYEEOUTAPPLIECRECORD" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOverTimeRdByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strOverTimeRecordId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOverTimeRdByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="GetOverTimeRdByIDResult" nillable="true" type="q3:T_HR_EMPLOYEEOUTAPPLIECRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOverTimeRd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entOTRd" nillable="true" type="q4:T_HR_EMPLOYEEOUTAPPLIECRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOverTimeRdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOverTimeRdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyOverTimeRd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" minOccurs="0" name="entOTRd" nillable="true" type="q5:T_HR_EMPLOYEEOUTAPPLIECRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyOverTimeRdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyOverTimeRdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOverTimeRd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strOverTimeRecordId" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOverTimeRdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveOverTimeRdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditOverTimeRd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strOverTimeRecordID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCheckState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditOverTimeRdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuditOverTimeRdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>