Smt_Tool/SmtOnlinePortalTools/Service References/HrCommonSV/HrCommonService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://portal.smt-online.net/New/Services/HR/HrCommonService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAppConfigByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppConfigName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppConfigByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAppConfigByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityProNameByEnityName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="masterIDName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityProNameByEnityNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEntityProNameByEnityNameResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sqlstring" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerQueryResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>