SMT.SaaS.OANew/SMT.SaaS.OA.UI/Service References/SmtOACommonAdminService/SmtOACommonAdmin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3938/SmtOACommonAdmin.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
  <xs:import schemaLocation="http://localhost:3938/SmtOACommonAdmin.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:3938/SmtOACommonAdmin.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" />
  <xs:import schemaLocation="http://localhost:3938/SmtOACommonAdmin.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" />
  <xs:import schemaLocation="http://localhost:3938/SmtOACommonAdmin.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL" />
  <xs:element name="UpdateVehicleDispatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vehicleDispatch" nillable="true" type="q1:T_OA_VEHICLEDISPATCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleDispatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVehicleDispatchResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleDispatchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vehicleDispatchList" nillable="true" type="q2:ArrayOfT_OA_VEHICLEDISPATCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleDispatchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVehicleDispatchListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Del_VDDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Del_VDDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Del_VDDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleDispatchAndDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vehicleDispatch" nillable="true" type="q4:T_OA_VEHICLEDISPATCH" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vddList" nillable="true" type="q5:ArrayOfT_OA_VEHICLEDISPATCHDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleDispatchAndDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVehicleDispatchAndDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicleDispatchAndDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vehicleDispatch" nillable="true" type="q6:T_OA_VEHICLEDISPATCH" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vddList" nillable="true" type="q7:ArrayOfT_OA_VEHICLEDISPATCHDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicleDispatchAndDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVehicleDispatchAndDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailListByDispatchId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dispatchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailListByDispatchIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetDetailListByDispatchIdResult" nillable="true" type="q8:ArrayOfT_OA_VEHICLEDISPATCHDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleDispatchById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleDispatchByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetVehicleDispatchByIdResult" nillable="true" type="q9:T_OA_VEHICLEDISPATCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gets_VDRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q10:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q11:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gets_VDRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Gets_VDRecordResult" nillable="true" type="q12:ArrayOfT_OA_VEHICLEDISPATCHRECORD" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VDInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VDInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Get_VDInfoResult" nillable="true" type="q13:ArrayOfT_OA_VEHICLEDISPATCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VDRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VDRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Get_VDRecordResult" nillable="true" type="q14:ArrayOfT_OA_VEHICLEDISPATCHRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upd_VDRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vddList" nillable="true" type="q15:ArrayOfT_OA_VEHICLEDISPATCHRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upd_VDRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Upd_VDRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_VDRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vddList" nillable="true" type="q16:ArrayOfT_OA_VEHICLEDISPATCHRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_VDRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_VDRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Del_VDRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="id" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Del_VDRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Del_VDRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostRecordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q18:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostRecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetCostRecordListResult" nillable="true" type="q19:ArrayOfT_OA_COSTRECORD" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCostRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfo" nillable="true" type="q20:T_OA_COSTRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCostRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCostRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCostRecordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfoList" nillable="true" type="q21:ArrayOfT_OA_COSTRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCostRecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCostRecordListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCostRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfo" nillable="true" type="q22:T_OA_COSTRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCostRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCostRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCostRecordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfoList" nillable="true" type="q23:ArrayOfT_OA_COSTRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCostRecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCostRecordListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCostRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfo" nillable="true" type="q24:T_OA_COSTRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCostRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCostRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCostRecordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfoList" nillable="true" type="q25:ArrayOfT_OA_COSTRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCostRecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCostRecordListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VehicleUseApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VehicleUseAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Get_VehicleUseAppResult" nillable="true" type="q26:T_OA_VEHICLEUSEAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleUseAppInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q27:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleUseAppInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetVehicleUseAppInfoListResult" nillable="true" type="q28:ArrayOfT_OA_VEHICLEUSEAPP" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCanUseVehicleUseAppInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q29:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCanUseVehicleUseAppInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetCanUseVehicleUseAppInfoListResult" nillable="true" type="q30:ArrayOfT_OA_VEHICLEUSEAPP" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicleUseApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vehicleUseAppInfo" nillable="true" type="q31:T_OA_VEHICLEUSEAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicleUseAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVehicleUseAppResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicleUseAppList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vehicleUseAppList" nillable="true" type="q32:ArrayOfT_OA_VEHICLEUSEAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicleUseAppListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVehicleUseAppListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleUseAppList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vehicleUseAppList" nillable="true" type="q33:ArrayOfT_OA_VEHICLEUSEAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleUseAppListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVehicleUseAppListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleUseApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vehicleUseApp" nillable="true" type="q34:T_OA_VEHICLEUSEAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleUseAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVehicleUseAppResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleUseAppList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vehicleUseAppList" nillable="true" type="q35:ArrayOfT_OA_VEHICLEUSEAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleUseAppListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVehicleUseAppListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleUseAppById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleUseAppId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleUseAppByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetVehicleUseAppByIdResult" nillable="true" type="q36:T_OA_VEHICLEUSEAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseInfoListPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q37:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseInfoListPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetHouseInfoListPagingResult" nillable="true" type="q38:ArrayOfT_OA_HOUSEINFO" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="houseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetHouseInfoByIdResult" nillable="true" type="q39:ArrayOfT_OA_HOUSEINFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseInfoTree">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseInfoTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetHouseInfoTreeResult" nillable="true" type="q40:ArrayOfV_HouseInfoTree" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="houseObj" nillable="true" type="q41:T_OA_HOUSEINFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHouseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="houseObj" nillable="true" type="q42:T_OA_HOUSEINFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHouseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="houseID" nillable="true" type="q43:ArrayOfstring" />
        <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHouseResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseHirerListPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q44:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseHirerListPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetHouseHirerListPagingResult" nillable="true" type="q45:ArrayOfV_HouseHirer" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssunaceListPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q46:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q47:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssunaceListPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetIssunaceListPagingResult" nillable="true" type="q48:ArrayOfT_OA_HOUSEINFOISSUANCE" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssunaceForWebPart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssunaceForWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetIssunaceForWebPartResult" nillable="true" type="q49:ArrayOfT_OA_HOUSEINFOISSUANCE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssuanceListById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issuanceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssuanceListByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetIssuanceListByIdResult" nillable="true" type="q50:ArrayOfT_OA_HOUSEINFOISSUANCE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssuanceHouseInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issuanceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssuanceHouseInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetIssuanceHouseInfoListResult" nillable="true" type="q51:ArrayOfT_OA_HOUSEINFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssuanceHouseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issuanceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssuanceHouseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetIssuanceHouseListResult" nillable="true" type="q52:ArrayOfT_OA_HOUSELIST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistributeUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issuanceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistributeUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetDistributeUserListResult" nillable="true" type="q53:ArrayOfT_OA_DISTRIBUTEUSER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIssuance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="issuanceObj" nillable="true" type="q54:T_OA_HOUSEINFOISSUANCE" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="houseListObj" nillable="true" type="q55:ArrayOfT_OA_HOUSELIST" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="distributeListObj" nillable="true" type="q56:ArrayOfT_OA_DISTRIBUTEUSER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIssuanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddIssuanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIssuance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="issuanceObj" nillable="true" type="q57:T_OA_HOUSEINFOISSUANCE" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="houseListObj" nillable="true" type="q58:ArrayOfT_OA_HOUSELIST" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="distributeListObj" nillable="true" type="q59:ArrayOfT_OA_DISTRIBUTEUSER" />
        <xs:element minOccurs="0" name="SubmitFlag" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIssuanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateIssuanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIssuance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="issuanceID" nillable="true" type="q60:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIssuanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteIssuanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireAppListPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q61:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q62:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireAppListPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetHireAppListPagingResult" nillable="true" type="q63:ArrayOfT_OA_HIREAPP" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireAppListPagingByHouseInfoOrList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q64:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q65:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireAppListPagingByHouseInfoOrListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetHireAppListPagingByHouseInfoOrListResult" nillable="true" type="q66:ArrayOfV_HouseHireApp" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireAppListPagingByMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q67:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q68:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireAppListPagingByMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetHireAppListPagingByMemberResult" nillable="true" type="q69:ArrayOfV_HouseHireApp" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireAppByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hireAppID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireAppByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetHireAppByIDResult" nillable="true" type="q70:ArrayOfT_OA_HIREAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireAppByHouseListID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireAppByHouseListIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetHireAppByHouseListIDResult" nillable="true" type="q71:ArrayOfV_HouseHireList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHireApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="hireAppObj" nillable="true" type="q72:T_OA_HIREAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHireAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHireAppResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHireApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="hireAppObj" nillable="true" type="q73:T_OA_HIREAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHireAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHireAppResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHireApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="hireAppID" nillable="true" type="q74:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHireAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHireAppResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireAppHouseListPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q75:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q76:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireAppHouseListPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetHireAppHouseListPagingResult" nillable="true" type="q77:ArrayOfT_OA_HOUSEINFO" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberHireHouseAppListPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q78:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q79:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberHireHouseAppListPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetMemberHireHouseAppListPagingResult" nillable="true" type="q80:ArrayOfV_HouseHireList" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireRecordByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecordID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireRecordByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetHireRecordByIDResult" nillable="true" type="q81:ArrayOfT_OA_HIRERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHireRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="RecordObj" nillable="true" type="q82:T_OA_HIRERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHireRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHireRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHireRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="RecordObj" nillable="true" type="q83:T_OA_HIRERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHireRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHireRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireRecordListPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q84:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUser" nillable="true" type="q85:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHireRecordListPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL.Views" minOccurs="0" name="GetHireRecordListPagingResult" nillable="true" type="q86:ArrayOfV_HireRecord" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseIssueAndNoticeInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="postIDs" nillable="true" type="q87:ArrayOfstring" />
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="companyIDs" nillable="true" type="q88:ArrayOfstring" />
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="departmentIDs" nillable="true" type="q89:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseIssueAndNoticeInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL" minOccurs="0" name="GetHouseIssueAndNoticeInfosResult" nillable="true" type="q90:ArrayOfV_SystemNotice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseIssueAndNoticeInfosToMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="DataCount" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="postIDs" nillable="true" type="q91:ArrayOfstring" />
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="companyIDs" nillable="true" type="q92:ArrayOfstring" />
        <xs:element xmlns:q93="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="departmentIDs" nillable="true" type="q93:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseIssueAndNoticeInfosToMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL" minOccurs="0" name="GetHouseIssueAndNoticeInfosToMobileResult" nillable="true" type="q94:ArrayOfV_SystemNotice" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="DataCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysNoticeByFormidToMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="postIDs" nillable="true" type="q95:ArrayOfstring" />
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="companyIDs" nillable="true" type="q96:ArrayOfstring" />
        <xs:element xmlns:q97="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="departmentIDs" nillable="true" type="q97:ArrayOfstring" />
        <xs:element minOccurs="0" name="formid" nillable="true" type="xs:string" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL" minOccurs="0" name="Preview" nillable="true" type="q98:V_SystemNotice" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL" minOccurs="0" name="Next" nillable="true" type="q99:V_SystemNotice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysNoticeByFormidToMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetSysNoticeByFormidToMobileResult" nillable="true" type="q100:T_OA_SENDDOC" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL" minOccurs="0" name="Preview" nillable="true" type="q101:V_SystemNotice" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.DAL" minOccurs="0" name="Next" nillable="true" type="q102:V_SystemNotice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeHireRecordFee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeHireRecordFeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeHireRecordFeeResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FromEngineToAddHireRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HireAppID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FromEngineToAddHireRecordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VConserVation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VConserVationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Get_VConserVationResult" nillable="true" type="q103:T_OA_CONSERVATION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConserVationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q104:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConserVationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetConserVationListResult" nillable="true" type="q105:ArrayOfT_OA_CONSERVATION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sel_VCCheckeds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q106="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q106:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q107="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="guidStringList" nillable="true" type="q107:ArrayOfstring" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sel_VCCheckedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Sel_VCCheckedsResult" nillable="true" type="q108:ArrayOfT_OA_CONSERVATION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConserVation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfo" nillable="true" type="q109:T_OA_CONSERVATION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConserVationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddConserVationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConserVation_i">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfo" nillable="true" type="q110:T_OA_CONSERVATION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConserVation_iResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddConserVation_iResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConserVation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfo" nillable="true" type="q111:T_OA_CONSERVATION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConserVationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateConserVationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConserVation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfo" nillable="true" type="q112:T_OA_CONSERVATION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConserVationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteConserVationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConserVationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfoList" nillable="true" type="q113:ArrayOfT_OA_CONSERVATION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConserVationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteConserVationListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VCRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VCRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Get_VCRecordResult" nillable="true" type="q114:T_OA_CONSERVATIONRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VCRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q115="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q115:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q116:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VCRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Get_VCRecordsResult" nillable="true" type="q117:ArrayOfT_OA_CONSERVATIONRECORD" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_VCRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="info" nillable="true" type="q118:T_OA_CONSERVATIONRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_VCRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_VCRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upd_VCRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="info" nillable="true" type="q119:T_OA_CONSERVATIONRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upd_VCRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Upd_VCRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Del_VCRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="lst" nillable="true" type="q120:ArrayOfT_OA_CONSERVATIONRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Del_VCRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Del_VCRecordsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleInfoListByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q121="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q121:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleInfoListByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetVehicleInfoListByPageResult" nillable="true" type="q122:ArrayOfT_OA_VEHICLE" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleInfoList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetVehicleInfoListResult" nillable="true" type="q123:ArrayOfT_OA_VEHICLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCanUseVehicleInfoList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCanUseVehicleInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetCanUseVehicleInfoListResult" nillable="true" type="q124:ArrayOfT_OA_VEHICLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="searchVehicleInfo" nillable="true" type="q125:T_OA_VEHICLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVehicleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="searchVehicleList" nillable="true" type="q126:ArrayOfT_OA_VEHICLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVehicleListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="searchVehicleList" nillable="true" type="q127:ArrayOfT_OA_VEHICLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVehicleListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="searchVehicle" nillable="true" type="q128:T_OA_VEHICLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVehicleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="searchVehicleList" nillable="true" type="q129:ArrayOfT_OA_VEHICLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVehicleListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VICard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VICardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Get_VICardResult" nillable="true" type="q130:ArrayOfT_OA_VEHICLECARD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_VICard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="lstAdd" nillable="true" type="q131:ArrayOfT_OA_VEHICLECARD" />
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="lstUpd" nillable="true" type="q132:ArrayOfT_OA_VEHICLECARD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_VICardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Save_VICardResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Del_VICard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q133:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Del_VICardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Del_VICardResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccidentRecordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q134="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q134:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccidentRecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetAccidentRecordListResult" nillable="true" type="q135:ArrayOfT_OA_ACCIDENTRECORD" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccidentRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfo" nillable="true" type="q136:T_OA_ACCIDENTRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccidentRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAccidentRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccidentRecordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfoList" nillable="true" type="q137:ArrayOfT_OA_ACCIDENTRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccidentRecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAccidentRecordListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccidentRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfo" nillable="true" type="q138:T_OA_ACCIDENTRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccidentRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAccidentRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccidentRecordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfoList" nillable="true" type="q139:ArrayOfT_OA_ACCIDENTRECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccidentRecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAccidentRecordListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccidentRecordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ApprovalInfoId" nillable="true" type="q140:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccidentRecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAccidentRecordListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VMApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VMAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Get_VMAppResult" nillable="true" type="q141:T_OA_MAINTENANCEAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VMAppChecked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q142="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q142:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VMAppCheckedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Get_VMAppCheckedResult" nillable="true" type="q143:ArrayOfT_OA_MAINTENANCEAPP" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaintenanceAppList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q144="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q144:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaintenanceAppListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetMaintenanceAppListResult" nillable="true" type="q145:ArrayOfT_OA_MAINTENANCEAPP" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMaintenanceApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfo" nillable="true" type="q146:T_OA_MAINTENANCEAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMaintenanceAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMaintenanceAppResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMaintenanceApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfo" nillable="true" type="q147:T_OA_MAINTENANCEAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMaintenanceAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMaintenanceAppResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMaintenanceApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfo" nillable="true" type="q148:T_OA_MAINTENANCEAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMaintenanceAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMaintenanceAppResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMaintenanceAppList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="cvInfoList" nillable="true" type="q149:ArrayOfT_OA_MAINTENANCEAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMaintenanceAppListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMaintenanceAppListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VMRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VMRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Get_VMRecordResult" nillable="true" type="q150:T_OA_MAINTENANCERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VMRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q151="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q151:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VMRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Get_VMRecordsResult" nillable="true" type="q152:ArrayOfT_OA_MAINTENANCERECORD" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_VMRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="info" nillable="true" type="q153:T_OA_MAINTENANCERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_VMRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_VMRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upd_VMRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="info" nillable="true" type="q154:T_OA_MAINTENANCERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upd_VMRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Upd_VMRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Del_VMRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="lst" nillable="true" type="q155:ArrayOfT_OA_MAINTENANCERECORD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Del_VMRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Del_VMRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Gets_VDInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q156="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q156:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginUserInfo" nillable="true" type="q157:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gets_VDInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Gets_VDInfoResult" nillable="true" type="q158:ArrayOfT_OA_VEHICLEDISPATCH" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gets_VDChecked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q159="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q159:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/SMT.SaaS.OA.Services" minOccurs="0" name="loginInfo" nillable="true" type="q160:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gets_VDCheckedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Gets_VDCheckedResult" nillable="true" type="q161:ArrayOfT_OA_VEHICLEDISPATCH" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gets_VDAndDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q162="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q162:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gets_VDAndDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Gets_VDAndDetailResult" nillable="true" type="q163:ArrayOfT_OA_VEHICLEDISPATCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ByParentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ByParentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="Get_ByParentIDResult" nillable="true" type="q164:ArrayOfT_OA_VEHICLEUSEAPP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicleDispatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vehicleDispatchInfo" nillable="true" type="q165:T_OA_VEHICLEDISPATCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicleDispatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVehicleDispatchResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicleDispatchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vehicleDispatchList" nillable="true" type="q166:ArrayOfT_OA_VEHICLEDISPATCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicleDispatchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVehicleDispatchListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleDispatchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="vehicleDispatchList" nillable="true" type="q167:ArrayOfT_OA_VEHICLEDISPATCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleDispatchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVehicleDispatchListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>