Smt_Tool/SMT.SaaS.AttendanceLogs_2013最新导入打卡记录（新打卡机）/SMT.AttendanceLogs.UI/Service References/PermissionWS/PermissionService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.Permission.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Permission.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departmentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUserInfo" nillable="true" type="tns:LoginUserInfo" />
</xs:schema>