SMT.HR.AttendaceAccount/SMT.HR.Attendace/Service References/OAWS/AgentServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://portal.smt-online.net/New/Services/OA/AgentServices.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://portal.smt-online.net/New/Services/OA/AgentServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://portal.smt-online.net/New/Services/OA/AgentServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT_HRM_EFModel" />
      <xsd:import schemaLocation="http://portal.smt-online.net/New/Services/OA/AgentServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://portal.smt-online.net/New/Services/OA/AgentServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AgentServices_GetQueryAgent_InputMessage">
    <wsdl:part name="parameters" element="GetQueryAgent" />
  </wsdl:message>
  <wsdl:message name="AgentServices_GetQueryAgent_OutputMessage">
    <wsdl:part name="parameters" element="GetQueryAgentResponse" />
  </wsdl:message>
  <wsdl:message name="AgentServices_UpdateEntityXML_InputMessage">
    <wsdl:part name="parameters" element="UpdateEntityXML" />
  </wsdl:message>
  <wsdl:message name="AgentServices_UpdateEntityXML_OutputMessage">
    <wsdl:part name="parameters" element="UpdateEntityXMLResponse" />
  </wsdl:message>
  <wsdl:message name="AgentServices_GetAppConfigByName_InputMessage">
    <wsdl:part name="parameters" element="GetAppConfigByName" />
  </wsdl:message>
  <wsdl:message name="AgentServices_GetAppConfigByName_OutputMessage">
    <wsdl:part name="parameters" element="GetAppConfigByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="AgentServices">
    <wsdl:operation name="GetQueryAgent">
      <wsdl:input wsaw:Action="urn:AgentServices/GetQueryAgent" message="AgentServices_GetQueryAgent_InputMessage" />
      <wsdl:output wsaw:Action="urn:AgentServices/GetQueryAgentResponse" message="AgentServices_GetQueryAgent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEntityXML">
      <wsdl:input wsaw:Action="urn:AgentServices/UpdateEntityXML" message="AgentServices_UpdateEntityXML_InputMessage" />
      <wsdl:output wsaw:Action="urn:AgentServices/UpdateEntityXMLResponse" message="AgentServices_UpdateEntityXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppConfigByName">
      <wsdl:input wsaw:Action="urn:AgentServices/GetAppConfigByName" message="AgentServices_GetAppConfigByName_InputMessage" />
      <wsdl:output wsaw:Action="urn:AgentServices/GetAppConfigByNameResponse" message="AgentServices_GetAppConfigByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>