SMT.SaaS.FrameWorkUI/SMT.SaaS.BLLCommonServices/Service References/MVCCacheSV/CacheService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common.Login" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common.Login" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginUserBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrganizationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUserBase" nillable="true" type="tns:LoginUserBase" />
</xs:schema>