SMT.SaaS.FrameWorkUI/SMT.SaaS.BLLCommonServices/Service References/MVCCacheSV/CacheService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.Services.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Services.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smtdev.smt-online.net/New/Services/CommonServices/CacheService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/SMT.Entities.HR" />
  <xs:import schemaLocation="http://smtdev.smt-online.net/New/Services/CommonServices/CacheService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common.Login" />
  <xs:complexType name="LoginUser">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.SaaS.Common.Login" base="q1:LoginUserBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmployeeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmployeeState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SysUserID" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT.Entities.HR" minOccurs="0" name="UserPosts" nillable="true" type="q2:ArrayOfPostInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginUser" nillable="true" type="tns:LoginUser" />
</xs:schema>