SMT.SaaS.FrameWorkUI/SMT.Saas.Tools/Service References/DailyManagementWS/DailyManagementServices61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.1.57/New/Services/SMTFBAService/DailyManagementServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" />
  <xs:import schemaLocation="http://172.16.1.57/New/Services/SMTFBAService/DailyManagementServices.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetInfoResult" nillable="true" type="q1:ArrayOfT_FB_BORROWAPPLYDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowApplyMasterListForRepay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strOwnerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dIsRepaied" type="xs:decimal" />
        <xs:element minOccurs="0" name="dCheckStates" type="xs:decimal" />
        <xs:element minOccurs="0" name="strFilter" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objArgs" nillable="true" type="q2:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowApplyMasterListForRepayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetBorrowApplyMasterListForRepayResult" nillable="true" type="q3:ArrayOfT_FB_BORROWAPPLYMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowApps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paras" nillable="true" type="q4:ArrayOfanyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="guidStringList" nillable="true" type="q5:ArrayOfstring" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowAppsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBorrowAppsResult" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masterId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetInfoByIdResult" nillable="true" type="q6:T_FB_BORROWAPPLYDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetMasterDataResult" nillable="true" type="q7:ArrayOfT_FB_BORROWAPPLYMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="borrowKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetChildDataResult" nillable="true" type="q8:T_FB_BORROWAPPLYMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBorrowApply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="masterKey" nillable="true" type="q9:T_FB_BORROWAPPLYMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBorrowApplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBorrowApplyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdBorrowApply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="updataKey" nillable="true" type="q10:T_FB_BORROWAPPLYMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdBorrowApplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdBorrowApplyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelMasterDataById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="masterList" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelMasterDataByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelMasterDataByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowApplyDetailByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBorrowApplyDetailId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowApplyDetailByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetBorrowApplyDetailByIDResult" nillable="true" type="q12:T_FB_BORROWAPPLYDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowApplyDetailByMasterID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objBorrowApplyMasterId" nillable="true" type="q13:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowApplyDetailByMasterIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetBorrowApplyDetailByMasterIDResult" nillable="true" type="q14:ArrayOfT_FB_BORROWAPPLYDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowApplyDetailListByMultSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFilter" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objArgs" nillable="true" type="q15:ArrayOfanyType" />
        <xs:element minOccurs="0" name="strSortKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowApplyDetailListByMultSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetBorrowApplyDetailListByMultSearchResult" nillable="true" type="q16:ArrayOfT_FB_BORROWAPPLYDETAIL" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowApplyMasterByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBorrowApplyMasterId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowApplyMasterByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetBorrowApplyMasterByIDResult" nillable="true" type="q17:T_FB_BORROWAPPLYMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowApplyMasterListByMultSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDateStart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDateEnd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFilter" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objArgs" nillable="true" type="q18:ArrayOfanyType" />
        <xs:element minOccurs="0" name="strSortKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowApplyMasterListByMultSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetBorrowApplyMasterListByMultSearchResult" nillable="true" type="q19:ArrayOfT_FB_BORROWAPPLYMASTER" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBorrowApplyMasterAndDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="borrowMaster" nillable="true" type="q20:T_FB_BORROWAPPLYMASTER" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="borrowDetail" nillable="true" type="q21:ArrayOfT_FB_BORROWAPPLYDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBorrowApplyMasterAndDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBorrowApplyMasterAndDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptBorrowApplyMasterAndDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strActionType" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="borrowMaster" nillable="true" type="q22:T_FB_BORROWAPPLYMASTER" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="borrowDetails" nillable="true" type="q23:ArrayOfT_FB_BORROWAPPLYDETAIL" />
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptBorrowApplyMasterAndDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelBorrowApplyMasterAndDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="borrowMasterID" nillable="true" type="q24:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelBorrowApplyMasterAndDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelBorrowApplyMasterAndDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptBorrowApplyCheckState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="entity" nillable="true" type="q25:T_FB_BORROWAPPLYMASTER" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="borrowDetail" nillable="true" type="q26:ArrayOfT_FB_BORROWAPPLYDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptBorrowApplyCheckStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UptBorrowApplyCheckStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowOrderCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="entity" nillable="true" type="q27:T_FB_BORROWAPPLYMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowOrderCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBorrowOrderCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetAccountByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBudgetAccountId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetAccountByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetBudgetAccountByIDResult" nillable="true" type="q28:T_FB_BUDGETACCOUNT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetAccountByPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strOwnerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOwnerPostID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOwnerCompanyID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetAccountByPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetBudgetAccountByPersonResult" nillable="true" type="q29:ArrayOfT_FB_BUDGETACCOUNT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetAccountListByMultSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFilter" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objArgs" nillable="true" type="q30:ArrayOfanyType" />
        <xs:element minOccurs="0" name="strSortKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="accountType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetAccountListByMultSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetBudgetAccountListByMultSearchResult" nillable="true" type="q31:ArrayOfT_FB_BUDGETACCOUNT" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeApplyDetailByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strChargeApplyDetailId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeApplyDetailByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetChargeApplyDetailByIDResult" nillable="true" type="q32:T_FB_CHARGEAPPLYDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeApplyDetailListByMultSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFilter" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objArgs" nillable="true" type="q33:ArrayOfanyType" />
        <xs:element minOccurs="0" name="strSortKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeApplyDetailListByMultSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetChargeApplyDetailListByMultSearchResult" nillable="true" type="q34:ArrayOfT_FB_CHARGEAPPLYDETAIL" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeApplyMasterByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strChargeApplyMasterId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeApplyMasterByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetChargeApplyMasterByIDResult" nillable="true" type="q35:T_FB_CHARGEAPPLYMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeApplyDetailByMasterID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objChargeApplyMasterId" nillable="true" type="q36:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeApplyDetailByMasterIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetChargeApplyDetailByMasterIDResult" nillable="true" type="q37:ArrayOfT_FB_CHARGEAPPLYDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeApplyRepayDetailByMasterID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strChargeApplyMasterId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeApplyRepayDetailByMasterIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetChargeApplyRepayDetailByMasterIDResult" nillable="true" type="q38:ArrayOfT_FB_CHARGEAPPLYREPAYDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeApplyMasterListByMultSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDateStart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDateEnd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFilter" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objArgs" nillable="true" type="q39:ArrayOfanyType" />
        <xs:element minOccurs="0" name="strSortKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeApplyMasterListByMultSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetChargeApplyMasterListByMultSearchResult" nillable="true" type="q40:ArrayOfT_FB_CHARGEAPPLYMASTER" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChargeApplyMasterAndDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="chargeMaster" nillable="true" type="q41:T_FB_CHARGEAPPLYMASTER" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="chargeDetail" nillable="true" type="q42:ArrayOfT_FB_CHARGEAPPLYDETAIL" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="chargeRepDetail" nillable="true" type="q43:ArrayOfT_FB_CHARGEAPPLYREPAYDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChargeApplyMasterAndDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddChargeApplyMasterAndDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptChargeApplyMasterAndDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strActionType" nillable="true" type="xs:string" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="chargeMaster" nillable="true" type="q44:T_FB_CHARGEAPPLYMASTER" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="chargeDetail" nillable="true" type="q45:ArrayOfT_FB_CHARGEAPPLYDETAIL" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="chargeRepDetail" nillable="true" type="q46:ArrayOfT_FB_CHARGEAPPLYREPAYDETAIL" />
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptChargeApplyMasterAndDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelChargeApplyMasterAndDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="chargeMasterID" nillable="true" type="q47:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelChargeApplyMasterAndDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelChargeApplyMasterAndDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptChargeApplyCheckState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="entity" nillable="true" type="q48:T_FB_CHARGEAPPLYMASTER" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="chargeDetail" nillable="true" type="q49:ArrayOfT_FB_CHARGEAPPLYDETAIL" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="chargeRepDetail" nillable="true" type="q50:ArrayOfT_FB_CHARGEAPPLYREPAYDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptChargeApplyCheckStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UptChargeApplyCheckStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeOrderCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="entity" nillable="true" type="q51:T_FB_CHARGEAPPLYMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeOrderCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChargeOrderCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtensionalOrderByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strExtensionalOrderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtensionalOrderByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetExtensionalOrderByIDResult" nillable="true" type="q52:T_FB_EXTENSIONALORDER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayApplyDetailByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strRepayApplyDetailId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayApplyDetailByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetRepayApplyDetailByIDResult" nillable="true" type="q53:T_FB_REPAYAPPLYDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayApplyDetailListByMasterID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strRepayApplyMasterId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayApplyDetailListByMasterIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetRepayApplyDetailListByMasterIDResult" nillable="true" type="q54:ArrayOfT_FB_REPAYAPPLYDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayApplyDetailListByMultSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFilter" nillable="true" type="xs:string" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objArgs" nillable="true" type="q55:ArrayOfanyType" />
        <xs:element minOccurs="0" name="strSortKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayApplyDetailListByMultSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetRepayApplyDetailListByMultSearchResult" nillable="true" type="q56:ArrayOfT_FB_REPAYAPPLYDETAIL" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayApplyMasterByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strRepayApplyMasterId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayApplyMasterByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetRepayApplyMasterByIDResult" nillable="true" type="q57:T_FB_REPAYAPPLYMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayApplyMasterListByMultSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDateStart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDateEnd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFilter" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objArgs" nillable="true" type="q58:ArrayOfanyType" />
        <xs:element minOccurs="0" name="strSortKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayApplyMasterListByMultSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetRepayApplyMasterListByMultSearchResult" nillable="true" type="q59:ArrayOfT_FB_REPAYAPPLYMASTER" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRepayApplyMasterAndDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="repayMaster" nillable="true" type="q60:T_FB_REPAYAPPLYMASTER" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="repayDetail" nillable="true" type="q61:ArrayOfT_FB_REPAYAPPLYDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRepayApplyMasterAndDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRepayApplyMasterAndDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptRepayApplyMasterAndDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strActionType" nillable="true" type="xs:string" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="repayMaster" nillable="true" type="q62:T_FB_REPAYAPPLYMASTER" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="repayDetail" nillable="true" type="q63:ArrayOfT_FB_REPAYAPPLYDETAIL" />
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptRepayApplyMasterAndDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRepayApplyMasterAndDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="repayMasterID" nillable="true" type="q64:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRepayApplyMasterAndDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRepayApplyMasterAndDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptRepayApplyCheckState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="entity" nillable="true" type="q65:T_FB_REPAYAPPLYMASTER" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="repayDetail" nillable="true" type="q66:ArrayOfT_FB_REPAYAPPLYDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptRepayApplyCheckStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UptRepayApplyCheckStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayOrderCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="entity" nillable="true" type="q67:T_FB_REPAYAPPLYMASTER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayOrderCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRepayOrderCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonAccountListByMultSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFilter" nillable="true" type="xs:string" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objArgs" nillable="true" type="q68:ArrayOfanyType" />
        <xs:element minOccurs="0" name="strSortKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonAccountListByMultSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SMT_FB_EFModel" minOccurs="0" name="GetPersonAccountListByMultSearchResult" nillable="true" type="q69:ArrayOfT_FB_PERSONACCOUNT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>