SMT.SaaS.FrameWorkUI/SMT.Saas.Tools/Service References/DailyManagementWS/DailyManagementServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.FBAnalysis.CustomModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.FBAnalysis.CustomModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfV_ChargeApplyReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_ChargeApplyReport" nillable="true" type="tns:V_ChargeApplyReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_ChargeApplyReport" nillable="true" type="tns:ArrayOfV_ChargeApplyReport" />
  <xs:complexType name="V_ChargeApplyReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="BANKADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BANKCARDNUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BANKID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHARGEAPPLYMASTERCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEECNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTALMONEY" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_ChargeApplyReport" nillable="true" type="tns:V_ChargeApplyReport" />
</xs:schema>