SMT.SaaS.FrameWorkUI/SMT.Saas.Tools/Service References/TravelPrintWS/TravrlPrintServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3938/TravrlPrintServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" />
  <xs:element name="GetTravelReimbursementDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detailId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravelReimbursementDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT_OA_EFModel" minOccurs="0" name="GetTravelReimbursementDetailResult" nillable="true" type="q1:ArrayOfT_OA_REIMBURSEMENTDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>