SMT.SaaS.FrameWorkUI/SMT.SaaS.BLLCommonServices/Service References/FbDailyUpdateCheckStateWS/DailyUpdateCheckStateService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UpdateCheckState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strEntityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EntityKeyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EntityKeyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CheckState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCheckStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCheckStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>