SMT.SaaS.FrameWorkUI/SMT.Saas.Tools/Service References/UseractWS/UseractLogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UseractLogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_UseractLogService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1604/UseractLogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1604/UseractLogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1604/UseractLogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT_System_EFModel" />
      <xsd:import schemaLocation="http://localhost:1604/UseractLogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:1604/UseractLogService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:1604/UseractLogService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1604/UseractLogService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.Permission.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UseractLogService_AddUseractLog_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUseractLog" />
  </wsdl:message>
  <wsdl:message name="UseractLogService_AddUseractLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUseractLogResponse" />
  </wsdl:message>
  <wsdl:message name="UseractLogService_UpdateUseractLog_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUseractLog" />
  </wsdl:message>
  <wsdl:message name="UseractLogService_UpdateUseractLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUseractLogResponse" />
  </wsdl:message>
  <wsdl:message name="UseractLogService_DeleteUseractLog_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUseractLog" />
  </wsdl:message>
  <wsdl:message name="UseractLogService_DeleteUseractLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUseractLogResponse" />
  </wsdl:message>
  <wsdl:message name="UseractLogService_GetSysUseractLogWithPaging_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSysUseractLogWithPaging" />
  </wsdl:message>
  <wsdl:message name="UseractLogService_GetSysUseractLogWithPaging_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSysUseractLogWithPagingResponse" />
  </wsdl:message>
  <wsdl:message name="UseractLogService_GetSysUseractLogList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSysUseractLogList" />
  </wsdl:message>
  <wsdl:message name="UseractLogService_GetSysUseractLogList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSysUseractLogListResponse" />
  </wsdl:message>
  <wsdl:message name="UseractLogService_GetSysUseractLogByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSysUseractLogByID" />
  </wsdl:message>
  <wsdl:message name="UseractLogService_GetSysUseractLogByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSysUseractLogByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="UseractLogService">
    <wsdl:operation name="AddUseractLog">
      <wsdl:input wsaw:Action="http://tempuri.org/UseractLogService/AddUseractLog" message="tns:UseractLogService_AddUseractLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UseractLogService/AddUseractLogResponse" message="tns:UseractLogService_AddUseractLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUseractLog">
      <wsdl:input wsaw:Action="http://tempuri.org/UseractLogService/UpdateUseractLog" message="tns:UseractLogService_UpdateUseractLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UseractLogService/UpdateUseractLogResponse" message="tns:UseractLogService_UpdateUseractLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUseractLog">
      <wsdl:input wsaw:Action="http://tempuri.org/UseractLogService/DeleteUseractLog" message="tns:UseractLogService_DeleteUseractLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UseractLogService/DeleteUseractLogResponse" message="tns:UseractLogService_DeleteUseractLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSysUseractLogWithPaging">
      <wsdl:input wsaw:Action="http://tempuri.org/UseractLogService/GetSysUseractLogWithPaging" message="tns:UseractLogService_GetSysUseractLogWithPaging_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UseractLogService/GetSysUseractLogWithPagingResponse" message="tns:UseractLogService_GetSysUseractLogWithPaging_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSysUseractLogList">
      <wsdl:input wsaw:Action="http://tempuri.org/UseractLogService/GetSysUseractLogList" message="tns:UseractLogService_GetSysUseractLogList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UseractLogService/GetSysUseractLogListResponse" message="tns:UseractLogService_GetSysUseractLogList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSysUseractLogByID">
      <wsdl:input wsaw:Action="http://tempuri.org/UseractLogService/GetSysUseractLogByID" message="tns:UseractLogService_GetSysUseractLogByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UseractLogService/GetSysUseractLogByIDResponse" message="tns:UseractLogService_GetSysUseractLogByID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_UseractLogService" type="tns:UseractLogService">
    <wsp:PolicyReference URI="#CustomBinding_UseractLogService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUseractLog">
      <soap12:operation soapAction="http://tempuri.org/UseractLogService/AddUseractLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUseractLog">
      <soap12:operation soapAction="http://tempuri.org/UseractLogService/UpdateUseractLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUseractLog">
      <soap12:operation soapAction="http://tempuri.org/UseractLogService/DeleteUseractLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysUseractLogWithPaging">
      <soap12:operation soapAction="http://tempuri.org/UseractLogService/GetSysUseractLogWithPaging" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysUseractLogList">
      <soap12:operation soapAction="http://tempuri.org/UseractLogService/GetSysUseractLogList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysUseractLogByID">
      <soap12:operation soapAction="http://tempuri.org/UseractLogService/GetSysUseractLogByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UseractLogService">
    <wsdl:port name="CustomBinding_UseractLogService" binding="tns:CustomBinding_UseractLogService">
      <soap12:address location="http://localhost:1604/UseractLogService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:1604/UseractLogService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>