SMT.SaaS.FrameWorkUI/SMT.SaaS.BLLCommonServices/Service References/TokenServiceWS/TokenService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.SaaS.TokenService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.TokenService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TokenResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenResult" nillable="true" type="tns:TokenResult" />
</xs:schema>