SMT.SaaS.PublicInterface/TestInterface/Service References/ContentServiceWS/ContentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10007/ContentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10007/ContentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10007/ContentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMT.SaaS.PublicInterface.BLL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContentService_GetContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContent" />
  </wsdl:message>
  <wsdl:message name="IContentService_GetContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContentResponse" />
  </wsdl:message>
  <wsdl:message name="IContentService_DeleteContent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContent" />
  </wsdl:message>
  <wsdl:message name="IContentService_DeleteContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContentResponse" />
  </wsdl:message>
  <wsdl:message name="IContentService_UpdateContent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContent" />
  </wsdl:message>
  <wsdl:message name="IContentService_UpdateContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContentResponse" />
  </wsdl:message>
  <wsdl:message name="IContentService_AddContent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContent" />
  </wsdl:message>
  <wsdl:message name="IContentService_AddContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContentResponse" />
  </wsdl:message>
  <wsdl:message name="IContentService_IsExits_InputMessage">
    <wsdl:part name="parameters" element="tns:IsExits" />
  </wsdl:message>
  <wsdl:message name="IContentService_IsExits_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsExitsResponse" />
  </wsdl:message>
  <wsdl:portType name="IContentService">
    <wsdl:operation name="GetContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentService/GetContent" message="tns:IContentService_GetContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentService/GetContentResponse" message="tns:IContentService_GetContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentService/DeleteContent" message="tns:IContentService_DeleteContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentService/DeleteContentResponse" message="tns:IContentService_DeleteContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentService/UpdateContent" message="tns:IContentService_UpdateContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentService/UpdateContentResponse" message="tns:IContentService_UpdateContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentService/AddContent" message="tns:IContentService_AddContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentService/AddContentResponse" message="tns:IContentService_AddContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsExits">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentService/IsExits" message="tns:IContentService_IsExits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentService/IsExitsResponse" message="tns:IContentService_IsExits_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContentService" type="tns:IContentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContent">
      <soap:operation soapAction="http://tempuri.org/IContentService/GetContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <soap:operation soapAction="http://tempuri.org/IContentService/DeleteContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContent">
      <soap:operation soapAction="http://tempuri.org/IContentService/UpdateContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContent">
      <soap:operation soapAction="http://tempuri.org/IContentService/AddContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExits">
      <soap:operation soapAction="http://tempuri.org/IContentService/IsExits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContentService">
    <wsdl:port name="BasicHttpBinding_IContentService" binding="tns:BasicHttpBinding_IContentService">
      <soap:address location="http://localhost:10007/ContentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>