TM.SaaS.OA/FrameWork/SMT.Saas.Tools/Service References/FlowDesignerWS/SMT.FlowDesigner.ViewModel1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.FlowDesigner.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFLOW_MODELFLOWRELATION_V">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FLOW_MODELFLOWRELATION_V" nillable="true" type="tns:FLOW_MODELFLOWRELATION_V" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFLOW_MODELFLOWRELATION_V" nillable="true" type="tns:ArrayOfFLOW_MODELFLOWRELATION_V" />
  <xs:complexType name="FLOW_MODELFLOWRELATION_V">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDITDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EDITUSERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOWDESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOWTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODELDESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODELFLOWRELATIONID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYSTEMCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FLOW_MODELFLOWRELATION_V" nillable="true" type="tns:FLOW_MODELFLOWRELATION_V" />
  <xs:complexType name="ArrayOfFLOW_FLOWDEFINE_V">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FLOW_FLOWDEFINE_V" nillable="true" type="tns:FLOW_FLOWDEFINE_V" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFLOW_FLOWDEFINE_V" nillable="true" type="tns:ArrayOfFLOW_FLOWDEFINE_V" />
  <xs:complexType name="FLOW_FLOWDEFINE_V">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATECOMPANYID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATEDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATEUSERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDITDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EDITUSERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOWCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOWDEFINEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOWTYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FLOW_FLOWDEFINE_V" nillable="true" type="tns:FLOW_FLOWDEFINE_V" />
</xs:schema>