SMT.HR.AttendaceAccount/SMT.HR.Attendace/Service References/AttendWS/AttendanceService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMT.HRM.CustomModel.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeVacationUpdateEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalDays" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalHours" type="xs:decimal" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VacationType" type="xs:int" />
      <xs:element minOccurs="0" name="YearPeriod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeVacationUpdateEntity" nillable="true" type="tns:EmployeeVacationUpdateEntity" />
  <xs:complexType name="CalculateOTHoursRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverTimeRecordID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculateOTHoursRequest" nillable="true" type="tns:CalculateOTHoursRequest" />
  <xs:complexType name="CaculateLeaveHoursRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSave" type="xs:boolean" />
      <xs:element minOccurs="0" name="LeaveRecordID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeaveTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeaveTypeValue" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaculateLeaveHoursRequest" nillable="true" type="tns:CaculateLeaveHoursRequest" />
  <xs:complexType name="EmployeeVacationDayCountRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OwnerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeVacationDayCountRequest" nillable="true" type="tns:EmployeeVacationDayCountRequest" />
  <xs:complexType name="CalculateLeaveCancelRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeaveRecordID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeaveTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeaveTypeValue" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculateLeaveCancelRequest" nillable="true" type="tns:CalculateLeaveCancelRequest" />
  <xs:complexType name="VacationForAdjustRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VacationForAdjustRequest" nillable="true" type="tns:VacationForAdjustRequest" />
</xs:schema>