SMT.SaaS.FrameWorkUI/SMT.Saas.Tools/Service References/FBServiceWS/FBService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23938/FBService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfUserInfoUserInfo7XTFRAOD">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfUserInfoUserInfo7XTFRAOD">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" name="Key" nillable="true" type="q1:UserInfo" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" name="Value" nillable="true" type="q2:UserInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfUserInfoUserInfo7XTFRAOD" nillable="true" type="tns:ArrayOfKeyValueOfUserInfoUserInfo7XTFRAOD" />
  <xs:complexType name="ArrayOfKeyValueOfRole_UserTypeArrayOfUserInfo7XTFRAOD">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfRole_UserTypeArrayOfUserInfo7XTFRAOD">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" name="Key" nillable="true" type="q3:Role_UserType" />
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMT.FlowWFService" name="Value" nillable="true" type="q4:ArrayOfUserInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfRole_UserTypeArrayOfUserInfo7XTFRAOD" nillable="true" type="tns:ArrayOfKeyValueOfRole_UserTypeArrayOfUserInfo7XTFRAOD" />
</xs:schema>